<app-header></app-header>

<section id="fpass-section">

    <div id="fpass-container" *ngIf="fpassSuccess == 0">

        <div class="container">

            <h1 id="title" class="text-center">Restablir contrasenya</h1>

            <form [formGroup]="fpassForm" (ngSubmit)="onLogin()">
                <div class="form-group" [ngClass]="{'has-errors' : formErrors.email}">
                    <label for="InputCorreu">Correu electrònic</label>
                    <input formControlName="email" type="email" class="form-control" id="InputCorreu" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
                </div>
                <div class="text-center">
                    <button id="btn-login" class="btn btn-primary">ENVIAR</button>
                </div>
            </form>
            <hr>
            <p id="no-user">
                Si necessites més ajuda, contacta amb el <a routerLink='/homepage'>centre d'ajuda</a>
            </p>
        </div>
        
    </div>

    <div id="fpass-container" *ngIf="fpassSuccess == 1">

        <div class="container">

            <h1 id="title" class="text-center">Restablir contrasenya</h1>
            <p>T'hem enviat un correu electrònic amb les instruccions per tornar a establir la contrasenya.</p>

        </div>
        
    </div>

</section>

<app-footer></app-footer>