* {
    font-family: 'WorkSans-Regular';
    color: #020e7d;
    font-size: 16px;
}

.navbar {
    padding: 0;
}

.hrheaderlinks li {
    cursor: pointer;
}

#hubrock-header {
    padding: 21px 5% 5px;
}

#hubrock-header a {
    font-family: 'WorkSans-Regular';
    color: #020e7d;
}

#hubrock-header li a:hover {
    color: #00e292;
}

/* #hubrock-header #logo {
    max-width: 145px;
    max-height: 48px;
    cursor: pointer;
} */
#hubrock-header #logo {
    max-width: 121px;
    max-height: 40px;
    cursor: pointer;
}

#hubrock-header .nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    cursor: pointer;
}

.nav-links li a:hover {
    color: #00e292;
    text-decoration-line: none;
}
.nav-item a.actiu:hover {
    color: #00e292;
    text-decoration: underline;
}

.hubrock-border-right {
    padding-right: 40px;
    border-right: 1px solid #333;
}

.elimina-link a {
    color: #e74c3c!important;
    cursor: pointer;
}
.elimina-link a:hover {
    color: #f7c1bb!important;
}

@media (max-width: 768px) {
    .headerSeparator {
        display: none;
    }
    .nav-first-item {
        margin-top: 20px;
    }
    /* #navbarSearch, #navbarSearch input{
        min-width: 100%;
    }
    .mobile-column {
        flex-direction: column;
    } */
}

/* @media (min-width: 769px) and (max-width: 991.98px) {
    #mr240px {
        margin-right: 4%;
    }
    #navbarSearch input{
        min-width: 500px;
    }
} */

#navbarSearch input{
    height: 40px;
    border-radius: 8px;
    border: solid 1px #000000;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .w-custom{
        width: 20vw;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    #navbarSearch input{
        min-width: 300px;
    }
    .w-custom{
        width: 30vw;
    }
}
@media (min-width: 1200px) and (max-width: 1499.98px) {
    #navbarSearch input{
        min-width: 30vw;
    }
    .w-custom{
        width: 35vw;
    }
}

@media (min-width: 1500px) {
    #navbarSearch input{
        min-width: 35vw;
    }
    .justify-content-start-mobile {
        justify-content: center;
    }
    .mlautow100{
        margin-left: auto;
        width: 100%;
    }
    .w-custom{
        width: 40vw;
    }
}
.w-40{
    width: 40%;
}


.beneficisEmpreses {
    display: inline-block;
    color: #020e7d;
    font-size: 16px;
    text-decoration: none;
}
.beneficisEmpreses:hover{
    cursor: pointer;
}

.beneficisEmpreses::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #020e7d;
    transition: 300ms;
}

.beneficisEmpreses:hover::after {
    width: 100%;
}

.modal-body-custom {
    padding: 1rem;
}

.modal-body-custom p {
    color: black;
}

.what-btn {
    color: #000000;
    font-size: 17px;
    letter-spacing: -0.9px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #020e7d;
    font-weight: 800;
    font-family: 'WorkSans-Regular';
    width: 206px;
    height: 40px;
    margin-bottom: 28px;
    transition: 0.3s;
}

.what-btn:hover {
    background-color: #020e7d;
    color: white;
}

.actiu {
    font-weight: bold;
    text-decoration: underline;
}