* {
    font-family: 'WorkSans-Regular';
    color: #020e7d;
    font-size: 16px;
}

.navbar {
    padding: 0;
}

.hrheaderlinks li {
    cursor: pointer;
}

#hubrock-header {
    padding: 21px 10%;
}

#hubrock-header a {
    font-family: 'WorkSans-Regular';
    color: #020e7d;
}

#hubrock-header li a:hover {
    color: #00e292;
}

#hubrock-header #logo {
    max-width: 145px;
    max-height: 48px;
    cursor: pointer;
}

#hubrock-header .nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a {
    cursor: pointer;
}

.nav-links li a:hover {
    color: #00e292;
    text-decoration-line: none;
}
.nav-item a.actiu:hover {
    color: #00e292;
    text-decoration: underline;
}

.hubrock-border-right {
    padding-right: 40px;
    border-right: 1px solid #333;
}

.elimina-link a {
    color: #e74c3c!important;
    cursor: pointer;
}
.elimina-link a:hover {
    color: #f7c1bb!important;
}

@media (max-width: 768px) {
    .headerSeparator {
        display: none;
    }
    .nav-first-item {
        margin-top: 20px;
    }

}

.beneficisEmpreses {
    display: inline-block;
    color: #020e7d;
    font-size: 16px;
    text-decoration: none;
}
.beneficisEmpreses:hover{
    cursor: pointer;
}

.beneficisEmpreses::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #020e7d;
    transition: 300ms;
}

.beneficisEmpreses:hover::after {
    width: 100%;
}

.modal-body-custom {
    padding: 1rem;
}

.modal-body-custom p {
    color: black;
}

.what-btn {
    color: #000000;
    font-size: 17px;
    letter-spacing: -0.9px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #020e7d;
    font-weight: 800;
    font-family: 'WorkSans-Regular';
    width: 206px;
    height: 40px;
    margin-bottom: 28px;
    transition: 0.3s;
}

.what-btn:hover {
    background-color: #020e7d;
    color: white;
}

.actiu {
    font-weight: bold;
    text-decoration: underline;
}