<!-- <header id="hubrock-header">
    <img (click)="headerRedirect(1)" id="logo" src="../../../assets/logos/HubRock_NewLogo.png">
    <nav class="nav-links">
        <li><a (click)="headerRedirect(4)" class="font-weight-bold hubrock-border-right">Veure reptes oberts</a></li>
        <li *ngIf="!userLogged"><a (click)="headerRedirect(2)">Dona't d'alta</a></li>
        <li *ngIf="!userLogged"><a (click)="headerRedirect(3)">Entra</a></li>
        <li *ngIf="userLogged && currentUserObject"><a (click)="userProfile()">{{currentUserObject.nom}} {{currentUserObject.cognom}}</a></li>
        <li *ngIf="userLogged" class="elimina-link"><a (click)="userLogout()">Sortir</a></li>
    </nav>
</header> -->
<button id="openCreaRepte" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" [hidden]="true">Large modal</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-custom">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 20px" aria-hidden="true">&times;</span>
                </button>
                <p style="margin: 30px 20px 20px; line-height: normal;" class="text-center">
                    Només les empreses poden crear reptes. Si ets empresa, dona't d'alta o entra al teu compte i comença a crear el repte.
                </p>
                <div class="d-flex justify-content-center">
                    <button style="min-width: 200px;" type="button" class="btn btn-primary what-btn mb-3" data-dismiss="modal">Ok</button>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <a class="beneficisEmpreses mb-3" href="/per-empreses">Beneficis per empreses</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="hubrock-header" class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand"><img (click)="headerRedirect(1)" id="logo" src="../../../assets/logos/HubRock_NewLogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav hrheaderlinks">
                <li class="nav-item nav-first-item">
                    <a [ngClass]='{"actiu" : currentPathMatch("/reptes",0)}' (click)="headerRedirect(4)" class="nav-link mr-3">Veure reptes oberts</a>
                </li>
                <li>
                    <a *ngIf="currentUserObject && !currentUserObject.userType" [ngClass]='{"actiu" : currentPathMatch("/creacio-repte",0)}' href="/creacio-repte" class="nav-link mr-3">Crea un repte</a>
                    <a *ngIf="currentUserObject && currentUserObject.userType" (click)="obrirTest()" class="nav-link mr-3">Crea un repte</a>
                    <a *ngIf="!currentUserObject" href='/login' class="nav-link mr-3">Crea un repte</a>
                </li>
                <li class="nav-item nav-first-item">
                    <a [ngClass]='{"actiu" : currentPathMatch("/mapes",0)}' (click)="headerRedirect(5)" class="nav-link mr-3">Mapa tecnològic</a>
                </li>
                <li class="headerSeparator">
                    <a class="nav-link mr-3">|</a>
                </li>
                <li *ngIf="!currentUserObject" class="nav-item">
                    <a [ngClass]='{"actiu" : currentPathMatch("/registre",0)}' (click)="headerRedirect(2)" class="nav-link mr-3">Dona't d'alta</a>
                </li>
                <li *ngIf="!currentUserObject" class="nav-item">
                    <a [ngClass]='{"actiu" : currentPathMatch("/login",0)}' (click)="headerRedirect(3)" class="nav-link">Entra</a>
                </li>
                <li *ngIf="currentUserObject && currentUserObject" class="nav-item">
                    <a [ngClass]='{"actiu" : currentPathMatch("/perfil/",currentUserObject.idUser)}' (click)="userProfile()" class="nav-link mr-3">{{currentUserObject.nom}}</a>
                </li>
                <li *ngIf="currentUserObject" class="elimina-link nav-item">
                    <a (click)="userLogout()" class="nav-link">Sortir</a>
                </li>
            </ul>
        </div>
    </nav>
</div> -->

<!-- <div style="width: 100%; height: 20px; background-color: darkblue;"></div> -->

<nav id="hubrock-header" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="navbar-brand d-flex w-40 mr-auto"><img (click)="headerRedirect(1)" id="logo" src="../../../assets/logos/HubRock_NewLogo.png"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <form [formGroup]="searchForm" (ngSubmit)="search()" class="navbar-form" id="navbarSearch" role="search">
                <input class="form-control mr-sm-2" type="text" placeholder="Busca reptes, empreses, perfils…" 
                formControlName="keyword" aria-label="Search">
            </form>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li *ngIf="!currentUserObject" class="nav-item">
                <a [ngClass]='{"actiu" : currentPathMatch("/registre",0)}' class="nav-link mr-3" href="/registre">
                    <img [src]="currentPathMatch('/registre',0) ? '../../../assets/navbar/Dona\'t d\'alta_V.png' : '../../../assets/navbar/Dona\'t d\'alta.png'" 
                    style="width: 20px; height: 20px;">
                     Dona't d'alta
                </a>
            </li>
            <li *ngIf="!currentUserObject" class="nav-item">
                <a [ngClass]='{"actiu" : currentPathMatch("/login",0)}' class="nav-link" href="/login">
                    <img [src]="currentPathMatch('/login',0) ? '../../../assets/navbar/Entrar_V.png' : '../../../assets/navbar/Entrar.png'"
                    style="width: 20px; height: 20px;"> Entra
                </a>
            </li>
            <li *ngIf="currentUserObject && currentUserObject" class="nav-item">
                <a [ngClass]='{"actiu" : currentPathMatch("/perfil/",currentUserObject.idUser)}' [href]="getUserProfile()" class="nav-link">
                    <img [src]="currentPathMatch('/perfil/',currentUserObject.idUser) ? '../../../assets/navbar/Perfil_V.png' : '../../../assets/navbar/Perfil.png'"
                    style="width: 20px; height: 20px;"> {{currentUserObject.nom}}</a>
            </li>
            <li *ngIf="currentUserObject" class="elimina-link nav-item">
                <a (click)="userLogout()" class="nav-link">
                    <img src="../../../assets/navbar/Sortir_V.png" style="width: 20px; height: 20px;"> Sortir</a>
            </li>
        </ul>
    </div>
</nav>
<nav id="hubrock-header" class="pt-0 hubrock-header-2 navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="navbar-brand d-flex w-custom mr-auto"></div>

    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-start-mobile">
            <li class="mr-2 nav-item active">
                <a [ngClass]='{"actiu" : currentPathMatch("/reptes",0)}' class="nav-link" href="/reptes">
                    <img [src]="currentPathMatch('/reptes',0) ? '../../../assets/navbar/Veure reptes oberts_V.png' : '../../../assets/navbar/Veure reptes oberts.png'"
                     style="width: 20px; height: 20px;"> Veure reptes oberts</a>
            </li>
            <li class="mr-2 nav-item">
                <a *ngIf="currentUserObject && !currentUserObject.userType" [ngClass]='{"actiu" : currentPathMatch("/creacio-repte",0)}' 
                    href="/creacio-repte" class="nav-link">
                    <img [src]="currentPathMatch('/creacio-repte',0) ? '../../../assets/navbar/Crea un repte_V.png' : '../../../assets/navbar/Crea un repte.png'" 
                    style="width: 20px; height: 20px;"> Crea un repte</a>

                <a *ngIf="currentUserObject && currentUserObject.userType" (click)="obrirTest()" class="nav-link">
                    <img src="../../../assets/navbar/Entrar.png" style="width: 20px; height: 20px;"> Crea un repte</a>

                <a *ngIf="!currentUserObject" href='/login' class="nav-link">
                    <img src="../../../assets/navbar/Entrar.png" style="width: 20px; height: 20px;"> Crea un repte</a>
            </li>
            <li class="mr-2 nav-item mb20mobile">
                <a class="nav-link" href="/mapes" [ngClass]='{"actiu" : currentPathMatch("/mapes",0)}'>
                    <img [src]="currentPathMatch('/mapes',0) ? '../../../assets/navbar/Crea un repte_V.png' : '../../../assets/navbar/Crea un repte.png'"
                     style="width: 20px; height: 20px;"> Mapa tecnològic</a>
            </li>
        </ul>
        <ul class="nav navbar-nav justify-content-end mlautow100">
            <li class="nav-item">
                <!-- <a class="nav-link" href="#">CAT</a> -->
            </li>
        </ul>
    </div>
</nav>