<app-header></app-header>
<!-- <section>
    <div id="intro-section" class="container-fluid d-flex flex-column justify-content-center">
    <div id="intro-section" class="container">

        <div class="row">
           
            <div id="h1-div" class="col-sm">
                <h1>Construïm el futur a través de reptes d'innovació</h1>
            </div>
        </div>
        <div class="row">
           
            <div id="h2-div" class="col-sm titles-div">
                <h2>Connectem empreses, startups, experts i estudiants per desenvolupar idees disruptives</h2>
            </div>
        </div>
        <div class="row">
          
            <div class="col-sm">
                <button id="veure-reptes" class="btn btn-primary">VEURE REPTES OBERTS</button>
                <button id="crear-repte" class="btn btn-primary">CREA EL TEU REPTE</button>
            </div>

        </div>
        </div>
    </div>
</section> -->

<section>
    <div class="w-100 d-flex justify-content-center">
        <div class="container">
            <div class="row flex-column">
                <h1>Construïm el futur a través
                    de reptes d’innovació</h1>
                <h2>Connectem empreses, startups, experts i estudiants per desenvolupar idees disruptives</h2>
                <div class="d-flex">
                    <button id="veure-reptes" class="btn btn-primary">VEURE REPTES OBERTS</button>
                    <button id="crear-repte" class="btn btn-primary">CREA EL TEU REPTE</button>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section>
    <div id="reptes-section" class="container-fluid d-flex flex-column justify-content-center">
        <div class="row justify-content-center">
            <p>Reptes Oberts</p>
        </div>
        <div class="row d-flex flex-grow-1">
            <div class="col-sm" style="max-width:165px;"></div>
            <div class="col-sm">
                <div class="card" style="max-width:350px">
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="max-width:350px">
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="max-width:350px">
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">Some example text.</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="max-width:165px;"></div>
        </div>



    </div>

</section>