<app-header></app-header>

<!-- BANNER -->
<section id="banner-section">
    <div id="banner-background-image">
        <div id="container-fluid" class="w-100 d-flex align-items-center">
            <div class="container">
                <div id="banner-title-div" class="row no-gutters">
                    <h1 id="banner-title">Construïm el futur a través de reptes d'innovació</h1>
                </div>
                <div id="banner-subtitle-div" class="row no-gutters">
                    <h2 id="banner-subtitle">Connectem empreses, startups, experts i estudiants per desenvolupar idees disruptives
                    </h2>
                </div>
                <div class="row max-width-button d-flex justify-content-between no-gutters">
                    <button id="veure-reptes" class="btn btn-primary btn-style" routerLink='/reptes'>VEURE REPTES OBERTS {{userIsEmpresa}}</button>
                    <!-- <li *ngFor="let employee of employees$ | async">{{employee.name}}</li> -->
                    <button id="crear-repte" class="btn btn-primary btn-style" routerLink='/creacio-repte' *ngIf="userIsEmpresa">CREA EL TEU REPTE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- REPTES LIST -->
<section id="hubrock-reptes">
    <div class="container">
        <h1 class="text-center reptestitle">Reptes oberts</h1>
        <div class="row d-flex flex-column align-items-center">

            <p *ngIf="!allReptes.length" class="text-center what-text">No hi ha cap repte obert</p>

            <div class="row w-100">

                <ng-container *ngIf="allReptes.length">
                    <div *ngFor="let repte of allReptes; let i = index" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card" routerLink="/repte/{{repte.idrepte}}">
                            <img class="card-img-top" width="350px" height="211px" src="../../assets/testpics/Banner_PackEco.jpg" alt="Card image cap">
                            <div class="card-body fitxa-repte">
                                <div class="card-title d-flex">
                                    <img class="rounded-circle mr-2 mt-0 align-self-center" width="25px" src="../../assets/logos/udgLogo.png" alt="25x25" routerLink="/homepage"><p class="m-0 username" routerLink="/homepage">{{repte.user.nom_empresa}}</p>
                                </div>
                                <h5 class="card-title titol-repte">{{repte.nom}}</h5>
                                <p class="card-text desc-repte">{{repte.descripcio_short}}</p>
                                <div class="card-title d-flex align-items-center">
                                    <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Win2.png" alt="25x25">
                                    <div class="d-flex align-items-center">
                                        <div *ngFor="let premi of repte.premis; let i = index">
                                            <p class="m-0" *ngIf="i+1 != repte.premis.length">{{premi.premi_dotacio}}€ /&nbsp;</p>
                                            <p class="m-0" *ngIf="i+1 == repte.premis.length">{{premi.premi_dotacio}}€</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-title d-flex">
                                    <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Time.png" alt="25x25">
                                    <p class="m-0"><!-- {{returnDaydddMMMyyy(repte.data_inici | date:'shortDate')}} ( -->{{diesRestants(repte.data_inici, repte.data_final)}}</p>
                                </div>
                                <div class="tags">
                                    <button type="button" class="tag btn tag-red">Startups</button>
                                    <button type="button" class="tag btn tag-blue">Empreses</button>
                                    <button type="button" class="tag btn tag-orange">Estudiants</button>
                                    <button type="button" class="tag btn tag-purple">Públic general</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
            <div class="row">
                <button id="btn-veure-tots-reptes" class="btn btn-primary button8 btn-style" routerLink='/reptes'>VEURE TOTS ELS REPTES</button>
            </div>


        </div>




    </div>
</section>

<!-- QUE ES HUB ROCK (WHAT)-->
<section id="hubrock-what">
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters">
                <div id="what-image-col" class="col-md-7 mb-3">
                    <img class="imatge-responsive" src="../../assets/illustrations/Ilustració1.png" alt="635x444">
                </div>
                <div id="what-desc-col" class="col-md-4">
                    <h2 id="what-title">Què és <br> Hub & Rock?</h2>
                    <p class="what-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <button id="what-btn" class="btn btn-primary">SABER MÉS</button>
                    <div class="row no-gutters">
                        <img class="imatge-responsive logoCambra" src="../../assets/logos/logoCambra.png" alt="Logo Cambra">
                        <p id="what-small-letter" class="col">Un projecte de la Cambra de Comerç de Girona</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- QUI POT PARTICIPAR (WHO)-->
<section id="hubrock-who">
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters">
                <h2 class="section-titles">Qui pot <br> participar?</h2>
            </div>
            <div class="row no-gutters d-flex flex-wrap">
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Company.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Empreses</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Startup.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Startups</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Student.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Estudiants</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Experts.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Experts</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SPONSORS -->
<!-- <section id="hubrock-sponsors">    //DE MOMENT ES DESACTIVA LA PART DE MARQUES
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters d-flex flex-column align-items-center mb-4">
                <div id="sponsors-text-div">
                    <h2 id="sponsors-title" class="mb-3">Col·laboren <br> amb nosaltres</h2>
                    <p id="sponsors-text" class="mb-4">Connectem innovadors (startups, estudiants, experts) amb empreses punteres per crear els productes, serveis i la societat de demà.</p>
                </div>
            </div>
            <div id="sponsors-img-div" class="row no-gutters">
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
            </div>
            <div class="row no-gutters d-flex flex-column align-items-center">
                <p id="sponsors-small-letter" class="mb-4">Ets empresa? Comença a crear el teu repte ara!</p>
                <button id="sponsors-btn" class="btn btn-primary">CREAR REPTE</button>
            </div>
        </div>
    </div>
</section> -->
<app-footer></app-footer>