<app-header></app-header>
<!-- FORMULARI DEL FIRST LOGIN -->

<button id="openModalButton" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" [hidden]="true">Large modal</button>

<div id="modalFirstLogin" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">Benvingut a Hub&Rock!</h5>
            </div>
            <div class="modal-body">

                <p>Completa aquest formulari per acabar de configurar el teu perfil i començar a donar-te a conèixer! (Si ho prefereixes, pots saltar aquest procés i editar el teu perfil posteriorment)</p>

                <form [formGroup]="userForm">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-4 mb-2 ml-0">
                                <div class="elimina-link" *ngIf="fotoPerfilPreview">
                                    <a (click)="eliminarFoto()">- Elimina aquesta foto</a>
                                </div>
                                <div class="image-upload d-flex justify-content-center align-items-center">
                                    <label for="fotoPerfilLogin" class="pointer mb-0">
                                <div *ngIf="!fotoPerfilPreview" class="row d-flex flex-column justify-content-center">
                                    <img src="https://dummyimage.com/61x61/00e293/000000"
                                        class="rounded-circle align-self-center" />
                                    <p class="mb-0">Afegeix foto</p>
                                </div>
                            </label>
                                    <input accept="image/*" formControlName="InputfotoPerfilLogin" (change)="onFileSelected($event)" id="fotoPerfilLogin" type="file" />
                                    <img class="image-upload" *ngIf="fotoPerfilPreview" width="100%" height="100%" [src]="fotoPerfilPreview" alt="your image" />
                                </div>
                            </div>
                            <div class="col-md-8 mb-2 ml-0">
                                <div class="form-group">
                                    <label for="sobreTu" class="col-form-label mt-0 pt-0" *ngIf="userIsRockstar">Sobre tu:</label>
                                    <label for="sobreTu" class="col-form-label mt-0 pt-0" *ngIf="!userIsRockstar">Sobre l'empresa:</label>
                                    <textarea formControlName="inputSobreTu" style="min-height: 70px;" class="form-control" id="sobreTu"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ubicacio" class="col-form-label mt-0 pt-0">Ubicació:</label>
                                    <input formControlName="inputUbicacio" type="text" class="form-control" id="ubicacio">
                                </div>
                            </div>
                        </div>

                        <label for="inputTags" class="col-form-label" *ngIf="userIsRockstar">Habilitats:</label>
                        <label for="inputTags" class="col-form-label" *ngIf="!userIsRockstar">Serveis:</label>

                        <input (keydown.enter)="addTagSubmit(inputValue)" formControlName="inputTags" class="form-control" id="inputTags" type="text" [placeholder]="userIsRockstar ? 'Disseny, tecnologia...' : 'Muntatge, desenvolupament...'" (input)="onSearchChange($event.target.value)"
                            [(ngModel)]="inputValue">

                        <div class="form-group d-flex mt-2">
                            <div class="d-flex align-items-center userTag mr-2" *ngFor="let tag of tags; let i = index">
                                <p class="m-0 pl-2">{{tag}}</p>
                                <div class="input-group-append">
                                    <button (click)="deleteTag(tag)" class="btn" type="button">X</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="userIsRockstar">
                            <label for="experiencia" class="col-form-label">Experiència:</label>
                            <input formControlName="inputExperiencia" type="text" class="form-control" id="experiencia">
                        </div>

                        <div class="form-group" *ngIf="userIsRockstar">
                            <label for="educacio" class="col-form-label">Educació:</label>
                            <input formControlName="inputEducacio" type="text" class="form-control" id="educacio">
                        </div>

                        <div class="form-group" *ngIf="userIsRockstar">
                            <label for="ocupacio" class="col-form-label">Ocupació:</label>
                            <input formControlName="inputOcupacio" type="text" class="form-control" id="ocupacio" placeholder="Enginyer/a @ Hub&Rock">
                        </div>

                        <div class="form-group text-center mb-2">
                            <label class="afegeix-link">
                        <input formControlName="inputCV" accept=".pdf" type="file" style="display: none;" (change)="onPdfSelected($event)">
                        <a>+ Afegeix CV (pdf)</a>
                    </label>
                        </div>

                        <div *ngFor="let pdf of pdfArray" class="mb-2 text-center">
                            <img width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                            <span class="ml-3">{{pdf.name}}</span>
                        </div>

                        <div *ngIf="pdfArray" class="text-center elimina-link mt-3 mb-2">
                            <a (click)="resetPdfArray()">Esborra l'arxiu seleccionat</a>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputLinkedin">LinkedIn</label>
                                <input formControlName="inputLinkedIn" type="text" class="form-control" id="inputLinkedin" placeholder="https://www.linkedin.com/in/">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputTwitter">Twitter</label>
                                <input formControlName="inputTwitter" type="text" class="form-control" id="inputTwitter" placeholder="https://twitter.com/">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputInstagram">Instagram</label>
                                <input formControlName="inputInstagram" type="text" class="form-control" id="inputInstagram" placeholder="https://www.instagram.com/">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputFacebook">Facebook</label>
                                <input formControlName="inputFacebook" type="text" class="form-control" id="inputFacebook" placeholder="https://www.facebook.com/">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a type="button" data-dismiss="modal" (click)="confirmQuit()">Saltar aquest procés</a>
                <button type="button" class="btn btn-primary desar" data-dismiss="modal" (click)="onSubmit()">Desar</button>
            </div>
        </div>
    </div>
</div>

<!-- //FORMULARI DEL FIRST LOGIN -->

<!-- BANNER -->
<section id="banner-section">
    <div id="banner-background-image">
        <div id="container-fluid" class="w-100 d-flex align-items-center">
            <div class="container">
                <div id="banner-title-div" class="row no-gutters">
                    <h1 id="banner-title">Construïm el futur a través de reptes d'innovació</h1>
                </div>
                <div id="banner-subtitle-div" class="row no-gutters">
                    <h2 id="banner-subtitle">Connectem empreses, startups, experts i estudiants per desenvolupar idees disruptives
                    </h2>
                </div>
                <div class="row max-width-button d-flex justify-content-between no-gutters">
                    <button id="veure-reptes" class="btn btn-primary btn-style" routerLink='/reptes'>VEURE REPTES OBERTS</button>
                    <!-- <li *ngFor="let employee of employees$ | async">{{employee.name}}</li> -->
                    <button id="crear-repte" class="btn btn-primary btn-style" routerLink='/creacio-repte' *ngIf="currentUser && !currentUser.userType">CREA EL TEU REPTE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- REPTES LIST -->
<section id="hubrock-reptes">
    <div class="container">
        <h1 class="text-center reptestitle">Reptes oberts</h1>
        <div class="row d-flex flex-column align-items-center">

            <p *ngIf="!allReptes.length" class="text-center what-text">No hi ha cap repte obert</p>

            <div class="row w-100">

                <ng-container *ngIf="allReptes.length">
                    <div *ngFor="let repte of allReptes; let i = index" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="card" routerLink="/repte/{{repte.idrepte}}">
                            <img class="card-img-top" width="350px" height="211px" src="../../assets/testpics/Banner_PackEco.jpg" alt="Card image cap">
                            <div class="card-body fitxa-repte">
                                <div class="card-title d-flex" routerLink="/homepage">
                                    <img class="rounded-circle mr-2 mt-0 align-self-center" width="25px" src="../../assets/logos/udgLogo.png" alt="25x25" routerLink="/homepage">
                                    <p class="m-0 username">{{repte.user.nom_empresa}}</p>
                                </div>
                                <h5 class="card-title titol-repte">{{repte.nom}}</h5>
                                <p class="card-text desc-repte">{{repte.descripcio_short}}</p>
                                <div class="card-title d-flex align-items-center">
                                    <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Win2.png" alt="25x25">
                                    <div class="d-flex align-items-center">
                                        <div *ngFor="let premi of repte.premis; let i = index">
                                            <p class="m-0" *ngIf="i+1 != repte.premis.length">{{premi.premi_dotacio}}€ /&nbsp;</p>
                                            <p class="m-0" *ngIf="i+1 == repte.premis.length">{{premi.premi_dotacio}}€</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-title d-flex">
                                    <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Time.png" alt="25x25">
                                    <p class="m-0">
                                        <!-- {{returnDaydddMMMyyy(repte.data_inici | date:'shortDate')}} ( -->{{diesRestants(repte.data_inici, repte.data_final)}}</p>
                                </div>
                                <div class="tags">
                                    <button *ngFor="let participants of repte.participants" type="button" class="tag btn" [ngClass]="{'tag-red': participants.participants_name == 'Startups',
                                                    'tag-blue': participants.participants_name == 'Empreses',
                                                    'tag-orange': participants.participants_name == 'Estudiants',
                                                    'tag-purple': participants.participants_name == 'Públic general'}">
                                        {{participants.participants_name}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
            <div class="row">
                <button id="btn-veure-tots-reptes" class="btn btn-primary button8 btn-style" routerLink='/reptes'>VEURE TOTS ELS REPTES</button>
            </div>


        </div>




    </div>
</section>

<!-- QUE ES HUB ROCK (WHAT)-->
<section id="hubrock-what">
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters">
                <div id="what-image-col" class="col-md-7 mb-3">
                    <img class="imatge-responsive" src="../../assets/illustrations/Ilustració1.png" alt="635x444">
                </div>
                <div id="what-desc-col" class="col-md-4">
                    <h2 id="what-title">Què és <br> Hub & Rock?</h2>
                    <p class="what-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <button id="what-btn" class="btn btn-primary">SABER MÉS</button>
                    <div class="row no-gutters">
                        <img class="imatge-responsive logoCambra" src="../../assets/logos/logoCambra.png" alt="Logo Cambra">
                        <p id="what-small-letter" class="col">Un projecte de la Cambra de Comerç de Girona</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- QUI POT PARTICIPAR (WHO)-->
<section id="hubrock-who">
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters">
                <h2 class="section-titles">Qui pot <br> participar?</h2>
            </div>
            <div class="row no-gutters d-flex flex-wrap">
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Company.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Empreses</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Startup.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Startups</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Student.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Estudiants</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Experts.png" alt="160x160"></div>
                    <div class="row no-gutters who-title mb-4">Experts</div>
                    <div class="row no-gutters">
                        <div>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text"> Lorem ipsum lorem ipsum</p>
                            <p class="who-text">Lorem ipsum lorem ipsum</p>
                            <p class="who-text mb-5">Lorem ipsum lorem ipsum</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <button class="btn btn-primary who-btn">SABER MÉS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SPONSORS -->
<!-- <section id="hubrock-sponsors">    //DE MOMENT ES DESACTIVA LA PART DE MARQUES
    <div class="w-100">
        <div class="container">
            <div class="row no-gutters d-flex flex-column align-items-center mb-4">
                <div id="sponsors-text-div">
                    <h2 id="sponsors-title" class="mb-3">Col·laboren <br> amb nosaltres</h2>
                    <p id="sponsors-text" class="mb-4">Connectem innovadors (startups, estudiants, experts) amb empreses punteres per crear els productes, serveis i la societat de demà.</p>
                </div>
            </div>
            <div id="sponsors-img-div" class="row no-gutters">
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
                <div class="col-md-2 col-sm-4 col-6 d-flex flex-column align-items-center"><img src="https://dummyimage.com/101x57/00e292/fff" alt=""><img src="https://dummyimage.com/101x57/00e292/fff" alt=""></div>
            </div>
            <div class="row no-gutters d-flex flex-column align-items-center">
                <p id="sponsors-small-letter" class="mb-4">Ets empresa? Comença a crear el teu repte ara!</p>
                <button id="sponsors-btn" class="btn btn-primary">CREAR REPTE</button>
            </div>
        </div>
    </div>
</section> -->
<app-footer></app-footer>