#login-container {
    margin-top: 157px;
    margin-bottom: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container .container {
    max-width: 729px;
}

form input {
    height: 55px;
}

#login-container .container form label {
    font-size: 18px;
    letter-spacing: -0, 45px;
    font-family: 'WorkSans-Bold';
}

#login-container .container #title {
    font-family: 'WorkSans-Bold';
    font-size: 34px;
    letter-spacing: -0.85px;
    margin-bottom: 60px;
}

#login-container #btn-login {
    margin-top: 60px;
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
    border-radius: 8px;
}

a {
    color: #020e7d;
}

a:hover {
    color: #00e292;
    text-decoration-line: none;
}

#no-user {
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.9px;
}

#no-user a {
    font-family: 'WorkSans-Regular';
    font-weight: 600;
}

#forgot-password {
    font-family: 'WorkSans-Regular';
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.45px;
}

#login-container hr {
    height: 2px;
    background-color: #020e7d;
    margin-top: 57px;
}