<app-header></app-header>

<section id="login-section">

    <div id="login-container">

        <div class="container">

            <h1 id="title" class="text-center">Inicia sessió</h1>

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label for="InputCorreu">Correu</label>
                    <input formControlName="email" type="email" class="form-control" id="InputCorreu" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="InputContrasenya">Contrasenya</label>
                    <input fromControlName="password" type="password" class="form-control" id="InputContrasenya">
                    <p id="forgot-password"><a href="#">Has oblidat la contrasenya?</a></p>
                </div>
                <div class="text-center">
                    <button id="btn-login" class="btn btn-primary">INICIA SESSIÓ</button>
                </div>
            </form>
            <hr>
            <p id="no-user">
                No ets usuari? Crea el teu <a href="#">aquí</a>
            </p>
        </div>
    </div>

</section>

<app-footer></app-footer>