<app-header></app-header>

<section id="hubrock-reptes">
    <div id="banner" class="w-100 d-flex align-items-center">
        <div class="container d-flex flex-column">
            <h1 class="title">Descobreix reptes</h1>
            <p class="subtitle">I participa, sol o en equip, en els que més t’interessen</p>
        </div>
    </div>

    <div class="container">
        <div id="toolbar" class="row d-flex justify-content-between">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="input-group mb-3 test">
                    <div class="input-group-prepend">
                      <button id="icon" class="btn btn-outline-primary" type="button">B</button>
                    </div>
                    <input id="searchbar" type="text" class="form-control" placeholder="Some text"
                        placeholder="Busca per paraules clau, nom d’empresa…">
                </div>

                <!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <button id="icon" class="btn btn-outline-secondary" type="button">S</button>
                    </div>
                    <input type="text" class="form-control" id="searchbar"
                        placeholder="Busca per paraules clau, nom d’empresa…">
                </div> -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 flex-end-desktop">
                <div id="category" class="d-flex justify-content-between align-items-start">
                    <div class="d-flex flex-column align-items-center category-item">
                        <img src="../../assets/illustrations/Community.png" width="40px" height="40px">
                        <p class="category-text">Tots els reptes</p>
                    </div>
                    <div class="d-flex flex-column align-items-center category-item">
                        <img src="../../assets/illustrations/Company.png" width="40px" height="40px">
                        <p class="category-text">Empreses</p>
                    </div>
                    <div class="d-flex flex-column align-items-center category-item">
                        <img src="../../assets/illustrations/Startup.png" width="40px" height="40px">
                        <p class="category-text">Startups</p>
                    </div>
                    <div class="d-flex flex-column align-items-center category-item">
                        <img src="../../assets/illustrations/Student.png" width="40px" height="40px">
                        <p class="category-text">Estudiants</p>
                    </div>
                    <div class="d-flex flex-column align-items-center category-item">
                        <img src="../../assets/illustrations/Experts.png" width="40px" height="40px">
                        <p class="category-text">Experts</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

<section id="hubrock-reptesoberts">
    <div class="container">
        <h1 class="text-center reptestitle">Reptes oberts</h1>

        <div class="d-flex">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
</section>

<section id="hubrock-reptesproces">
    <div class="container">
        <h1 class="text-center reptestitle">Reptes en procés</h1>

        <div class="d-flex">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary btn-veure-mes">VEURE MÉS</button>
        </div>


    </div>
</section>

<section id="hubrock-reptestancats">
    <div class="container">
        <h1 class="text-center reptestitle">Reptes tancats</h1>

        <div class="d-flex">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="https://dummyimage.com/350x211/e0e0e0/f0f0f0.jpg"
                            alt="Card image cap">
                        <div class="card-body fitxa-repte">
                            <div class="card-title d-flex">
                                <img class="rounded-circle" src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Universitat de Girona
                            </div>
                            <h5 class="card-title titol-repte">Repte Digital Campus UdG</h5>
                            <p class="card-text desc-repte">Idees per accelerar la transformació digital de la universitat i
                                millorar la connexió amb els alumnes.</p>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;5.000€ / 3.000€ / 1.500€
                            </div>
                            <div class="card-title d-flex">
                                <img src="https://dummyimage.com/25/9e9e9e/fff" alt="25x25">
                                &nbsp;Queden 15 dies
                            </div>
                            <div class="tags">
                                <button type="button" class="tag btn btn-danger">Startups</button>
                                <button type="button" class="tag btn btn-primary">Empreses</button>
                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                <button type="button" class="tag btn btn-success">Públic general</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary btn-veure-mes">VEURE MÉS</button>
        </div>

    </div>
</section>

<app-footer></app-footer>