<footer id="hubrock-footer">
    <button id="openCreaRepte" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" [hidden]="true">Large modal</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body modal-body-custom">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 20px" aria-hidden="true">&times;</span>
                    </button>
                    <p style="margin: 30px 20px 20px; line-height: normal;" class="text-center">
                        Només les empreses poden crear reptes. Si ets empresa, dona't d'alta o entra al teu compte i comença a crear el repte.
                    </p>
                    <div class="d-flex justify-content-center">
                        <button style="min-width: 200px;" type="button" class="btn btn-primary what-btn mb-3" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="d-flex justify-content-center mb-2">
                        <a class="beneficisEmpreses mb-3" href="/per-empreses">Beneficis per empreses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">

        <!-- row 1 -->

        <div class="col-md-2 col-sm-6 col-xs-12">
            <img class="align-self-center" id="logo" src="../../../assets/logos/HubRock_White.png">
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <h1 class="footer-heading">Ets empresa?</h1>
            <ul class="nav-links">
                <li>
                    <a *ngIf="currentUser && !currentUser.userType" href="/creacio-repte">Crea un repte</a>
                    <a *ngIf="currentUser && currentUser.userType" (click)="obrirTest()" style="cursor: pointer;">Crea un repte</a>
                    <a *ngIf="!currentUser" href="/login">Crea un repte</a>
                </li>
                <li><a href="/per-empreses">Beneficis per empreses</a></li>
                <li><a href="/per-startups">Beneficis per startups</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <h1 class="footer-heading">Qui som?</h1>
            <ul class="nav-links">
                <li><a href="/sobre-hubandrock">Sobre Hub & Rock</a></li>
                <li><a href="/faq">Preguntes freqüents</a></li>
                <li><a href="/contactar">Contactar</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <!-- <h1 class="footer-heading">Qui som?</h1>
            <ul class="nav-links">
                <li><a href="#">Sobre Hub & Rock</a></li>
                <li><a href="#">Sobre la innovació oberta</a></li>
            </ul> -->
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <h1 class="footer-heading">Apunta’t a la nostra newsletter</h1>
            <div class="input-group mb-3">
                <form [formGroup]="newsletterForm" (ngSubmit)="subNewsletter()" class="navbar-form d-flex" id="navbarSearch" role="search">
                    <input style="border-radius: 0px;" type="text" class="form-control" placeholder="Escriu el teu correu..."
                        formControlName="mailInput" aria-label="Correu newsletter" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button style="border-radius: 0px;" id="icon" class="btn btn-outline-secondary" type="button" (click)="subNewsletter()">
                            <img class="sendicon" src="../../../assets/simpleicons/Send_B.png" alt="Send"></button>
                    </div>
                </form>
            </div>
        </div>

        <!-- row 2 -->

        <div class="d-flex col-md-8 col-sm-12 col-xs-12 spacing-top socialmedia">
            <img src="../../../assets/socialmediaicons/Twitter.png" alt="Twitter">
            <img src="../../../assets/socialmediaicons/LinkedIn.png" alt="LinkedIn">
            <img src="../../../assets/socialmediaicons/Facebook.png" alt="Facebook">
            <img src="../../../assets/socialmediaicons/Instagram.png" alt="Instagram">
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 spacing-top">
            <img class="logoCambra" src="../../../assets/logos/logoCambra.png" alt="logoCambraGirona">
        </div>

        <!-- row 3 -->

        <div class="d-flex col-md-8 col-sm-12 col-xs-12 spacing-top include-padding footer-text">
            <p>© Hub & Rock 2020</p>
            <p>·</p>
            <a style="color:white" href="/termes-i-condicions">Termes i condicions</a>
            <p>·</p>
            <a style="color:white" href="/politica-de-privacitat">Política de privacitat</a>
            <p>·</p>
            <a style="color:white" href="/politica-de-cookies">Política de cookies</a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 spacing-top include-padding footer-text">
            <p>Un projecte de la Cambra de Comerç de Girona</p>
        </div>
    </div>
</footer>