<footer id="hubrock-footer">
    <div class="row justify-content-between">

        <!-- row 1 -->

        <div class="col-md-2 col-sm-6 col-xs-12">
            <img id="logo" src="../../../assets/logos/HubRock_White.png">
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <h1 class="footer-heading">Qui pot participar?</h1>
            <ul class="nav-links">
                <li><a href="#">Empreses</a></li>
                <li><a href="#">Startups</a></li>
                <li><a href="#">Estudiants</a></li>
                <li><a href="#">Experts</a></li>
                <li><a href="#">Ciutadans</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <h1 class="footer-heading">Ets empresa?</h1>
            <ul class="nav-links">
                <li><a href="#">Crea un repte</a></li>
                <li><a href="#">Beneficis</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-6 col-xs-12">
            <h1 class="footer-heading">Qui som?</h1>
            <ul class="nav-links">
                <li><a href="#">Sobre Hub & Rock</a></li>
                <li><a href="#">Sobre la innovació oberta</a></li>
            </ul>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <h1 class="footer-heading">Apunta’t a la nostra newsletter</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escriu el teu correu..."
                    aria-label="Correu newsletter" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="icon" class="btn btn-outline-secondary" type="button">S</button>
                </div>
            </div>
        </div>

        <!-- row 2 -->

        <div class="d-flex col-md-8 col-sm-12 col-xs-12 spacing-top">
            <svg style="margin-right: 25px" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-app"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg>
            <svg style="margin-right: 25px" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-app"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg>
            <svg style="margin-right: 25px" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-app"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg>
            <svg style="margin-right: 25px" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-app"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 spacing-top">
            <svg style="margin-right: 25px" width="25px" height="25px" viewBox="0 0 16 16" class="bi bi-app"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11 2H5a3 3 0 0 0-3 3v6a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
            </svg>
        </div>

        <!-- row 3 -->

        <div class="d-flex col-md-8 col-sm-12 col-xs-12 spacing-top include-padding footer-text">
            <p>© Hub & Rock 2020</p>
            <p>·</p>
            <a style="color:white" href="">Termes i condicions</a>
            <p>·</p>
            <a style="color:white" href="">Política de privacitat</a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 spacing-top include-padding footer-text">
            <p>Un projecte de la Cambra de Comerç de Girona</p>
        </div>
    </div>
</footer>