<app-header></app-header>
<div class="container" style="margin-top: 40px;">

<h1 class="title-h" style="margin-bottom: 20px; margin-top: 20px;">Política de cookies</h1>
<div>
    Una cookie és un fitxer que registra informació relacionada amb la vostra navegació al nostre lloc web
    <a href="https://hubandrock.com/">www.hubandrock.com</a> (data i hora en què es van carregar les pàgines; navegador utilitzat i idioma; pàgines vistes,
    freqüència i durada de les visites al lloc, nombre de visites, ubicació).
    <br>
    En qualsevol moment, podeu eliminar les cookies, rebutjar la instal·lació de cookies noves o rebre una notificació
    abans d’instal·lar una cookie nova mitjançant la configuració del navegador seguint les instruccions que us detallem
    abaix.
    <br>
    En continuar utilitzant la nostra plataforma, accepteu aquesta política de cookies i accepteu l’ús de cookies al
    vostre equip.
    <br>
    Tingueu en compte que si desinstal·leu una cookie o rebutgeu la instal·lació de cookies, és possible que no pugueu
    utilitzar alguns dels nostres serveis.
    <br>
    <br>
</div>

<h3 class="title-s">Tipus de cookies</h3>

<div style="margin-bottom: 50px;">
    Utilitzem els següents tipus de cookies:
    <br>
    <br>
    <b>- Cookies de sessió per a la gestió de la plataforma:</b> quan accediu a la plataforma, es transmet al vostre ordinador
    un “testimoni” de cookies amb un codi d’identificació de sessió xifrat únic. A continuació, aquest testimoni
    controla l’accés al lloc per a la sessió en curs i s’elimina un cop tanqueu el navegador o tanqueu la sessió.
    Aquestes cookies també ens permeten identificar el vostre dispositiu i preferències quan torneu al nostre lloc web,
    com ara funcions personalitzades, idioma i preferències regionals. Aquestes cookies són una part essencial del
    sistema i no podreu utilitzar tots els serveis de la nostra plataforma sense aquestes cookies activades. La
    informació recopilada per aquestes cookies és anònima i només s’utilitza per millorar la vostra experiència a la
    plataforma.
    <br>
    <br>
    <b>- Cookies persistents per a la gestió del lloc:</b> si us registreu al lloc i seleccioneu l'opció "Recorda'm", es
    passarà una cookie persistent al vostre ordinador. Aquesta cookie no s’elimina quan sortiu de la plataforma o
    tanqueu el navegador, sinó que es desa al vostre ordinador. Aquesta cookie conté un codi d’identificació d’usuari
    xifrat que identifica el vostre equip en futures visites i que inicia sessió automàticament a la plataforma. Aquesta
    cookie és funcional i està dissenyada per recordar les vostres preferències i millorar la vostra experiència a la
    nostra plataforma. No conté cap informació personal que es pugui utilitzar per identificar-lo.
    <br>
    <br>
    <b>- Cookies d’anàlisi:</b> Utilitzem Google Analytics i Hotjar per controlar el trànsit de la nostra plataforma. Quan
    visiteu la nostra plataforma, aquests programes configuren determinades cookies que registren informació estadística
    sobre les vostres visites al lloc. Mesurem el nombre de visites, el nombre de pàgines visualitzades, així com
    l’activitat dels visitants al lloc i la seva freqüència de retorn. Això ens ajuda a millorar la nostra plataforma
    web i la seva funcionalitat, per exemple, assegurant-nos que els usuaris poden navegar-hi intuïtivament. Aquestes
    cookies no emmagatzemen cap informació personal que es pugui utilitzar per identificar-lo.
    <br>
    <br>
    <b>Com esborrar, rebre notificacions quan s’instal·len cookies o configurar el navegador?</b>
    <br>
    <br>
    Per esborrar les cookies ja instal·lades al vostre equip:
    <br>
    <br>
    Podeu esborrar les cookies que ja teniu instal·lades al vostre equip si esborreu la memòria cache del navegador. Per
    obtenir instruccions sobre com eliminar les cookies dels navegadors Chrome, Firefox, Safari, Opera i Internet
    Explorer, accediu a aquest enllaç: <a href="https://www.allaboutcookies.org/es/">https://www.allaboutcookies.org/es/</a>
    <br>
    <br>
    Configuració del navegador perquè rebutgi les cookies o se li notifiqui quan s’instal·len cookies.
    <br>
    <br>
    Tots els navegadors web us permeten configurar les preferències de cookies abans de navegar per Internet. Per
    obtenir instruccions sobre com configurar el navegador web per rebutjar les galetes o per notificar-vos quan
    s’instal·len les galetes, accediu a aquest enllaç: <a href="https://www.allaboutcookies.org/es/">https://www.allaboutcookies.org/es/</a>
    <br>
    <br>
    Si teniu cap pregunta sobre la nostra política de cookies, envieu-nos un correu electrònic a <a href="mailto:contact@hubandrock.com">contact@hubandrock.com</a>.
    <br>
    <br>
</div>
</div>
<app-footer></app-footer>