#hub-container,
#register-container {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hub-rock-choose #title {
    font-family: 'WorkSans-Bold';
    font-size: 34px;
    letter-spacing: -0.85px;
    margin-bottom: 60px;
}

#hub-rock-choose .container {
    max-width: 530px;
}

#hub-rock-choose #subtitle {
    font-family: 'WorkSans-Bold';
    font-size: 18px;
    letter-spacing: -0.45px;
}

#hub-rock-choose hr {
    border-color: #979797;
    height: 1px;
    margin-bottom: 38px;
}

#hub-rock-choose #img {
    border-radius: 16px;
    width: 237px;
    height: 223px;
    background-color: #f7f7f7;
}

#hub-rock-choose #text {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.62px;
    margin-bottom: 85px;
    margin-top: 41px;
    font-family: 'WorkSans-Regular';
}

#hub-rock-choose #btn-next {
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-weight: bold;
}


/* SPACE */

#register-container .container {
    max-width: 729px;
}

form input:not([type='checkbox']) {
    height: 55px;
}

#register-container .container form label {
    font-size: 18px;
    letter-spacing: -0, 45px;
    font-family: 'WorkSans-Bold';
}

#register-container .container .register-title {
    font-family: 'WorkSans-Bold';
    font-size: 34px;
    letter-spacing: -0.85px;
    margin-bottom: 60px;
}

#register-container #btn-login {
    margin-top: 20px;
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
}

.accountType-container {
    position: relative;
    border-radius: 16px;
    width: 237px;
    height: 223px;
    background-color: #f7f7f7;
}

.accountType-container p {
    font-family: 'WorkSans-Regular';
}

.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    transition: all ease .2s;
    z-index: 10;
}

input[name="myradio"]:checked+.clickable {
    border-color: #00e292;
    box-shadow: 0px 0px 1px 1px #00e292;
}

input[name="myradio"] {
    appearance: none;
}

.ilustration {
    height: 136px;
    width: 136px;
    margin-bottom: 10px;
}

.is-invalid input {
    border: 1px solid red;
}

.is-invalid label {
    color: red;
}

.is-invalid span {
    color: red;
}

.elimina-link {
    color: #020e7d;
    letter-spacing: -0.45px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}

#industriesbox .btnradius {
    border-radius: 10px;
}
#industriesbox .mr25 {
    margin-right: 20px;
    margin-bottom:5px;
}
#industriesbox .btn-group-toggle .industria{
    background-color: white;
    color: black;
}
#industriesbox .btn-group-toggle .industria:hover{
    background-color: #F7FAFF;
}
#industriesbox .btn-group-toggle .industria.active{
    background-color: #020e7d;
    color: white;
}

#industriesbox .btn-group-toggle .industria {
    padding: 12px 16px;
    font-size: 14px!important;
    font-family: 'WorkSans-Regular'!important;
    letter-spacing: -0.66px;
    font-weight: normal;
    width: 30%;
}
.buttonsidentifica .btn {
    width: 49%;
    height: 111px;
    font-size: 20px!important;
    font-family: 'WorkSans-Regular'!important;
    background-color: white;
    color: black;
}
.buttonsidentifica .btn.active {
    background-color: #020e7d;
    color: white;
}
.buttonsidentifica .btn:hover:not(.active) {
    background-color: #F7FAFF;
}
.termsconditions .form-check label {
    font-size: 15px!important;
    font-family:'WorkSans-Regular'!important;
    letter-spacing: -0.38px;
}
.termsconditions .form-check label a{
    font-size: 15px!important;
    font-family:'WorkSans-Regular'!important;
    letter-spacing: -0.38px;
    font-weight: bold;
    color: #020e7d;
}
.mb20px{
    margin-bottom: 50px;
}
.mb90px{
    margin-bottom: 90px;
}