<app-header></app-header>

<section id="hub-rock-choose" *ngIf="register == 0">

    <div id="hub-container">

        <div class="container">

            <h1 id="title" class="text-center">Dona't d'alta</h1>

            <h2 id="subtitle">Sóc:</h2>

            <hr>

            <div class="row d-flex justify-content-around">

                <div class="accountType-container">
                    <input id="account-type1" type="radio" name="myradio" value="1" checked (change)="radioChangedHandler($event)">
                    <label for="account-type1" class="clickable"></label>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ilustration" src="../../../assets/illustrations/Company.png">
                        <p>Empresa</p>
                    </div>
                </div>
                <div class="accountType-container">
                    <input id="account-type2" type="radio" name="myradio" value="2" (change)="radioChangedHandler($event)">
                    <label for="account-type2" class="clickable"></label>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ilustration" src="../../../assets/illustrations/Startup.png">
                        <p>Rockstar</p>
                    </div>
                </div>

            </div>

            <p id="text" class="text-center">
                <i>Rockstar:</i> qualsevol persona amb un desig incontrolable de millorar la societat
                i de participar en els reptes de Hub & Rock.
            </p>

            <div class="text-center">
                <button (click)="registerNextStep()" id="btn-next" type="button" class="btn btn-primary">SEGÜENT PAS</button>
            </div>
            
        </div>

    </div>
    
</section>

<!-- REGISTER FORM 1 -->

<section id="register-empresa-section" *ngIf="register == 1">

    <div id="register-container">

        <div class="container">

            <h1 id="register-title" class="text-center">Dona't d'alta</h1>

            <form [formGroup]="registerForm">
                <div class="form-group">
                    <label for="InputNom">Nom empresa</label>
                    <input formControlName="nomEmpresa" type="text" class="form-control" id="InputNom">
                </div>
                <div class="form-group">
                    <label for="InputRealName">Nom responsable</label>
                    <input formControlName="nomResponsable" type="text" class="form-control" id="InputRealName">
                </div>
                <div class="form-group">
                    <label for="InputMail">Correu electrònic</label>
                    <input formControlName="nomCorreu" type="email" class="form-control" id="InputMail" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contrasenya</label>
                    <input formControlName="nomContrasenya" type="password" class="form-control" id="InputPassword">
                </div>
                <div class="form-group">
                    <label for="InputPasswordRepeat">Repeteix contrasenya</label>
                    <input formControlName="nomRepeteixContrasenya" type="password" class="form-control" id="InputPasswordRepeat">
                </div>
                <div class="form-group" *ngIf="accountType == 2">
                    <label for="InputNIF">NIF empresa</label>
                    <input formControlName="nomNifEmpresa" type="text" class="form-control" id="InputNIF">
                </div>
                <div class="text-center">
                    <button type="submit" id="btn-login" class="btn btn-primary">CREAR L'USUARI</button>
                </div>
            </form>
        </div>
    </div>

</section>

<app-footer></app-footer>