<app-header></app-header>
<section id="main-title-section">
    <div class="d-flex flex-column align-items-center">
        <div class="main-h1">
            <h1>Hub & Rock per la teva startup</h1>
        </div>
        <div class="vertical-line"></div>
    </div>
</section>

<section id="colabora-empreses-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <h3>Col·labora amb empreses locals per impulsar la innovació</h3>
                <p>
                    Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera
                    la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img class="align-self-center" src="../../assets/illustrations/connect_with_others.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="creixer-clients-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center order-2 order-md-1">
                <img src="../../assets/illustrations/B2B challenge.png" style="max-width: 505px; max-height: 357px;" alt="505x357">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center order-1 order-md-2">
                <h3>Fer créixer la teva cartera de clients i crea relacions fortes</h3>
                <p>
                    Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera
                    la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions </p>
            </div>
        </div>
    </div>
</section>

<section id="atrau-talent-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <h3>Atrau el talent que t’ajudarà a avançar al següent nivell</h3>
                <p>
                    Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera
                    la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="../../assets/illustrations/Discover and attract talent.png" style="max-width: 505px; max-height: 357px;"  alt="">
            </div>
        </div>
    </div>
</section>

<section id="veure-reptes-section">
    <div class="d-flex justify-content-center">
        <button id="veure-reptes" class="btn btn-primary btn-style" routerLink='/reptes'>VEURE REPTES OBERTS</button>
    </div>
</section>
<app-footer></app-footer>