<app-header></app-header>
<section id="main-title-section">
    <div class="d-flex flex-column align-items-center">
        <div class="main-h1">
            <h1 style="max-width: 850px;">Porta la teva startup al següent nivell amb Hub & Rock</h1>
        </div>
        <div class="vertical-line"></div>
    </div>
</section>

<section id="colabora-empreses-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <h3>Col·labora amb empreses locals per impulsar la innovació</h3>
                <p>
                    Hub & Rock és la plataforma d’innovació oberta que connecta startups amb empreses i experts, 
                    oferint-los un espai on col·laborar i trobar solucions innovadores a reptes empresarials. 
                    És el lloc ideal on donar a conèixer els teus productes i/o serveis, i implementar-los en 
                    el flux d’operacions d’empreses establertes.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img class="align-self-center" src="../../assets/illustrations/connect_with_others.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="creixer-clients-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center order-2 order-md-1">
                <img src="../../assets/illustrations/B2B challenge.png" style="max-width: 505px; max-height: 357px;" alt="505x357">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center order-1 order-md-2">
                <h3>Troba nous clients i estableix relacions fortes</h3>
                <p>
                    Hub & Rock té una vessant social que fomenta la connexió entre empreses per enfortir el teixit empresarial local. 
                    La teva startup pot tenir un perfil complert a la plataforma, on podreu presentar els vostres productes i serveis, 
                    i el fet de participar als reptes creats per les empreses establertes us donarà l’oportunitat d’estar en contacte 
                    directe amb elles i crear sinèrgies. </p>
            </div>
        </div>
    </div>
</section>

<section id="atrau-talent-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <h3>Atrau talent local per millorar els teus productes o serveis</h3>
                <p>
                    Hub & Rock us permet trobar talent local en els àmbits que necessiteu reforçar (desenvolupament tecnològic, 
                    disseny UX / UI, màrqueting digital, etc.). Us podeu posar en contacte amb els estudiants o experts que proposen 
                    solucions disruptives per incorporar-los al vostre equip o col·laborar amb ells/es. 
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="../../assets/illustrations/Discover and attract talent.png" style="max-width: 505px; max-height: 357px;"  alt="">
            </div>
        </div>
    </div>
</section>

<section id="veure-reptes-section">
    <div class="d-flex justify-content-center">
        <button id="veure-reptes" class="btn btn-primary btn-style" routerLink='/reptes'>VEURE REPTES OBERTS</button>
    </div>
</section>
<app-footer></app-footer>