<app-header></app-header>
<div class="container">

    <h1 id="pagetitle" class="text-center">El teu repte</h1>

    <div class="text-center steps-mt max-width-1110">
        <div class="row d-flex justify-content-between">
            <div class="col-md-3 col-sm-3 col-3">
                <span class="step">1</span>
                <span class="step-text" style="display:block">Informació general</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3">
                <span class="step">2</span>
                <span class="step-text" style="display:block">Solucions buscades</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3">
                <span class="step">3</span>
                <span class="step-text" style="display:block">Partners i jurat</span>
            </div>
            <div class="col-md-3 col-sm-3 col-3">
                <span class="step">4</span>
                <span class="step-text" style="display:block">Preguntes freqüents</span>
            </div>
        </div>
    </div>

    <hr>

    <form id="regForm" [formGroup]="repteForm">

        <div class="row actionbtns">
            <div class="col-md-3 col-sm-6"><button class="btn btn-primary btn-manage">DESA COM A ESBORRANY</button>
            </div>
            <div class="col-md-3 col-sm-6"><button class="btn btn-primary btn-manage">ANTERIOR PAS</button></div>
            <div class="col-md-3 col-sm-6"><button class="btn btn-primary btn-manage">SEGÜENT PAS</button></div>
            <div class="col-md-3 col-sm-6"><button class="btn btn-primary btn-submit">ENVIA LA SOLUCIÓ</button></div>
        </div>
        <div class="container" style="max-width: 730px">
            <h1 class="formpagetitle">Informació general</h1>

            <div class="form-group">
                <label for="InputNomRepte">Nom del repte</label>
                <input type="text" class="form-control" id="InputNomRepte">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="descripcioBreuRepte">Breu descripció del repte</label><br>
                <div class="d-flex justify-content-between">
                    <label class="additional-info" for="descripcioBreuRepte">Descriu la solució en 1 o 2 frases
                    </label><span>{{this.repteForm.get('descripcioBreuRepte').value.length}} / 280</span>
                </div>
                <textarea type="text" formControlName="descripcioBreuRepte" class="form-control"
                    id="descripcioBreuRepte" maxlength="280"></textarea>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="InputProblema">Descripció detallada</label>
                <textarea type="text" class="form-control" id="InputProblema"></textarea>
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="InputBreuDescripcioRepte">Foto portada</label><br>
                <div class="d-flex img-infohelp">
                    <div class="maxwidth-348">
                        <label class="additional-info" for="InputBreuDescripcioRepte">Tamany mínim: 1750 x 540px</label>
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-end align-self-center">
                        <img src="https://dummyimage.com/24/020e7d/ffffff" class="rounded-circle helpbutton">
                    </div>

                </div>

                <div class="image-upload d-flex justify-content-center align-items-center">
                    <label for="file-input" class="pointer mb-0">
                        <div class="row d-flex flex-column justify-content-center">
                            <img src="https://dummyimage.com/61x61/00e293/000000"
                                class="rounded-circle align-self-center" />
                            <p class="mb-0">Afegeix foto</p>
                        </div>
                    </label>

                    <input id="file-input" type="file" />
                </div>
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label for="InputBreuDescripcioRepte">Fotos del repte </label><br> <label
                        class="optionalfield">(opcional)</label>
                </div>
                <div class="d-flex img-infohelp">
                    <div class="maxwidth-348">
                        <label class="additional-info" for="InputBreuDescripcioRepte">Puja com a molt 3 fotos
                            representatives del repte</label>
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-end align-self-center">
                        <img src="https://dummyimage.com/24/020e7d/ffffff" class="rounded-circle helpbutton">
                    </div>

                </div>

                <div class="row d-flex justify-content-between">
                    <div class="col-md-4">
                        <div class="image-upload d-flex justify-content-center align-items-center">
                            <label for="file-input" class="pointer mb-0">
                                <div class="row d-flex flex-column justify-content-center">
                                    <img src="https://dummyimage.com/61x61/00e293/000000"
                                        class="rounded-circle align-self-center" />
                                    <p class="mb-0">Afegeix foto</p>
                                </div>
                            </label>

                            <input id="file-input" type="file" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="image-upload d-flex justify-content-center align-items-center">
                            <label for="file-input" class="pointer mb-0">
                                <div class="row d-flex flex-column justify-content-center">
                                    <img src="https://dummyimage.com/61x61/00e293/000000"
                                        class="rounded-circle align-self-center" />
                                    <p class="mb-0">Afegeix foto</p>
                                </div>
                            </label>

                            <input id="file-input" type="file" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="image-upload d-flex justify-content-center align-items-center">
                            <label for="file-input" class="pointer mb-0">
                                <div class="row d-flex flex-column justify-content-center">
                                    <img src="https://dummyimage.com/61x61/00e293/000000"
                                        class="rounded-circle align-self-center" />
                                    <p class="mb-0">Afegeix foto</p>
                                </div>
                            </label>

                            <input id="file-input" type="file" />
                        </div>
                    </div>
                </div>


                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <label for="link-video" class="mb-0 mr-3">Vídeo de la solució</label><span
                    class="opcional-text">(Opcional)</span><br>
                <label class="additional-info" for="link-video">Tens un video explicant la solució? Enganxa’l aquí.
                    Només funcionen links de Youtube. </label>
                <input type="text" formControlName="videoSolucio" class="form-control input-for-text" id="link-video"
                    placeholder="https://www.youtube.com/video">
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <label for="link-video" class="mb-0 mr-3">Qui pot participar?</label> <br>
                <label class="additional-info" for="link-video">Podeu seleccionar més d'una opció</label>
                <hr>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-check form-check-inline checkboxes">
                    <input class="form-check-input inputhidden" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img class="ilustration" src="../../../assets/illustrations/Company.png">
                            <p>Empresa</p>
                        </div>
                    </label>
                </div>
                <div class="form-check form-check-inline checkboxes">
                    <input class="form-check-input inputhidden" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img class="ilustration" src="../../../assets/illustrations/Company.png">
                            <p>Empresa</p>
                        </div>
                    </label>
                </div>
                <div class="form-check form-check-inline checkboxes">
                    <input class="form-check-input inputhidden" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img class="ilustration" src="../../../assets/illustrations/Company.png">
                            <p>Empresa</p>
                        </div>
                    </label>
                </div>
                <div class="form-check form-check-inline checkboxes">
                    <input class="form-check-input inputhidden" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <img class="ilustration" src="../../../assets/illustrations/Company.png">
                            <p>Empresa</p>
                        </div>
                    </label>
                </div>
            </div>

            

            <hr>
        </div>








        <!-- One "tab" for each step in the form: -->
        <div class="tab">Name:
            <p><input placeholder="First name..." oninput="this.className = ''"></p>
            <p><input placeholder="Last name..." oninput="this.className = ''"></p>
        </div>

        <div class="tab">Contact Info:
            <p><input placeholder="E-mail..." oninput="this.className = ''"></p>
            <p><input placeholder="Phone..." oninput="this.className = ''"></p>
        </div>

        <div class="tab">Birthday:
            <p><input placeholder="dd" oninput="this.className = ''"></p>
            <p><input placeholder="mm" oninput="this.className = ''"></p>
            <p><input placeholder="yyyy" oninput="this.className = ''"></p>
        </div>

        <div class="tab">Login Info:
            <p><input placeholder="Username..." oninput="this.className = ''"></p>
            <p><input placeholder="Password..." oninput="this.className = ''"></p>
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->


    </form>
</div>

<app-footer></app-footer>