<app-header>
</app-header>

<div class="container" style="margin-top: 60px; margin-bottom: 60px;">
    <table class="table table-hover" *ngIf="page == 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Data inici</th>
                <th scope="col">Data final</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="reptes">
            <tr *ngFor="let repte of reptes; let i = index">
                <th class="align-middle" scope="row">{{i}}</th>
                <td class="align-middle">{{repte.nom}}</td>
                <td class="align-middle">{{repte.data_inici | date: 'dd/MM/yyyy'}}</td>
                <td class="align-middle">{{repte.data_final | date: 'dd/MM/yyyy'}}</td>
                <td class="align-middle">
                    <button class="btn btn-secondary" type="button" (click)="storeRepte(repte.idrepte);">Seleccionar</button>
                </td>
            </tr>
        </tbody>

    </table>

    <a *ngIf="page == 2" style="font-size: 18px; color: darkblue;" class="pointer" (click)="changePage(0);">- Seleccionar repte</a>
    <table class="table table-hover" *ngIf="page == 2">
        
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Descripció</th>
                <th scope="col">Perquè és innovadora?</th>
                <th scope="col">En quina fase de desenvolupament es troba?</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="!solucions.length">
                <tr>
                    <td>Aquest repte no té solucions</td>
                </tr>
        </tbody>
        <tbody *ngIf="solucions.length">
            <tr *ngFor="let solucio of solucions; let i = index">
                <th class="align-middle" scope="row">{{i}}</th>
                <td class="align-middle">{{(solucio.solucio_proposada_nom.length>25)? (solucio.solucio_proposada_nom | slice:0:25)+'..':(solucio.solucio_proposada_nom)}}</td>
                <td class="align-middle">{{(solucio.solucio_proposada_descripcio_short.length>25)? (solucio.solucio_proposada_descripcio_short | slice:0:25)+'..':(solucio.solucio_proposada_descripcio_short)}}</td>
                <td class="align-middle">{{(solucio.solucio_proposada_perque_innovacio.length>25)? (solucio.solucio_proposada_perque_innovacio | slice:0:25)+'..':(solucio.solucio_proposada_perque_innovacio)}}</td>
                <td class="align-middle">{{(solucio.solucio_proposada_fase_desenvolupament.length>25)? (solucio.solucio_proposada_fase_desenvolupament | slice:0:25)+'..':(solucio.solucio_proposada_fase_desenvolupament)}}</td>
                <td class="align-middle">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Gestionar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item pointer" [attr.href]="'/solucio/'+solucio.idsolucio_proposada">Veure solucio</a>
                          <a class="dropdown-item pointer" (click)="eliminarSolucio(solucio.idsolucio_proposada)">Eliminar</a>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>
              
    </table>

</div>

<app-footer>
</app-footer>