<app-header></app-header>
<div class="container" style="margin-top: 40px;">

<h1 class="title-h" style="margin-bottom: 20px; margin-top: 20px;">Termes i condicions ("Condicions generals”)</h1>

<div style="margin-bottom: 50px;">
    Hub & Rock és propietat i està operat per la Cambra Oficial de Comerç, Indústria i Navegació de Girona, una
    corporació de dret públic que es regeix per la Llei 3/1993, amb CIF Q1773001A i domicili social a Av. Jaume I, 46,
    17001, Girona (d’ara endavant “Hub & Rock”, “nosaltres”, “plataforma”).
    <br>
    <br>
    Hub & Rock proporciona un servei de plataforma d'innovació accessible a <a href="https://www.hubandrock.com">www.hubandrock.com</a> ("plataforma"), que
    permet a les empreses i organitzacions que busquen solucions a problemes i reptes connectar amb els innovadors.
    <br>
    <br>
    Aquests Termes i Condicions regulen l’accés i l’ús a la plataforma i als seus serveis.
    <br>
    <br>
    En obrir un compte a la plataforma, heu de marcar una casella i confirmar que heu llegit i acceptat aquests Termes i
    condicions, que constitueixen un contracte legalment vinculant entre vosaltres i Hub & Rock.
    <br>
    <br>
    Si voleu participar en un repte específic, se us demanarà que reviseu i accepteu les regles aplicables al repte
    específic.
    <br>
    <br>
    Si no accepteu aquestes condicions generals, no podeu utilitzar la plataforma. Podem modificar aquests Termes i
    Condicions en qualsevol moment publicant una versió actualitzada en aquesta pàgina web i avisant abans que entrin en
    vigor.
    <br>
    <br>
    Per millorar la vostra experiència d'usuari, també podem modificar, sense previ avís, l'estructura i el disseny de
    la nostra plataforma, així com alguns serveis o contingut.
    <br>
    <br>
    <h3 class="title-s">Definicions</h3>
    <br>
    En aquest document,
    <br>
    <br>
    "Compte" significa el compte que s'ha de crear per convertir-se en membre i accedir als serveis oferts per la
    plataforma.
    <br>
    <br>
    "Resum" significa la definició concisa de les instruccions i directrius per participar en un repte repte, redactada
    pel creador del repte en qüestió.
    <br>
    <br>
    “Repte” significa una invitació a enviar solucions que resolen un problema específic definit pel creador del repte,
    que pot oferir un premi a les solucions guanyadores. Totes les solucions han de respectar les regles del repte, i el
    creador del repte pot revocar el premi inclòs després del seu lliurament si detecta una irregularitat en la solució
    guanyadora.
    <br>
    <br>
    "Regles del repte" es refereix a les regles aplicables a un repte i que són vinculants entre el creador del repte i
    cada participant del repte. En cas de discrepàncies o contradiccions amb les condicions generals, s’aplicaran les
    regles del repte.
    <br>
    <br>
    "Comunitat" fa referència a tots els membres de la plataforma.
    <br>
    <br>
    “Entregables” representen totes les idees originals, documents o altres materials (com presentacions, vídeos, etc.)
    penjats a la plataforma, pels membres d’un equip, com a resposta i solució a un repte específic.
    <br>
    <br>
    "Membre" significa qualsevol persona que tingui un compte a la plataforma.
    <br>
    <br>
    "Serveis" és el conjunts productes, serveis, continguts, funcions, tecnologies que oferim a través de la plataforma.
    <br>
    <br>
    “Creador del repte" és l'empresa o organització que crea un repte i el fa públic a tots els membres de la
    plataforma.
    <br>
    <br>
    <h3 class="title-s">Obertura d'un compte</h3>
    <br>
    <b>A. Condicions</b>
    <br>
    <br>
    Heu de ser major de 18 anys per obrir un compte de qualsevol tipus i utilitzar els serveis de la plataforma.
    <br>
    <br>
    Pels comptes d’empresa o d’organització, heu de tenir l’autorització necessària per operar en nom de l’empresa o
    organització que representeu. Hub & Rock no es responsabilitza de la falta d’autorització o de qualsevol tipus
    d’irregularitat que pot haver-hi entre el membre de la plataforma que gestiona l’usuari de la seva empresa o
    organització, i l’empresa o organització en nom de la qual opera.
    <br>
    <br>
    <b>B. Crear un compte</b>
    <br>
    <br>
    La plataforma permet als membres veure i inscriure’s en reptes i interactuar amb altres membres, empreses o
    organitzacions mitjançant el fòrum de cada repte o el xat de la plataforma. Els reptes són públics i visibles per
    tothom, però només hi poden participar aquelles persones que siguin membres de la plataforma.
    <br>
    <br>
    Per crear el vostre compte, heu d’emplenar els camps obligatoris del formulari de registres. Se us enviarà un enllaç
    d’activació del compte al correu electrònic.
    <br>
    <br>
    Per obrir un compte, és obligatori llegir i acceptar els Termes i Condicions i el nostre Avís de Privacitat.
    <br>
    <br>
    <b>C. Veracitat</b>
    <br>
    <br>
    Al obrir un compte a la plataforma, confirmeu que totes les dades i la informació, tant personal com de l’empresa o
    organització que representeu, és veraç i precisa i que l’actualitzareu sempre que hi hagi un canvi.
    <br>
    <br>
    <b>D. Contrasenya</b>
    <br>
    <br>
    Sou responsable de mantenir confidencial la contrasenya del vostre compte. Accepteu informar-nos si hi ha un ús no
    autoritzat del vostre compte o un incompliment de la seguretat, com ara la pèrdua o el robatori de la vostra
    informació d’inici de sessió.
    <br>
    <br>
    <h3 class="title-s">Serveis</h3>
    <br>
    Hub & Rock és una plataforma d’innovació on membres, empreses o organitzacions poden crear i publicar reptes en els
    quals els membres poden participar, subjectes a les condicions específiques de cada repte, tal com s’estableixen a
    les regles del repte.

    Com a membre podeu accedir a un espai personalitzat de la plataforma que conté el vostre perfil i us permet veure
    els reptes en els quals us heu inscrit, com també intercanviar missatges amb altres membres, empreses o
    organitzacions.

</div>
</div>
   


<app-footer></app-footer>