<app-header></app-header>
<div class="container-fluid no-existeix text-center d-flex flex-column justify-content-center" *ngIf="!usuariExists">
    <h1>Usuari no disponible</h1>
    Aquest usuari no existeix o ha estat eliminat <br>
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-manage" type="button" routerLink='/homepage'>TORNA A L'INICI</button>
    </div>
</div>
<section id="perfil-empresa" *ngIf="usuariExists && usuariObject && !usuariObject.empresa_rockstar">
    <!-- PERFIL EMPRESA HEADER -->
    <section id="hubrock-perfil-empresa-header">

        <div class="w-100">
            <div class="container">
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-auto mr-4">
                            <img class="rounded-circle" src="../../assets/logos/AIFactoryLogo.png" alt="">
                        </div>
                        <div class="col-md col-mt">
                            <div class="row no-gutters">
                                <div class="col-md-auto col-mr">
                                    <h4 id="perfil-nom">{{usuariObject.nom_empresa}}</h4>
                                </div>
                                <div class="col-md-auto">
                                    <button id="btn-editar" class="btn btn-primary mr-4" *ngIf="isOwnUser" (click)="routeEditProfile()">EDITAR PERFIL</button>
                                    <button id="btn-crear" class="btn btn-primary" *ngIf="isOwnUser">CREAR UN REPTE</button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <!-- <p class="mt-4 perfil-info">{{usuariObject.ocupacio}} <br> <img *ngIf="usuariObject.ubicacio" class="mr-1" src="../../assets/testicons/Localització.png" alt=""><span style="vertical-align: middle;">{{usuariObject.ubicacio}}</span></p> -->
                                    <img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Twitter.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Instagram.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Facebook.png" alt="">
                                    <img src="../../assets/testicons/Correu.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PERFIL EMPRESA TABS -->
    <section id="perfil-empresa-tabs">
        <div class="container infobox-container">
            <hr>
            <!-- Nav pills -->
            <ul id="tabs-empresa" class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label active" data-toggle="pill" href="#empresa-aboutme">Sobre l'empresa</a>
                </li>
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label" data-toggle="pill" href="#empresa-reptes" (click)="loadReptes()">Reptes creats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-label" data-toggle="pill" href="#empresa-solucions" (click)="loadSolucions()">Solucions</a>
                </li>
            </ul>
            <hr class="tab-content-mb">

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- TABS INFO EMPRESA -->
                <div id="empresa-aboutme" class="container tab-pane card active card-radius">
                    <div class="card-body">
                        <div class="mb-5 mt-3">
                            <h5 class="card-title">Sobre nosaltres</h5>
                            <p class="card-text" *ngIf="usuariObject.bio || usuariObject.bio != ''">{{usuariObject.bio}}</p>
                            <p class="card-text" *ngIf="!usuariObject.bio || usuariObject.bio == ''">Hola! Aquest és el nostre perfil de Hub & Rock! Aqui podràs veure informació sobre els nostres serveis, presentació amb un descarregable i molt més.
                                Fins i tot podràs veure els nostres reptes i solucions enviades!
                            </p>
                        </div>
                        <div class="p-border-mb">
                            <h5 class="card-title">Els nostres serveis</h5>
                            <p class="p-border mr-4">tecnologia</p>
                            <p class="p-border mr-4">disseny</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Presentació empresa</h5>
                            <img class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                            <a href="#" class="link-perfil-empresa">CV AI Factory</a>
                        </div>
                    </div>
                </div>

                <!-- TABS REPTES CREATS -->
                <div id="empresa-reptes" class="tab-pane fade">
                    <!-- ESBORRANYS -->
                    <div *ngIf="isOwnUser">
                        <div *ngIf="userReptesEsborrany && userReptesEsborrany.length < 1">No hi ha creat cap esborrany</div>
                        <h1 class="reptestitle">Esborranys</h1>
                        <p class="small-letter">Fes clic sobre un repte per seguir creant-lo</p>

                        <div class="row d-flex mt-5 flex-column align-items-center esborranys-mb">
                            <div class="row w-100">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="card">
                                        <img class="card-img-top" src="../../assets/testpics/testpic4.jpg" alt="Card image cap">
                                        <div class="card-body fitxa-repte">
                                            <div class="card-title d-flex">
                                                <img class="rounded-circle" width="25px" src="../../assets/logos/AIFactoryLogo.png" alt="25x25"> &nbsp;AI Factory
                                            </div>
                                            <h5 class="card-title titol-repte">Repte programació amb AI</h5>
                                            <p class="card-text desc-repte">Programació utilitzant la intel·ligència artificial. Ideal per aprenents i fins i tot per usuaris avançats.</p>
                                            <div class="card-title d-flex">
                                                <img width="25px" src="../../assets/illustrations/Win2.png" alt="25x25"> &nbsp;10.000€ / 5.000€ / 3.500€
                                            </div>
                                            <div class="card-title d-flex">
                                                <img width="25px" src="../../assets/illustrations/Time.png" alt="25x25"> &nbsp;A definir
                                            </div>
                                            <div class="tags">
                                                <button type="button" class="tag btn btn-warning">Estudiants</button>
                                                <button type="button" class="tag btn btn-success">Públic general</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <!-- RETPES PUBLICATS -->
                    <h1 class="reptestitle">Reptes publicats</h1>

                    <div *ngIf="userReptes && userReptes.length < 1">No hi ha creat cap repte</div>
                    <div *ngIf="userReptes && userReptes.length > 0" class="row d-flex flex-column align-items-center mt-5">
                        <div class="row w-100">
                
                                <div *ngFor="let repte of userReptes; let i = index" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card" routerLink="/repte/{{repte.idrepte}}">
                                        <img class="card-img-top" width="350px" height="211px" src="../../assets/testpics/Banner_PackEco.jpg" alt="Card image cap">
                                        <div class="card-body fitxa-repte">
                                            <div class="card-title d-flex">
                                                <img class="rounded-circle" width="25px" src="../../assets/logos/udgLogo.png" alt="25x25"> &nbsp;{{repte.user.nom_empresa}}
                                            </div>
                                            <h5 class="card-title titol-repte">{{repte.nom}}</h5>
                                            <p class="card-text desc-repte">{{repte.descripcio_short}}</p>
                                            <div class="card-title d-flex align-items-center">
                                                <img class="align-self-center" style="margin-right: 5px;" width="25px" src="../../assets/illustrations/Win2.png" alt="25x25">
                                                <div class="d-flex" style="margin-top: 10px;">
                                                    <div *ngFor="let premi of repte.premis; let i = index">
                                                        <p *ngIf="i != repte.premis.length">{{premi.premi_dotacio}}€ /&nbsp;</p>
                                                        <p *ngIf="i == repte.premis.length">{{premi.premi_dotacio}}€</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-title d-flex">
                                                <img class="align-self-center" style="margin-right: 5px;" width="25px" src="../../assets/illustrations/Time.png" alt="25x25">{{returnDaydddMMMyyy(repte.data_inici | date:'shortDate')}} ({{diesRestants(repte.data_inici, repte.data_final)}})
                                            </div>
                                            <div class="tags">
                                                <button type="button" class="tag btn tag-red">Startups</button>
                                                <button type="button" class="tag btn tag-blue">Empreses</button>
                                                <button type="button" class="tag btn tag-orange">Estudiants</button>
                                                <button type="button" class="tag btn tag-purple">Públic general</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>


                    </div>




                </div>

                <!-- TABS SOLUCIONS -->
                <div id="empresa-solucions" class="tab-pane fade">
                    <div *ngIf="isOwnUser">
                        <div *ngIf="userSolucionsEsborrany && userSolucionsEsborrany.length < 1">No hi ha creat cap esborrany</div>
                        <h1 class="reptestitle">Esborranys</h1>
                        <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                            <div class="row w-100">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card solucio-esborrany p-2">
                                        <div class="card-body">
                                            <h5 class="card-title">Incrementar personal de neteja</h5>
                                            <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte del medi ambient UdG</a></h6>

                                        </div>
                                        <div class="card-footer bg-transparent">
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <img class="rounded-circle" width="45px" src="../../assets/illustrations/Time.png" alt="">
                                                </div>
                                                <div class="col solucio-footer m-auto">
                                                    <span class="esborrany-inici">6 de juliol</span><br><span class="esborrany-final">Queden 8 dies</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h1 class="reptestitle">Solucions enviades</h1>
                    <div *ngIf="userSolucions && userSolucions.length < 1">No hi ha creada cap solució</div>
                    <div *ngIf="userSolucions && userSolucions.length > 0" class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                        <div class="row w-100">
                            <div *ngFor="let solucio of userSolucions" class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{solucio.solucio_proposada_nom}}</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Demanar ferran que get solucio retorni nom de repte</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/AIFactoryLogo.png" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                {{usuariObject.nom_empresa}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="perfil-usuari" *ngIf="usuariExists && usuariObject &&  usuariObject.empresa_rockstar">
    <!-- PERFIL usuari HEADER -->
    <section id="hubrock-perfil-usuari-header">

        <div class="w-100">
            <div class="container">
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-auto mr-4">
                            <img height="214px" height="214px" class="rounded-circle" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                        </div>
                        <div class="col-md col-mt">
                            <div class="row no-gutters">
                                <div class="col-md-auto col-mr">
                                    <h4 id="perfil-nom">{{usuariObject.nom_rockstar}}</h4>
                                </div>
                                <div class="col-md-auto">
                                    <button id="btn-editar" class="btn btn-primary" *ngIf="isOwnUser" (click)="routeEditProfile()">EDITAR PERFIL</button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <p class="mt-4 perfil-info">{{usuariObject.ocupacio}} <br> <img *ngIf="usuariObject.ubicacio" class="mr-1" src="../../assets/testicons/Localització.png" alt=""><span style="vertical-align: middle;">{{usuariObject.ubicacio}}</span> </p>
                                    <img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Twitter.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Instagram.png" alt="">
                                    <img class="mr-2" src="../../assets/testicons/Facebook.png" alt="">
                                    <img src="../../assets/testicons/Correu.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PERFIL usuari TABS -->
    <section id="perfil-usuari-tabs">
        <div class="container infobox-container">
            <hr>
            <!-- Nav pills -->
            <ul id="tabs-usuari" class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label active" data-toggle="pill" href="#usuari-aboutme">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-label" data-toggle="pill" href="#usuari-solucions" (click)="loadSolucions()">Solucions</a>
                </li>
            </ul>
            <hr class="tab-content-mb">

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- TABS INFO usuari -->
                <div id="usuari-aboutme" class="container tab-pane card active card-radius">
                    <div class="card-body">
                        <div class="mb-5 mt-3">
                            <h5 class="card-title">Sobre mi</h5>
                            <p class="card-text" *ngIf="usuariObject.bio || usuariObject.bio != ''">{{usuariObject.bio}}</p>
                            <p class="card-text" *ngIf="!usuariObject.bio || usuariObject.bio == ''">Hola! Aquest és el meu perfil de Hub & Rock! Aqui podràs veure la informació sobre les meves habilitats, presentació amb un descarregable i molt més.
                                Fins i tot podràs veure les meves solucions enviades!</p>
                            
                        </div>
                        <div class="p-border-mb">
                            <h5 class="card-title">Habilitats</h5>
                            <p class="p-border mr-4">tecnologia</p>
                            <p class="p-border mr-4">programació</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Experiència</h5>
                            <p class="card-text">{{usuariObject.experiencia}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Educació</h5>
                            <p class="card-text">{{usuariObject.educacio}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">CV</h5>
                            <img class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                            <a href="#" class="link-perfil-usuari">CV Laia Pedragosa</a>
                        </div>
                    </div>
                </div>

                <!-- TABS SOLUCIONS -->
                <div id="usuari-solucions" class="tab-pane fade">
                    <div *ngIf="isOwnUser">
                        <div *ngIf="userSolucionsEsborrany && userSolucionsEsborrany.length < 1">No hi ha creat cap esborrany</div>
                        <h1 class="reptestitle">Esborranys</h1>

                        <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                            <div class="row w-100">
                                <div class="col-md-4 col-sm-6">
                                    <div class="card solucio-esborrany p-2">
                                        <div class="card-body">
                                            <h5 class="card-title">Implementar nous mètodes d'ensenyament</h5>
                                            <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte Digital Campus UdG</a></h6>

                                        </div>
                                        <div class="card-footer bg-transparent">
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <img class="rounded-circle" width="45px" src="../../assets/illustrations/Time.png" alt="">
                                                </div>
                                                <div class="col solucio-footer m-auto">
                                                    <span class="esborrany-inici">6 de juliol</span><br><span class="esborrany-final">Queden 8 dies</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h1 class="reptestitle">Solucions enviades</h1>
                    <div *ngIf="userSolucions && userSolucions.length < 1">No hi ha creada cap solució</div>
                    <div *ngIf="userSolucions && userSolucions.length > 0" class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                        <div class="row w-100">
                            <div *ngFor="let solucio of userSolucions" class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">{{solucio.solucio_proposada_nom}}</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte del medi ambient UdG</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                nom usuari demanar ferran
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>