<app-header></app-header>
<div class="container-fluid no-existeix text-center d-flex flex-column justify-content-center" *ngIf="!usuariExists">
    <h1>Usuari no disponible</h1>
    Aquest usuari no existeix o ha estat eliminat <br>
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-manage" type="button" routerLink='/homepage'>TORNA A L'INICI</button>
    </div>
</div>
<section id="perfil-empresa" *ngIf="usuariExists && usuariObject && !usuariObject.empresa_rockstar">
    <!-- PERFIL EMPRESA HEADER -->
    <section id="hubrock-perfil-empresa-header">

        <div class="w-100">
            <div class="container">
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-auto mr-4">
                            <img height="214px" width="214px" class="rounded-circle" [src]="fileStorageUrl + usuariObject.url_photo_profile" alt="">
                        </div>
                        <div class="col-md col-mt">
                            <div class="row no-gutters">
                                <div class="col-md-auto col-mr">
                                    <h4 id="perfil-nom">{{usuariObject.nom_empresa}}</h4>
                                </div>
                                <div class="col-md-auto">
                                    <button id="btn-editar" class="btn btn-primary mr-4" *ngIf="isOwnUser" (click)="routeEditProfile()">EDITAR PERFIL</button>
                                    <button id="btn-crear" class="btn btn-primary" *ngIf="isOwnUser" routerLink="/creacio-repte">CREAR UN REPTE</button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <!-- <p class="mt-4 perfil-info">{{usuariObject.ocupacio}} <br> <img *ngIf="usuariObject.ubicacio" class="mr-1" src="../../assets/testicons/Localització.png" alt=""><span style="vertical-align: middle;">{{usuariObject.ubicacio}}</span></p> -->
                                    <p class="mt-4 perfil-info">
                                        <img class="mr-1" src="../../assets/testicons/place-localizer.png" alt="">
                                        <span *ngIf="usuariObject.ubicacio" style="vertical-align: middle;">{{usuariObject.ubicacio}}</span>
                                        <span *ngIf="!usuariObject.ubicacio" style="vertical-align: middle;">Ubicació sense especificar</span>
                                    </p>
                                    <a *ngIf="usuariObject.xarxes_linkedin" [attr.href]="usuariObject.xarxes_linkedin" target="_blank"><img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="LinkedIn"></a>
                                    <a *ngIf="usuariObject.xarxes_instagram" [attr.href]="usuariObject.xarxes_instagram" target="_blank"><img class="mr-2" src="../../assets/testicons/Instagram.png" alt="Instagram"></a>
                                    <a *ngIf="usuariObject.xarxes_facebook" [attr.href]="usuariObject.xarxes_facebook" target="_blank"><img class="mr-2" src="../../assets/testicons/Facebook.png" alt="Facebook"></a>
                                    <a *ngIf="usuariObject.xarxes_twitter" [attr.href]="usuariObject.xarxes_twitter" target="_blank"><img class="mr-2" src="../../assets/testicons/Twitter.png" alt="Twitter"></a>
                                    <!-- <a *ngIf="usuariObject.xarxes_correu" [attr.href]="usuariObject.xarxes_correu"><img class="mr-2" src="../../assets/testicons/Correu.png" alt="Correu"></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PERFIL EMPRESA TABS -->
    <section id="perfil-empresa-tabs">
        <div class="container infobox-container">
            <hr>
            <!-- Nav pills -->
            <ul id="tabs-empresa" class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label active" data-toggle="pill" href="#empresa-aboutme">Sobre l'empresa</a>
                </li>
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label" data-toggle="pill" href="#empresa-reptes">Reptes creats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-label" data-toggle="pill" href="#empresa-solucions">Solucions</a>
                </li>
            </ul>
            <hr class="tab-content-mb">

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- TABS INFO EMPRESA -->
                <div id="empresa-aboutme" class="container tab-pane card active card-radius profilecard">
                    <div class="card-body">
                        <div class="mb-5 mt-3">
                            <h5 class="card-title">Sobre nosaltres</h5>
                            <p class="card-text" *ngIf="usuariObject.bio || usuariObject.bio != ''">{{usuariObject.bio}}</p>
                            <p class="card-text" *ngIf="!usuariObject.bio || usuariObject.bio == ''">Hola! Aquest és el nostre perfil de Hub & Rock! Aqui podràs veure informació sobre els nostres serveis, presentació amb un descarregable i molt més. Fins i tot podràs veure els nostres reptes i solucions enviades!
                            </p>
                        </div>
                        <div class="p-border-mb">
                            <h5 class="card-title">Els nostres serveis</h5>
                            <p class="card-text" *ngIf="!usuariObject.serveis.length">Serveis sense definir</p>
                            <p *ngFor="let servei of usuariObject.serveis" class="p-border mr-4">{{servei.servei_nom}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Presentació empresa</h5>
                            <p class="card-text" *ngIf="!usuariObject.cv_path">Aquesta empresa no ha compartit la seva presentació</p>
                            <img *ngIf="usuariObject.cv_path" class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                            <a target="_blank" [href]="fileStorageUrl + usuariObject.cv_path" download *ngIf="usuariObject.cv_path" class="link-perfil-empresa">Currículum {{usuariObject.nom_empresa}}</a>
                        </div>
                    </div>
                </div>

                <!-- TABS REPTES CREATS -->
                <div id="empresa-reptes" class="tab-pane fade">
                    <!-- ESBORRANYS -->
                    <div *ngIf="isOwnUser">
                        <div *ngIf="userReptesEsborrany && userReptesEsborrany.length < 1">No hi ha creat cap esborrany</div>
                        <h1 class="reptestitle">Esborranys</h1>
                        <p class="small-letter">Fes clic sobre un repte per seguir creant-lo</p>

                        <div class="row d-flex mt-5 flex-column align-items-center esborranys-mb">
                            <div class="row w-100">

                                <div *ngFor="let repteEsborrany of userReptesEsborrany; let i = index" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="card" [routerLink]="['/repte/', repteEsborrany.idrepte, 'editar-esborrany']">
                                        <!--routerLink="/repte/{{repte.idrepte}}"-->
                                        <img class="card-img-top" width="350px" height="211px" src="../../assets/testpics/testpic4.jpg" alt="Card image cap">
                                        <div class="card-body fitxa-repte">
                                            <div class="card-title d-flex">
                                                <img class="rounded-circle mr-2 mt-0 align-self-center" width="25px" src="../../assets/logos/udgLogo.png" alt="25x25" routerLink="/homepage">
                                                <p class="m-0 username" routerLink="/homepage">{{repteEsborrany.user.nom_empresa}}</p>
                                            </div>
                                            <h5 class="card-title titol-repte">{{repteEsborrany.nom}}</h5>
                                            <p *ngIf="!repteEsborrany.descripcio_short" class="card-text desc-repte">Sense descripció breu</p>
                                            <p *ngIf="repteEsborrany.descripcio_short" class="card-text desc-repte">{{repteEsborrany.descripcio_short}}</p>
                                            <div class="card-title d-flex align-items-center">
                                                <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Win2.png" alt="25x25">
                                                <div class="d-flex align-items-center">
                                                    <p *ngIf="!repteEsborrany.premis.length" class="m-0">Premis sense definir</p>
                                                    <div *ngFor="let premi of repteEsborrany.premis; let i = index">
                                                        <p class="m-0" *ngIf="i+1 != repteEsborrany.premis.length">{{premi.premi_dotacio}}€ /&nbsp;</p>
                                                        <p class="m-0" *ngIf="i+1 == repteEsborrany.premis.length">{{premi.premi_dotacio}}€</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-title d-flex">
                                                <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Time.png" alt="25x25">
                                                <p *ngIf="!repteEsborrany.data_inici || !repteEsborrany.data_final" class="m-0">Dates sense definir</p>
                                                <p class="m-0">{{diesRestants(repteEsborrany.data_inici, repteEsborrany.data_final)}}</p>
                                            </div>
                                            <div class="tags">
                                                <button type="button" class="tag btn tag-red">Startups</button>
                                                <button type="button" class="tag btn tag-blue">Empreses</button>
                                                <button type="button" class="tag btn tag-orange">Estudiants</button>
                                                <button type="button" class="tag btn tag-purple">Públic general</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div *ngIf="!reptesEsborranyNoMore" class="text-center">
                                <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreReptesEsborrany()">VEURE MÉS</button>
                            </div>
                        </div>

                    </div>


                    <!-- RETPES PUBLICATS -->
                    <h1 class="reptestitle">Reptes publicats</h1>

                    <div *ngIf="userReptes && userReptes.length < 1">No hi ha creat cap repte</div>
                    <div *ngIf="userReptes && userReptes.length > 0" class="row d-flex flex-column align-items-center mt-5">
                        <div class="row w-100">

                            <div *ngFor="let repte of userReptes; let i = index" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="card" routerLink="/repte/{{repte.idrepte}}" [ngClass]="{'repte-pendent-revisio' : repte.estat_idestat == 2, 'repte-rebutjat' : repte.estat_idestat == 4}">
                                    <img class="card-img-top" width="350px" height="211px" src="../../assets/testpics/Banner_PackEco.jpg" alt="Card image cap">
                                    <div class="card-body fitxa-repte">
                                        <div class="card-title d-flex">
                                            <img class="rounded-circle mr-2 mt-0 align-self-center" width="25px" src="../../assets/logos/udgLogo.png" alt="25x25" routerLink="/homepage">
                                            <p class="m-0 username" routerLink="/homepage">{{repte.user.nom_empresa}}</p>
                                        </div>
                                        <h5 class="card-title titol-repte">{{repte.nom}}</h5>
                                        <p class="card-text desc-repte">{{repte.descripcio_short}}</p>
                                        <div class="card-title d-flex align-items-center">
                                            <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Win2.png" alt="25x25">
                                            <div class="d-flex align-items-center">
                                                <div *ngFor="let premi of repte.premis; let i = index">
                                                    <p class="m-0" *ngIf="i+1 != repte.premis.length">{{premi.premi_dotacio}}€ /&nbsp;</p>
                                                    <p class="m-0" *ngIf="i+1 == repte.premis.length">{{premi.premi_dotacio}}€</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-title d-flex">
                                            <img class="align-self-center" style="margin-right: 10px;" width="25px" src="../../assets/illustrations/Time.png" alt="25x25">
                                            <p class="m-0">{{returnDaydddMMMyyy(repte.data_inici | date:'shortDate')}} ({{diesRestants(repte.data_inici, repte.data_final)}})</p>
                                        </div>
                                        <div class="tags">
                                            <button type="button" class="tag btn tag-red">Startups</button>
                                            <button type="button" class="tag btn tag-blue">Empreses</button>
                                            <button type="button" class="tag btn tag-orange">Estudiants</button>
                                            <button type="button" class="tag btn tag-purple">Públic general</button>
                                        </div>
                                    </div>
                                    <div *ngIf="repte.estat_idestat != 3" class="card-footer">
                                        <span *ngIf="repte.estat_idestat == 2" class="card-footer-text">Pendent de revisió: El seu repte ha de ser revisat per un administrador abans de ser publicat</span>
                                        <span *ngIf="repte.estat_idestat == 4" class="card-footer-text">Rebutjat: L'administrador ha decidit que el repte no és apte per ser publicat (editi el repte perquè el torni a revisar l'administrador)</span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="!reptesNoMore" class="w-100 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreReptes()">VEURE MÉS</button>
                            </div>
                        </div>


                    </div>




                </div>

                <!-- TABS SOLUCIONS -->
                <div id="empresa-solucions" class="tab-pane fade">
                    <div *ngIf="isOwnUser">
                        <h1 class="reptestitle">Esborranys</h1>
                        <div *ngIf="userSolucionsEsborrany && userSolucionsEsborrany.length < 1" style="margin-bottom: 90px;">No hi ha creat cap esborrany</div>
                        <div *ngIf="userSolucionsEsborrany && userSolucionsEsborrany.length >= 1" class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                            <div class="row w-100">
                                <div *ngFor="let solucioEsborrany of userSolucionsEsborrany" class="col-md-4 col-sm-6">
                                    <div click-stop-propagation class="card solucio-esborrany p-2" [routerLink]="['/solucio/', solucioEsborrany.idsolucio_proposada, 'editar-esborrany']">
                                        <div class="card-body">
                                            <h5 class="card-title text-overflow">{{solucioEsborrany.solucio_proposada_nom}}</h5>
                                            <h6 class="card-subtitle mb-5 text-overflow">Repte <a click-stop-propagation [routerLink]="['/repte/', solucioEsborrany.idrepte]" target="_blank">{{solucioEsborrany.nom}}</a></h6>

                                        </div>
                                        <div class="card-footer card-footer-text esborrany-expired" *ngIf="!canParticipate(solucioEsborrany.data_inici, solucioEsborrany.data_final)">
                                            El repte al qual pertany aquesta solució ha acabat i ja no accepta propostes. Comprova que hagis guardat qualsevol idea interessant abans d'<a click-stop-propagation (click)="eliminarSolucio(solucioEsborrany.idsolucio_proposada)"
                                                class="eliminar-esborrany-link">eliminar-la</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div *ngIf="!solucionsEsborranyNoMore" class="text-center">
                                <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreSolucionsEsborrany()">VEURE MÉS</button>
                            </div>
                        </div>

                    </div>


                    <h1 class="reptestitle">Solucions enviades</h1>
                    <div *ngIf="userSolucions && userSolucions.length < 1" style="margin-bottom: 90px;">No hi ha creada cap solució</div>
                    <div *ngIf="userSolucions && userSolucions.length > 0" class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                        <div class="row w-100">
                            <div *ngFor="let solucio of userSolucions" class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2" click-stop-propagation [routerLink]="['/solucio/', solucio.idsolucio_proposada]">
                                    <div class="card-body">
                                        <h5 class="card-title text-overflow">{{solucio.solucio_proposada_nom}}</h5>
                                        <h6 class="card-subtitle mb-5 text-overflow">Repte <a click-stop-propagation [routerLink]="['/repte/', solucio.idrepte]" target="_blank">{{solucio.nom}}</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" target="_blank"><img class="rounded-circle" height="50px" width="50px" [src]="fileStorageUrl + solucio.user.url_photo_profile" alt=""></a>
                                            </div>
                                            <div class="col m-auto text-overflow-1">
                                                <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" target="_blank" class="solucio-footer username">{{solucio.user.nom_empresa}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!solucionsNoMore" class="text-center">
                            <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreSolucions()">VEURE MÉS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section id="perfil-usuari" *ngIf="usuariExists && usuariObject &&  usuariObject.empresa_rockstar">
    <!-- PERFIL usuari HEADER -->
    <section id="hubrock-perfil-usuari-header">

        <div class="w-100">
            <div class="container">
                <div class="mt-5">
                    <div class="row">
                        <div class="col-md-auto mr-4">
                            <img height="214px" width="214px" class="rounded-circle" [src]="fileStorageUrl + usuariObject.url_photo_profile" alt="">
                        </div>
                        <div class="col-md col-mt">
                            <div class="row no-gutters">
                                <div class="col-md-auto col-mr">
                                    <h4 id="perfil-nom">{{usuariObject.nom_rockstar}}</h4>
                                </div>
                                <div class="col-md-auto">
                                    <button id="btn-editar" class="btn btn-primary" *ngIf="isOwnUser" (click)="routeEditProfile()">EDITAR PERFIL</button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <p class="mt-4 perfil-info">
                                        <span *ngIf="usuariObject.ocupacio">{{usuariObject.ocupacio}}<br></span>
                                        <img class="mr-1" src="../../assets/testicons/place-localizer.png" alt="Ubicacio usuari">

                                        <span *ngIf="usuariObject.ubicacio" style="vertical-align: middle;">{{usuariObject.ubicacio}}</span>
                                        <span *ngIf="!usuariObject.ubicacio" style="vertical-align: middle;">Ubicació sense especificar</span>
                                    </p>

                                    <a *ngIf="usuariObject.xarxes_linkedin" [attr.href]="usuariObject.xarxes_linkedin" target="_blank"><img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="LinkedIn"></a>
                                    <a *ngIf="usuariObject.xarxes_instagram" [attr.href]="usuariObject.xarxes_instagram" target="_blank"><img class="mr-2" src="../../assets/testicons/Instagram.png" alt="Instagram"></a>
                                    <a *ngIf="usuariObject.xarxes_facebook" [attr.href]="usuariObject.xarxes_facebook" target="_blank"><img class="mr-2" src="../../assets/testicons/Facebook.png" alt="Facebook"></a>
                                    <a *ngIf="usuariObject.xarxes_twitter" [attr.href]="usuariObject.xarxes_twitter" target="_blank"><img class="mr-2" src="../../assets/testicons/Twitter.png" alt="Twitter"></a>
                                    <!-- <a *ngIf="usuariObject.xarxes_correu" [attr.href]="usuariObject.xarxes_correu"><img class="mr-2" src="../../assets/testicons/Correu.png" alt="Correu"></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PERFIL usuari TABS -->
    <section id="perfil-usuari-tabs">
        <div class="container infobox-container">
            <hr>
            <!-- Nav pills -->
            <ul id="tabs-usuari" class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item li-mr">
                    <a class="nav-link tab-label active" data-toggle="pill" href="#usuari-aboutme">Sobre mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tab-label" data-toggle="pill" href="#usuari-solucions">Solucions</a>
                </li>
            </ul>
            <hr class="tab-content-mb">

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- TABS INFO usuari -->
                <div id="usuari-aboutme" class="container tab-pane card active card-radius">
                    <div class="card-body">
                        <div class="mb-5 mt-3">
                            <h5 class="card-title">Sobre mi</h5>
                            <p class="card-text" *ngIf="usuariObject.bio || usuariObject.bio != ''">{{usuariObject.bio}}</p>
                            <p class="card-text" *ngIf="!usuariObject.bio || usuariObject.bio == ''">Hola! Aquest és el meu perfil de Hub & Rock! Aqui podràs veure la informació sobre les meves habilitats, presentació amb un descarregable i molt més. Fins i tot podràs veure les meves solucions enviades!</p>

                        </div>
                        <div class="p-border-mb">
                            <h5 class="card-title">Habilitats</h5>
                            <p class="card-text" *ngIf="!usuariObject.habilitats.length">Habilitats sense definir</p>
                            <p *ngFor="let habilitat of usuariObject.habilitats" class="p-border mr-4">{{habilitat.habilitat_nom}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Experiència</h5>
                            <p class="card-text" *ngIf="!usuariObject.experiencia">Experiència sense definir</p>
                            <p class="card-text">{{usuariObject.experiencia}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">Educació</h5>
                            <p class="card-text" *ngIf="!usuariObject.educacio">Educació sense definir</p>
                            <p class="card-text">{{usuariObject.educacio}}</p>
                        </div>
                        <div class="mb-5">
                            <h5 class="card-title">CV</h5>
                            <p class="card-text" *ngIf="!usuariObject.cv_path">Aquest usuari no ha compartit el CV</p>
                            <img *ngIf="usuariObject.cv_path" class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                            <a target="_blank" [href]="fileStorageUrl + usuariObject.cv_path" download *ngIf="usuariObject.cv_path" class="link-perfil-usuari">Presentació {{usuariObject.nom_rockstar}}</a>
                        </div>
                    </div>
                </div>

                <!-- TABS SOLUCIONS -->
                <div id="usuari-solucions" class="tab-pane fade">
                    <div *ngIf="isOwnUser">
                        <div *ngIf="userSolucionsEsborrany && userSolucionsEsborrany.length < 1">No hi ha creat cap esborrany</div>
                        <h1 class="reptestitle">Esborranys</h1>

                        <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                            <div class="row w-100">
                                <div *ngFor="let solucioEsborrany of userSolucionsEsborrany" class="col-md-4 col-sm-6">
                                    <div click-stop-propagation class="card solucio-esborrany p-2" [routerLink]="['/solucio/', solucioEsborrany.idsolucio_proposada, 'editar-esborrany']">
                                        <div class="card-body">
                                            <h5 class="card-title text-overflow">{{solucioEsborrany.solucio_proposada_nom}}</h5>
                                            <h6 class="card-subtitle mb-5 text-overflow">Repte <a click-stop-propagation [routerLink]="['/repte/', solucioEsborrany.idrepte]" target="_blank">{{solucioEsborrany.nom}}</a></h6>

                                        </div>
                                        <div class="card-footer card-footer-text esborrany-expired" *ngIf="!canParticipate(solucioEsborrany.data_inici, solucioEsborrany.data_final)">
                                            El repte al qual pertany aquesta solució ha acabat i ja no accepta propostes. Comprova que hagis guardat qualsevol idea interessant abans d'<a click-stop-propagation (click)="eliminarSolucio(solucioEsborrany.idsolucio_proposada)"
                                                class="eliminar-esborrany-link">eliminar-la</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!solucionsEsborranyNoMore" class="text-center">
                                <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreSolucionsEsborrany()">VEURE MÉS</button>
                            </div>
                        </div>
                    </div>


                    <h1 class="reptestitle">Solucions enviades</h1>
                    <div *ngIf="userSolucions && userSolucions.length < 1">No hi ha creada cap solució</div>
                    <div *ngIf="userSolucions && userSolucions.length > 0" class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                        <div class="row w-100">
                            <div *ngFor="let solucio of userSolucions" class="col-md-4 col-sm-6">
                                <div click-stop-propagation class="card solucio-enviat p-2" [routerLink]="['/solucio/', solucio.idsolucio_proposada]">
                                    <div class="card-body">
                                        <h5 class="card-title text-overflow">{{solucio.solucio_proposada_nom}}</h5>
                                        <h6 class="card-subtitle mb-5 text-overflow">Repte <a click-stop-propagation [routerLink]="['/repte/', solucio.idrepte]" target="_blank">{{solucio.nom}}</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" target="_blank"><img class="rounded-circle" height="50px" width="50px" [src]="fileStorageUrl + solucio.user.url_photo_profile" alt=""></a>
                                            </div>
                                            <div class="col m-auto text-overflow-1">
                                                <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" target="_blank" class="solucio-footer username">{{solucio.user.nom_rockstar}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!solucionsNoMore" class="text-center">
                            <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreSolucions()">VEURE MÉS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>