<app-header>
</app-header>

<section id="restore-section">

    <div id="restore-container">

        <div class="container">

            <h1 id="title" class="text-center">Recupera la teva contrasenya</h1>

            <form [formGroup]="restoreForm" (ngSubmit)="onRestore()">
                <div class="form-group">
                    <label for="InputCorreu">Correu</label>
                    <input formControlName="email" type="email" class="form-control" id="InputCorreu" aria-describedby="emailHelp">
                </div>
                <div class="text-center">
                    <button id="btn-restore" class="btn btn-primary">BUSCA</button>
                </div>
            </form>
            <!--
            <hr>
            <p id="no-user">
                No ets usuari? Crea el teu <a href="#">aquí</a>
            </p>-->
        </div>
    </div>

</section>

<app-footer></app-footer>