<app-header>
</app-header>

<section id="restore-section">

    <div id="restore-container">

        <div class="container">

            <h1 id="title" class="text-center">Recupera la teva contrasenya</h1>

            <form [formGroup]="restoreForm" (ngSubmit)="onRestore()">
                <div class="form-group" [ngClass]="{'has-errors' : restoreForm.get('email').errors && (restoreForm.get('email').touched || restoreForm.get('email').dirty)}">
                    <label for="InputCorreu">Correu</label>
                    <input formControlName="email" type="email" class="form-control" id="InputCorreu" aria-describedby="emailHelp">
                    <span class="help-block" *ngIf="restoreForm.get('email').errors?.required && restoreForm.get('email').touched">Introdueix un correu electrònic.</span>
                    <span class="help-block" *ngIf="restoreForm.get('email').errors?.email && restoreForm.get('email').dirty">Introdueix un correu electrònic vàlid.</span>

                </div>
                <div class="text-center">
                    <button id="btn-restore" [disabled]="restoreForm.invalid" class="btn btn-primary">BUSCA</button>
                </div>
            </form>

        </div>
    </div>

</section>

<app-footer></app-footer>