<app-header></app-header>
<section id="main-title-section">
    <div class="d-flex flex-column align-items-center">
        <div class="main-h1">
            <h1>La plataforma que et permet crear reptes d’innovació oberta</h1>
            <p>
                Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions
            </p>
        </div>
    </div>
    <div class="container">
        <img src="https://dummyimage.com/1110x391/000/fff" alt="">
    </div>
</section>

<section id="crea-repte-section">
    <div class="container">
        <div class="crea-repte-text">
            <h3 class="crea-repte-titol">Crea el teu repte en minuts</h3>
            <p>
                Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto col-img">
                <img src="https://dummyimage.com/403x512/000/fff" alt="">
            </div>
            <div class="col-md-6 col-tabs">
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap">
                    <div class="col-md-auto col-sm-auto"><img src="https://dummyimage.com/83x83/000/fff" alt=""></div>
                    <div class="col-md-8 col-sm-8 d-flex flex-column justify-content-center">
                        <h4>Atraure talent</h4>
                        <p class="mb-0">Accelera la innovació a través de col·laboracions </p>
                    </div>
                </div>
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap">
                    <div class="col-md-auto"><img src="https://dummyimage.com/83x83/000/fff" alt=""></div>
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h4>Atraure talent</h4>
                        <p class="mb-0">Accelera la innovació a través de col·laboracions </p>
                    </div>
                </div>
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap">
                    <div class="col-md-auto"><img src="https://dummyimage.com/83x83/000/fff" alt=""></div>
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h4>Atraure talent</h4>
                        <p class="mb-0">Accelera la innovació a través de col·laboracions </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>