<app-header></app-header>
<section id="main-title-section">
    <div class="d-flex flex-column align-items-center">
        <div class="main-h1">
            <h1>La plataforma que impulsa la innovació a través de reptes</h1>
            <p>Hub & Rock és una plataforma creada per la Cambra de Comerç de Girona amb l’objectiu d’accelerar la innovació a través de reptes entre empreses, startups, experts i estudiants. </p>
            <p>Som una plataforma d’innovació oberta amb unes característiques úniques, i hem creat un espai de col·laboració on les idees deixen de ser idees i es converteixen en realitats. </p>
        </div>
    </div>
    <div class="container">
        <img src="../../assets/banners/sobre_hub_banner.png" alt="">
    </div>
</section>

<section id="crea-repte-section">
    <div class="container">
        <div class="crea-repte-text">
            <h3 class="crea-repte-titol">Crea el teu repte en minuts</h3>
            <p>
                A Hub & Rock pots crear el teu repte d’innovació en pocs passos. Un cop validat per nosaltres, el teu repte es publicarà i començaràs a rebre solucions de la nostra comunitat.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto col-img">
                <img [src]="imageToShow" alt="">
            </div>
            <div class="col-md-6 col-tabs">
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap" (click)="changeImageToShow(0)" [ngClass]="{'active' : activeTab == 0}">
                    <div class="col-md-auto col-sm-auto w-auto"><img src="../../assets/illustrations/Estableix l'objectiu del teu repte.png" width="80px" height="80px" alt=""></div>
                    <div class="col-md-8 col-sm-8 d-flex flex-column justify-content-center">
                        <h4>Estableix l’objectiu del teu repte</h4>
                        <!-- <p class="mb-0">Què vols aconseguir amb el teu repte i qui vols que t’aporti solucions?</p> -->
                    </div>
                </div>
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap" (click)="changeImageToShow(1)" [ngClass]="{'active' : activeTab == 1}">
                    <div class="col-md-auto w-auto"><img src="../../assets/illustrations/Crea'l en 4 senzills passos.png" width="80px" height="80px" alt=""></div>
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h4>Crea’l en 4 senzills passos</h4>
                        <!-- <p class="mb-0">Crea el teu repte seguin les nostres indicacions. Pots plantejar més d’un problema o objectiu. </p> -->
                    </div>
                </div>
                <div class="row crea-repte-tabs align-items-center justify-content-center flex-nowrap" (click)="changeImageToShow(2)" [ngClass]="{'active' : activeTab == 2}">
                    <div class="col-md-auto w-auto"><img src="../../assets/illustrations/Tria una solució i implementa-la.png" width="80px" height="80px" alt=""></div>
                    <div class="col-md-8 d-flex flex-column justify-content-center">
                        <h4>Tria una o més solucions i implementa-les</h4>
                        <!-- <p class="mb-0">Estableix relacions amb empreses o experts locals i implementa les solucions guanyadores</p> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="connectem-empreses-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center order-2 order-md-1">
                <img src="../../assets/illustrations/Collaborate with top-notch companies in your area.png">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center order-1 order-md-2">
                <h3>Connectem empreses, startups, estudiants per impulsar la innovació</h3>
                <p>
                    Accelera la innovació a través de col·laboracions Accelera l a innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera
                    l a innovació a través de col·laboracions Accelera la innovació a través de col·laboracionsAccelera la innovació a través de col·laboracions
                </p>
            </div>
        </div>
    </div>
</section>

<section id="plataforma-puntera-section">
    <div class="container d-flex flex-column align-items-center">
        <div class="plataforma-h2">
            <h2>Una plataforma puntera al teu servei</h2>
        </div>
        <div class="row plataforma-tabs-row">
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Analytics capabilities.png" width="85px" height="85px" alt="">
                    <div class="container">
                        <p class="plataforma-tabs-text">Activa i gestiona la innovació</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Communication campaigns.png" width="85px" height="85px" alt="">
                    <p class="plataforma-tabs-text">Comunica l’impacte positiu de la teva empresa</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Social walls.png" width="85px" height="85px" alt="">
                    <p class="plataforma-tabs-text">Connecta amb empreses i professionals</p>
                </div>
            </div>
        </div>
        <div class="row plataforma-tabs-row">
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Secure.png" width="85px" height="85px" alt="">
                    <p class="plataforma-tabs-text">T’oferim la màxima seguretat</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Mobile responsive.png" width="85px" height="85px" alt="">
                    <p class="plataforma-tabs-text">Fàcil accés desde mòbils</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="plataforma-tabs">
                    <img src="../../assets/simpleicons/Constantly updated.png" width="85px" height="85px" alt="">
                    <div class="container">
                        <p class="plataforma-tabs-text">Fem millores constants i afegim noves funcionalitats</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="descobreix-beneficis-section">
    <div class="container d-flex flex-column align-items-center">
        <div class="descobreix-h2">
            <h2>Descobreix més beneficis de Hub & Rock</h2>
        </div>
        <div class="row no-gutters d-flex flex-wrap w-100">
            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Company.png" alt="160x160"></div>
                <div class="row no-gutters mb-4"><a class="who-title" href="#">Per empreses</a></div>
            </div>

            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Startup.png" alt="160x160"></div>
                <div class="row no-gutters mb-4"><a class="who-title" href="#">Per startups</a></div>
            </div>

            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Student.png" alt="160x160"></div>
                <div class="row no-gutters mb-4"><a class="who-title" href="#">Per estudiants</a></div>
            </div>

            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Experts.png" alt="160x160"></div>
                <div class="row no-gutters mb-4"><a class="who-title" href="#">Per experts</a></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>