<app-header></app-header>

<!-- PERFIL usuari HEADER -->
<section id="hubrock-perfil-usuari-header">

    <div class="w-100">
        <div class="container">
            <div class="mt-5">
                <div class="row">
                    <div class="col-md-auto mr-4">
                        <img height="214px" height="214px" class="rounded-circle" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                    </div>
                    <div class="col-md col-mt">
                        <div class="row no-gutters">
                            <div class="col-md-auto col-mr">
                                <h4 id="perfil-nom">Laia Pedragosa</h4>
                            </div>
                            <div class="col-md-auto">
                                <button id="btn-editar" class="btn btn-primary">EDITAR PERFIL</button>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <p class="mt-4 perfil-info">Programadora <br> <img class="mr-1" src="../../assets/testicons/Localització.png" alt=""><span style="vertical-align: middle;">Girona</span> </p>
                                <img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="">
                                <img class="mr-2" src="../../assets/testicons/Twitter.png" alt="">
                                <img class="mr-2" src="../../assets/testicons/Instagram.png" alt="">
                                <img class="mr-2" src="../../assets/testicons/Facebook.png" alt="">
                                <img src="../../assets/testicons/Correu.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PERFIL usuari TABS -->
<section id="perfil-usuari-tabs">
    <div class="container infobox-container">
        <hr>
        <!-- Nav pills -->
        <ul id="tabs" class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item li-mr">
                <a class="nav-link tab-label active" data-toggle="pill" href="#usuari">Sobre mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-label" data-toggle="pill" href="#solucions">Solucions</a>
            </li>
        </ul>
        <hr class="tab-content-mb">

        <!-- Tab panes -->
        <div class="tab-content">

            <!-- TABS INFO usuari -->
            <div id="usuari" class="container tab-pane card active card-radius">
                <div class="card-body">
                    <div class="mb-5 mt-3">
                        <h5 class="card-title">Sobre mi</h5>
                        <p class="card-text">Aquest es el meu perfil a la plataforma Hub&Rock! M'encanta programar, fer viatges i Breaking Bad!!</p>
                    </div>
                    <div class="p-border-mb">
                        <h5 class="card-title">Habilitats</h5>
                        <p class="p-border mr-4">tecnologia</p>
                        <p class="p-border mr-4">programació</p>
                    </div>
                    <div class="mb-5">
                        <h5 class="card-title">Experiència</h5>
                        <p class="card-text">Programadora</p>
                    </div>
                    <div class="mb-5">
                        <h5 class="card-title">Educació</h5>
                        <p class="card-text">Màster en Enginyeria informàtica</p>
                    </div>
                    <div class="mb-5">
                        <h5 class="card-title">CV</h5>
                        <img class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                        <a href="#" class="link-perfil-usuari">CV Laia Pedragosa</a>
                    </div>
                </div>
            </div>

            <!-- TABS SOLUCIONS -->
            <div id="solucions" class="tab-pane fade">
                <h1 class="reptestitle">Esborranys</h1>
                <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                    <div class="row w-100">
                        <div class="col-md-4 col-sm-6">
                            <div class="card solucio-esborrany p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Implementar nous mètodes d'ensenyament</h5>
                                    <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte Digital Campus UdG</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <img class="rounded-circle" width="45px" src="../../assets/illustrations/Time.png" alt="">
                                        </div>
                                        <div class="col solucio-footer m-auto">
                                            <span class="esborrany-inici">6 de juliol</span><br><span class="esborrany-final">Queden 8 dies</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="reptestitle">Solucions enviades</h1>
                <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb">
                    <div class="row w-100">
                        <div class="col-md-4 col-sm-6">
                            <div class="card solucio-enviat p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Introduir l'ús de llibres digitals</h5>
                                    <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte Digital Campus UdG</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                                        </div>
                                        <div class="col m-auto solucio-footer">
                                            Laia Pedragosa
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="card solucio-enviat p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Venta d'embolcalls reciclables</h5>
                                    <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte del medi ambient UdG</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                                        </div>
                                        <div class="col m-auto solucio-footer">
                                            Laia Pedragosa
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="card solucio-enviat p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Instal·lar papereres de reciclatge</h5>
                                    <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Repte del medi ambient UdG</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/LaiaPedragosa.jpg" alt="">
                                        </div>
                                        <div class="col m-auto solucio-footer">
                                            Laia Pedragosa
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>