/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'WorkSans-Bold';
    src: url('./assets/fonts/WorkSans/WorkSans-Bold.ttf')
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('./assets/fonts/WorkSans/WorkSans-Regular.ttf')
}

@font-face {
    font-family: 'WorkSans-Thin';
    src: url('./assets/fonts/WorkSans/WorkSans-Thin.ttf')
}

.hubrock-btn {
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
}



/** TAGS */

.tag-red {
    background-color: #fd8383;
    border-color: #fd8383;
    color: white;
}
.tag-red:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}


.tag-blue {
    background-color: #70a8ff;
    border-color: #70a8ff;
    color: white;
}
.tag-blue:hover {
    background-color: #007bff;
    border-color: #007bff;
}


.tag-orange {
    background-color: #ffaf63;
    border-color: #ffaf63;
    color: white;
}
.tag-orange:hover {
    background-color: #d88435;
    border-color: #d88435;
}


.tag-purple {
    background-color: #a877f9;
    border-color: #a877f9;
    color: white;
}
.tag-purple:hover {
    background-color: #7d4ccc;
    border-color: #7d4ccc;
}

.tag:hover{
    color: white;
}

/* Efectes botons bigger */

.btn-style{
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-style:hover{
    /* -webkit-transform: scale(1.1);
    background: #020e7d; */
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
}

/* Els tags dels reptes no són botons */

.tags button {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}


/* Max 2 linies descripcions dels cards */

.desc-repte {
    margin-bottom: 39px;
    font-size: 14px;
    letter-spacing: -0.95px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* CARDS HUB AND ROCK IMG */

.card-repte-img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 211px;
}

.cardProfileImg {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
}

/** Social */

.socialLinks::placeholder{
    color: rgb(185, 185, 185);
}