* {
    font-family: 'WorkSans-Regular';
    font-size: 14px;
}

#hubrock-reptes #toolbar {
    margin-top: 72px;
}

#hubrock-reptes #toolbar>div {
    margin-bottom: 12px;
}

#hubrock-reptes #toolbar #searchbar {
    height: 50px;
    border-color: #020e7d;
}

#hubrock-reptes .container .test {
    max-width: 451px;
}

#icon {
    background-color: white;
    border-color: #020e7d;
    border-right: 0;
}

#icon:hover {
    color: black
}

#hubrock-reptes #toolbar #category {
    max-width: 445px;
}

@media (min-width: 1199.98px) {
    .flex-end-desktop {
        display: flex;
        justify-content: flex-end;
    }
}

#category .category-item {
    flex-basis: 77px;
    flex-grow: 1;
    margin: 0px 10px;
}

#category .category-item .category-text {
    font-family: 'WorkSans-Regular';
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.58px;
}

.reptestitle {
    margin-top: 60px;
    font-family: 'WorkSans-Bold';
    font-size: 50px;
    letter-spacing: -2.06px;
    color: #020e7d;
    margin-bottom: 56px;
}

#hubrock-reptesoberts,
#hubrock-reptesproces,
#hubrock-reptestancats {
    margin-bottom: 128px;
}

.btn-veure-mes {
    margin-top: 60px;
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
}

.fitxa-repte .desc-repte {
    margin-bottom: 39px;
    font-size: 14px;
    letter-spacing: -0.95px;
}

.fitxa-repte .titol-repte {
    font-family: 'WorkSans-Bold';
    font-size: 18px;
    letter-spacing: -0.54px;
}

.tags {
    margin-top: 30px;
}

.tags .tag {
    margin: 2px;
}


/* .card {
    margin-bottom: 20px;
} */

.eliminat {
    background-color: black;
    color: white;
}

.checkboxes input[type="checkbox"] {
    appearance: none;
}

input[type="checkbox"]:checked+label {
    color: #00e292;
    font-family: 'WorkSans-Bold';
    font-weight: bold;
}