<app-header></app-header>
<section id="main-title-section">
    <div class="d-flex flex-column align-items-center">
        <div class="main-h1">
            <h1>Potència la innovació a la teva empresa</h1>
        </div>
        <div class="vertical-line"></div>
    </div>
</section>

<section id="accelera-innovacio-section" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <h3>Desenvolupa i implementa solucions innovadores</h3>
                <p>
                    Els reptes d’innovació us permeten tenir una visió més àmplia de les possibles solucions als problemes i 
                    objectius que plantegeu. A més, teniu la possibilitat de seleccionar diferents propostes, implementar-les 
                    i testejar-les molt més ràpid, reduïnt d’aquesta forma els riscos i millorant l’accés a la innovació. 
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img class="align-self-center" src="../../assets/illustrations/accelerate_your_innovation.png" alt="Accelerate your innovation through colaboration">
            </div>
        </div>
    </div>
</section>

<section id="connecta-empreses-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center order-2 order-md-1">
                <img class="align-self-center" src="../../assets/illustrations/connect_with_others.png" alt="Connect with other companies, startups, students, experts">
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center order-1 order-md-2">
                <h3>Identifica noves tecnologies i oportunitats de mercat</h3>
                <p>
                    Els avenços tecnològics passen a un ritme molt accelerat, i a vegades és complicat estar al dia. 
                    La comunitat de Hub & Rock t’ajudarà a afrontar els teus reptes amb tecnologies punteres emprades d’una manera creativa - 
                    i això es traduirà en nous models de negoci i noves oportunitats de mercat per la teva empresa. 
                </p>
            </div>
        </div>
    </div>
</section>

<section id="serveis-cambra-section">
    <div class="container d-flex flex-column align-items-center">
        <div class="serveis-cambra-h3">
            <h3>Forma part d’un ecosistema d’innovació local</h3>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <p>
                    Hub & Rock uneix empreses, startups, experts i estudiants per fomentar la innovació i resoldre reptes empresarials i socials d’una forma creativa i eficient. 
                    El nostre objectiu és enfortir el teixit empresarial local i impulsar la creació de serveis, productes i solucions punteres. 
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img class="align-self-center" src="../../assets/illustrations/benefit_from_chamber.png" alt="Benefit from what the Chamber of Commerce has to offer">
            </div>
        </div>
    </div>
</section>

<hr class="hr-style">

<section id="beneficis-section">
    <div class="container d-flex flex-column align-items-center">
        <div class="beneficis-title d-flex justify-content-center align-items-center">
            <h3>Beneficis per a la teva empresa</h3>
        </div>
        <div class="beneficis-text d-flex justify-content-center">
            <p>
                Accelera la innovació a través de col·laboracions Accelera la innovació a través de col·laboracions Accelera la innovació a través de
            </p>
        </div>
        <div class="row beneficis-tabs-row">
            <div class="col-md-3">
                <div class="beneficis-tabs" (click)="changeTextToShow(0)" [ngClass]="{'active' : activeTab == 0}">
                    <img src="../../assets/simpleicons/Attract Talent.png" width="100px" height="100px" alt="">
                    <p class="beneficis-tabs-text">Atraure talent</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="beneficis-tabs" (click)="changeTextToShow(1)" [ngClass]="{'active' : activeTab == 1}">
                    <img src="../../assets/simpleicons/Work With Innovative Startups.png" width="100px" height="100px" alt="">
                    <p class="beneficis-tabs-text">Gestió de la innovació</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="beneficis-tabs" (click)="changeTextToShow(2)" [ngClass]="{'active' : activeTab ==2}">
                    <img src="../../assets/simpleicons/Communication campaignsV2.png" width="100px" height="100px" alt="">
                    <p class="beneficis-tabs-text">Marketing i communicació</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="beneficis-tabs" (click)="changeTextToShow(3)" [ngClass]="{'active' : activeTab == 3}">
                    <img src="../../assets/simpleicons/Constantly updated.png" width="100px" height="100px" alt="">
                    <p class="beneficis-tabs-text">Gestió del canvi</p>
                </div>
            </div>
        </div>
        <div class="container w-100 tab-content">
            {{textToShow}}
        </div>

    </div>
</section>

<hr class="hr-style">

<section id="tipus-reptes-section">
    <div class="container categories">
        <div class="container tipus-reptes-title d-flex justify-content-center align-items-center">
            <h3>Quins tipus de reptes pots crear?</h3>
        </div>
        <div class="container tipus-reptes-text d-flex justify-content-center">
            <p>
                Els teus reptes poden estar oberts a empreses, a startups, a estudiants, a experts, o a tothom. Decideix qui pot partcipar al teu repte en funció dels objectius de la teva empresa i de la complexitat del repte plantejat. 
            </p>
        </div>

        <div class="row no-gutters d-flex flex-wrap">
            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Company.png" alt="160x160"></div>
                <div class="row no-gutters who-title mb-4">Empreses</div>
                <div class="row no-gutters">
                    <div>
                        <!-- <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text"> Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p> -->
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Startup.png" alt="160x160"></div>
                <div class="row no-gutters who-title mb-4">Startups</div>
                <div class="row no-gutters">
                    <div>
                        <!-- <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text"> Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p> -->
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Student.png" alt="160x160"></div>
                <div class="row no-gutters who-title mb-4">Estudiants</div>
                <div class="row no-gutters">
                    <div>
                        <!-- <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text"> Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p> -->
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6 d-flex flex-column align-items-center mb-5">
                <div class="row no-gutters"><img class="who-image" src="../../assets/illustrations/Experts.png" alt="160x160"></div>
                <div class="row no-gutters who-title mb-4">Experts</div>
                <div class="row no-gutters">
                    <div>
                        <!-- <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text"> Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p>
                        <p class="who-text">Lorem ipsum lorem ipsum</p> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>