<app-header></app-header>
<div class="container mt-5" *ngIf="!success">
    <h1 id="pagetitle" class="text-center">La teva solució</h1>
    <div class="text-center dot-spacing">
        <span class="dot"></span>
    </div>
    <p id="reptetitle" class="text-center">Repte "Packáging ecològic"</p>
    <div style="max-width:500px" class="container text-center steps-mt">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <span class="step" [ngClass]="{'active' : currentTab == 0}">1</span>
                <span class="step-text" [ngClass]="{'active' : currentTab == 0}" style="display:block">Informació
                    general</span>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <span class="step" [ngClass]="{'active' : currentTab == 1}">2</span>
                <span class="step-text" [ngClass]="{'active' : currentTab == 1}" style="display:block">L'equip</span>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-4">
    <form id="regForm" [formGroup]="solucioForm" (ngSubmit)="onSubmit()">
        <div class="row mb-110">
            <div class="col-md-3 col-sm-6"></div>
            <div class="col-md-3 col-sm-6"><button type="button" class="btn btn-primary btn-manage" id="prevBtn" *ngIf="currentTab != 0" (click)="nextPrev(-1)">ANTERIOR PAS</button></div>
            <div class="col-md-3 col-sm-6"><button type="button" class="btn btn-primary btn-manage" id="nextBtn" [disabled]="currentTab == numberOfTabs" (click)="nextPrev(1)">SEGÜENT PAS</button></div>
            <div class="col-md-3 col-sm-6"><button type="submit" class="btn btn-primary btn-submit">ACTUALITZA LA SOLUCIÓ</button></div>
        </div>
        <div class="container" style="max-width: 731px; margin-bottom:100px;">
            <div class="tab" *ngIf="currentTab == 0">
                <h1 class="title-form">Informació general</h1>
                <div class="form-group input-spacing" [ngClass]="{'has-errors' : formErrors.nomSolucio}">
                    <label for="InputNom">Nom solució</label>
                    <input type="text" formControlName="nomSolucio" class="form-control input-for-text" id="InputNom" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomSolucio">{{formErrors.nomSolucio}}</span>
                </div>
                <div class=" form-group input-spacing" [ngClass]="{'has-errors' : formErrors.descripcioBreuSolucio}">
                    <label for="InputBreuDescripcio" class="mb-0">Breu descripció de la solució</label><br>
                    <div class="d-flex justify-content-between">
                        <label class="additional-info" for="InputBreuDescripcio">Descriu la solució en 1 o 2 frases
                        </label><span>{{this.solucioForm.get('descripcioBreuSolucio').value.length}} / 280</span>
                    </div>
                    <textarea type="text" formControlName="descripcioBreuSolucio" class="form-control" id="InputBreuDescripcio" maxlength="280" (blur)="logValidationErrors()"></textarea>
                    <span class="help-block" *ngIf="formErrors.descripcioBreuSolucio">{{formErrors.descripcioBreuSolucio}}</span>
                </div>
                <div class="form-group input-spacing" [ngClass]="{'has-errors' : formErrors.problemaSolucio}">
                    <label for="InputProblema">Quin problema se soluciona? </label>
                    <textarea type="text" formControlName="problemaSolucio" class="form-control" id="InputProblema" (blur)="logValidationErrors()"></textarea>
                    <span class="help-block" *ngIf="formErrors.problemaSolucio">{{formErrors.problemaSolucio}}</span>
                </div>
                <div class="form-group input-spacing" [ngClass]="{'has-errors' : formErrors.descripcioSolucio}">
                    <label for="InputDetalladaDescripcio">Descripció detallada de la solució </label>
                    <textarea type="text" formControlName="descripcioSolucio" class="form-control" id="InputDetalladaDescripcio" (blur)="logValidationErrors()"></textarea>
                    <span class="help-block" *ngIf="formErrors.descripcioSolucio">{{formErrors.descripcioSolucio}}</span>
                </div>
                <div class="form-group input-spacing" [ngClass]="{'has-errors' : formErrors.innovadoraSolucio}">
                    <label for="InputPerque">Per què és una solució innovadora? </label>
                    <textarea type="text" formControlName="innovadoraSolucio" class="form-control" id="InputPerque" (blur)="logValidationErrors()"></textarea>
                    <span class="help-block" *ngIf="formErrors.innovadoraSolucio">{{formErrors.innovadoraSolucio}}</span>
                </div>
                <div class="form-group input-spacing" [ngClass]="{'has-errors' : formErrors.faseSolucio}">
                    <label for="InputFase">En quina fase de desenvolupament està la solució? </label>
                    <textarea type="text" formControlName="faseSolucio" class="form-control" id="InputFase" (blur)="logValidationErrors()"></textarea>
                    <span class="help-block" *ngIf="formErrors.faseSolucio">{{formErrors.faseSolucio}}</span>
                </div>
                <hr class="mb-5">
                <h1 class="title-form">Documentació</h1>
                <div class="form-group input-spacing">
                    <label for="link-video" class="mb-0 mr-3">Vídeo de la solució</label><span class="opcional-text">(Opcional)</span><br>
                    <label class="additional-info" for="link-video">Tens un video explicant la solució? Enganxa’l aquí.
                        Només funcionen links de Youtube. </label>
                    <input type="text" formControlName="videoSolucio" class="form-control input-for-text" id="link-video" placeholder="https://www.youtube.com/video">
                    <span class="help-block"></span>
                </div>
                <div class="form-group mb-0">
                    <label for="link-video" class="mb-0 mr-3">Altres recursos</label><span class="opcional-text">(Opcional)</span><br>
                    <label class="additional-info mb-0" for="link-video">Pujar documents relacionats amb la solució
                        (presentacions, estudis de mercat, estudis científics…).
                        Els documents han d’estar en format PDF. </label>
                </div>
                <hr class="mt-2 mb-5">
                <div class="text-center afegeix-link"><a href="#">+ Afegeix PDFs</a></div>
            </div>
            <div class="tab equip" *ngIf="currentTab==1">
                <h1 class="title-form">Informació sobre l'equip</h1>
                <p class="bold-label mb-1">Individual o en equip?</p>
                <hr class="mb-4">
                <div class="custom-control custom-radio">
                    <input (change)="onItemChange($event.target.value)" value="individual" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">Individual</label>
                </div>
                <div class="custom-control custom-radio">
                    <input (change)="onItemChange($event.target.value)" type="radio" id="customRadio2" checked value="equip" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">En equip</label>
                </div>
                <div *ngIf="radioValue=='equip'">
                    <div class="form-group nom-equip ml-4 mt-4 mb-5" [ngClass]="{'has-errors' : formErrors.nomEquip}">
                        <label for="InputNomEquip">Nom de l’equip / empresa</label>
                        <input type="text" formControlName="nomEquip" class="form-control input-for-text" id="InputNomEquip" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.nomEquip">{{formErrors.nomEquip}}</span>
                    </div>
                    <div formArrayName="membreArray" *ngFor="let membre of solucioForm.get('membreArray').controls; let i = index">
                        <div [formGroupName]="i" class="mb-5">
                            <div class="d-flex justify-content-between">
                                <p class="bold-label mb-1">Membre {{i+1}}</p>
                                <div class="text-center elimina-link" *ngIf="solucioForm.get('membreArray').length > 2">
                                    <a (click)="removeMemberButtonClick(i)">- Elimina aquest membre</a></div>
                            </div>
                            <hr class="mb-4">
                            <div class="form-group input-mb" [ngClass]="{'has-errors' : membre.get('nomICognomsMembre').invalid && membre.get('nomICognomsMembre').touched && radioValue=='equip'}">
                                <label [attr.for]="'InputNomICognomsMembre'+i">Nom i cognoms</label>
                                <input type="text" formControlName="nomICognomsMembre" class="form-control equip-text-input" [id]="'InputNomICognomsMembre'+i">
                                <span class="help-block" *ngIf="membre.get('nomICognomsMembre').errors?.required && membre.get('nomICognomsMembre').touched && radioValue=='equip'">És un camp requerit</span>
                                <span class="help-block" *ngIf="membre.get('nomICognomsMembre').errors?.maxlength && membre.get('nomICognomsMembre').touched && radioValue=='equip'">Has sobrepassat el màxim de 255 caràcters.</span>
                                <span class="help-block" *ngIf="membre.get('nomICognomsMembre').errors?.minlength && membre.get('nomICognomsMembre').touched && radioValue=='equip'">Ha de tenir mínim de 3 caràcters.</span>
                            </div>
                            <div class="form-group input-mb" [ngClass]="{'has-errors' : membre.get('posicioMembre').invalid && membre.get('posicioMembre').touched && radioValue=='equip'}">
                                <label [attr.for]="'InputPosicioMembre'+i">Posició a l’equip</label>
                                <input type="text" formControlName="posicioMembre" class="form-control equip-text-input" [id]="'InputPosicioMembre'+i">
                                <span class="help-block" *ngIf="membre.get('posicioMembre').errors?.required && membre.get('posicioMembre').touched && radioValue=='equip'">És un camp requerit</span>
                                <span class="help-block" *ngIf="membre.get('posicioMembre').errors?.maxlength && membre.get('posicioMembre').touched && radioValue=='equip'">Has sobrepassat el màxim de 255 caràcters.</span>
                                <span class="help-block" *ngIf="membre.get('posicioMembre').errors?.minlength && membre.get('posicioMembre').touched && radioValue=='equip'">Ha de tenir mínim de 3 caràcters.</span>

                            </div>
                            <div class="form-group input-mb">
                                <label [attr.for]="'InputLinkMembre'+i" class="mr-3">Enllaç al perfil de Hub & Rock o de
                                    Linkedin</label><span class="opcional-text">(Opcional)</span>
                                <input type="text" formControlName="linkMembre" class="form-control equip-text-input" [id]="'InputLinkMembre'+i">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center afegeix-link"><a *ngIf="solucioForm.get('membreArray').length < maxMembres" (click)="addMemberButtonClick()">+ Afegeix un altre
                            membre</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
<section id="solucioSuccess" *ngIf="success">
    <div class="container d-flex flex-column justify-content-center" style="max-width:775px; height: 100vh;">
        <h1 class="text-center">Enhorabona</h1>
        <div class="paragraph-container">
            <p class="text-center">La teva solució s’ha enviat correctament.</p>
            <p class="text-center">El creador del repte es posarà en contacte amb tu per qualsevol dubte, i us mantindrem informat sobre l’evolució del repte.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-manage">TORNA AL PERFIL</button>
        </div>
    </div>
</section>

<app-footer></app-footer>