<app-header></app-header>
<section id="hubrock-repte-banner" *ngIf="repte && repteExists" [ngStyle]="{'background-image': 'url(' + fileStorageUrl + repte.url_photo_main + ')'}">
</section>

<div class="container-fluid no-existeix text-center d-flex flex-column justify-content-center" *ngIf="!repteExists">
    <h1>Repte no disponible</h1>
    Aquest repte no existeix o ha estat eliminat <br>
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-manage" type="button" routerLink='/'>TORNA A L'INICI</button>
    </div>
</div>

<section id="hubrock-repte-info" *ngIf="repteExists && repte">
    <div class="container">
        <div class="d-flex align-items-center owner mb-3">
            <img *ngIf="repte" class="rounded-circle" width="34px" [src]="fileStorageUrl + repte.user.url_photo_profile" alt="25x25" routerLink="/perfil/{{repte.user_iduser}}">
            <h3 *ngIf="repte" class="repteowner mb-0" routerLink="/perfil/{{repte.user_iduser}}">{{repte.user.nom_empresa}}</h3>
        </div>

        <div id="repte-infobox" class="row d-flex justify-content-between" *ngIf="repte">
            <div class="col-md-8">
                <h1 class="reptetitle">{{repte.nom}}</h1>
                <p class="reptedesc">{{repte.descripcio_short}}</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-start tablet-left">
                <button class="btn hubrock-btn" type="button" *ngIf="canParticipate()" [routerLink]="['/repte/', idRepte, 'creacio-solucio']">PARTICIPA AL REPTE</button>
                <button class="btn hubrock-btn mt-2" type="button" *ngIf="canEdit() && !isEsborrany()" [routerLink]="['/repte/', idRepte, 'editar-repte']">EDITA EL REPTE</button>
                <button class="btn hubrock-btn mt-2" type="button" *ngIf="canDelete()" (click)="deleteRepte()">ELIMINA EL REPTE</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3 class="whocanparticipate">Qui pot participar?</h3>
                <div class="d-flex w-100 justify-content-start category-div">

                    <div *ngFor="let categoria of repte.participants" class="d-flex flex-column align-items-center categoriaRepte">
                        <img class="participateimg" src="../../assets/illustrations/{{categoria.participants_name}}.png" alt="Categoria empresa">
                        <p class="typetext">{{categoria.participants_name}}</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end align-items-end">
                <!--EN MOVIL NO HA DESTAR AL FINAL-->
                <div class="d-flex w-100 justify-content-between align-items-start info-div">

                    <div class="d-flex align-items-center minwidth-190">
                        <img class="participateimgCat align-self-center" src="../../assets/illustrations/Community.png" alt="">
                        <h1 *ngIf="repte.individual_equip == 0">Individual</h1>
                        <h1 *ngIf="repte.individual_equip != 0">2 - {{repte.limit_participants}}<br> persones
                        </h1>
                    </div>

                    <div class="d-flex minwidth-190">
                        <img class="participateimgCat" src="../../assets/illustrations/Time.png" alt="">
                        <h1>{{repte.data_inici | date:'shortDate'}}<br>({{diesRestants(repte.data_inici, repte.data_final)}})</h1>
                    </div>

                    <div class="d-flex align-items-center minwidth-190">
                        <img class="participateimgCat" src="../../assets/illustrations/Win2.png" alt="">
                        <h1>{{repte.premis[repte.premis.length - 1].premi_dotacio}}</h1>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<section id="infobox" *ngIf="repteExists">
    <div class="container infobox-container">

        <!-- Nav pills -->
        <ul id="tabs" class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <div class="nav-link active d-flex align-items-center justify-content-center" data-toggle="pill" href="#resum">
                    <p class="mb-0">Resum del repte</p>
                </div>
            </li>
            <li class="nav-item">
                <div id="togglesegon" class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#quebusquem">
                    <p class="mb-0">Què busquem?</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#baseslegals">
                    <p class="mb-0">Bases legals</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#forum">
                    <p class="mb-0">Fòrum</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#propostes">
                    <p class="mb-0">Propostes</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#faq">
                    <p class="mb-0">FAQ</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#jurat">
                    <p class="mb-0">Jurat</p>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#partners">
                    <p class="mb-0">Partners</p>
                </div>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" *ngIf="repte">
            <div id="resum" class="container tab-pane active">

                <br>

                <h1 class="tabtitle text-center">Sobre el repte</h1>
                <div class="row d-flex justify-content-center">
                    <p class="maxwidth-540 text-center">{{repte.descripcio_long}}
                    </p>
                </div>

                <div id="fotosSobreElRepte" class="row d-flex justify-content-between">
                    <div class="fotosRepte" [ngStyle]="{'background-image': 'url(' + fileStorageUrl + repte.url_photo_1 + ')'}"></div>
                    <div class="fotosRepte" [ngStyle]="{'background-image': 'url(' + fileStorageUrl + repte.url_photo_2 + ')'}"></div>
                </div>

                <div id="videorepte" class="row d-flex justify-content-center" *ngIf="getYoutubeUrl(repte.url_video)">
                    <iframe width="660" height="370" [src]="getYoutubeUrl(repte.url_video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="videorepte" class="row d-flex justify-content-center" *ngIf="!getYoutubeUrl(repte.url_video)">
                    No s'ha adjuntat cap vídeo o no és un enllaç de Youtube vàlid
                </div>


                <h1 class="tabtitle text-center">Solucions buscades</h1>

                <div id="solucionsbuscades" class="row d-flex justify-content-center">

                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let soluciobuscada of repte.solucions; let i = index">
                        <div class="card">
                            <div class="card-img-top d-flex justify-content-center align-items-center">
                                <div class="rounded-circle solucionsbuscadesImg" [ngStyle]="{'background-image': 'url(' + fileStorageUrl + soluciobuscada.solucio_url_photo + ')'}"></div>
                            </div>
                            <div class="card-body solucio-info text-center">
                                <h5 class="card-title">{{soluciobuscada.solucio_nom}}</h5>
                                <p class="card-text">{{soluciobuscada.solucio_descripcio}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="sabermes" class="row d-flex justify-content-center">
                    <a onclick="$('#togglesegon').trigger('click')">SABER MÉS</a>
                </div>

                <div class="row d-flex justify-content-center">
                    <h1 class="tabtitle">Com participar?</h1>
                </div>

                <div class="row d-flex justify-content-center">
                    <div id="comparticiparwho" class="d-flex justify-content-between">

                        <div class="d-flex flex-column align-items-center" *ngFor="let quiparticipa of repte.participants; let i = index">
                            <img class="howtoparticipateimg" [src]="getImage(quiparticipa.idparticipants)" alt="">
                            <!--ALT DINÀMIC PER SEO-->
                            <p class="typetext">{{quiparticipa.participants_name}}</p>
                        </div>

                    </div>
                </div>

                <div class="row d-flex justify-content-center margin-bottom-40">
                    <p *ngIf="repte.individual_equip == 0 || !repte.limit_participants">Individual</p>
                    <p *ngIf="repte.individual_equip == 1 && repte.limit_participants == '2'">Equips de 2 persones</p>
                    <p *ngIf="repte.individual_equip == 1 && repte.limit_participants != '2'">Equips de 2 - {{repte.limit_participants}} persones</p>
                </div>

                <div class="text-readmore row d-flex justify-content-between">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p>
                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó
                            una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años.
                        </p>
                        <a href="#">SABER MÉS</a>
                    </div>


                    <img src="../../assets/testpics/Illustració2.png">
                </div>

                <h1 class="tabtitle text-center">Premis</h1>

                <ul class="nav nav-pills d-flex justify-content-center" id="premis-tab" role="tablist">
                    <li class="nav-item" *ngFor="let premi of repte.premis; let i = index">
                        <a class="nav-link text-center" [class]="{'active': i == 0}" [id]="'pills-premi-'+ i + '-tab'" data-toggle="pill" [attr.href]="'#pills-premi'+i" role="tab" aria-controls="pills-home" aria-selected="true">{{i+1}}<br>Premi</a>
                    </li>
                </ul>


                <div class="tab-content" id="premis-tabContent">
                    <div *ngFor="let premi of repte.premis; let i = index" class="tab-pane fade show" [class]="{'active': i == 0}" [id]="'pills-premi'+ i" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="text-premis row d-flex justify-content-start">
                            <div class="premiImg" [ngStyle]="{'background-image': 'url(' + fileStorageUrl + premi.premi_url_photo + ')'}"></div>

                            <div class="d-flex flex-column align-items-start justify-content-center">
                                <p>{{i + 1}} premi</p>
                                <h1 class="pricetitle">{{premi.premi_dotacio}}</h1>
                                <p>{{premi.premi_descripcio}}</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


            <div id="quebusquem" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Què busquem?</h1>

                <div class="text-premis row d-flex justify-content-start" *ngFor="let soluciobuscada of repte.solucions; let i = index">
                    <div class="col">
                        <div [ngStyle]="{'background-image': 'url(' + fileStorageUrl + soluciobuscada.solucio_url_photo + ')'}" class="align-self-start tematicaImg" *ngIf="i % 2 == 0"></div>
                        <!--Si el numero es parell -> text esquerre-->

                        <div class="d-flex flex-column align-items-start justify-content-center" *ngIf="i % 2 != 0">
                            <!--Si el numero es senar <- text dreta-->
                            <h1 class="tematicatitle">{{soluciobuscada.solucio_nom}}</h1>
                            <p>{{soluciobuscada.solucio_descripcio}}</p>
                            <!-- <button type="button" class="btn btn-primary btn-quebusquem"><img width="30"
                                src="../../assets/simpleicons/fileicon.png" alt=""> Especificacions tècniques</button> -->
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-start justify-content-center" *ngIf="i % 2 == 0">
                            <h1 class="tematicatitle">{{soluciobuscada.solucio_nom}}</h1>
                            <p>{{soluciobuscada.solucio_descripcio}}</p>
                            <!-- <button type="button" class="btn btn-primary btn-quebusquem"><img width="30"
                                    src="../../assets/simpleicons/fileicon.png" alt=""> Especificacions tècniques</button> -->
                        </div>

                        <div [ngStyle]="{'background-image': 'url(' + fileStorageUrl + soluciobuscada.solucio_url_photo + ')'}" class="align-self-start tematicaImg" *ngIf="i % 2 != 0"></div>
                    </div>

                </div>

                <div class="row">
                    <div class="separator"></div>
                </div>

                <div id="altresrecursos" class="row">
                    <h1 class="tematicatitle">Altres recursos</h1>
                </div>

                <div id="altresrecursosfiles" class="row d-flex flex-column">
                    <div *ngFor="let recurs of repte.recursos" class="d-flex align-items-center">
                        <img width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                        <a target="_blank" [href]="fileStorageUrl + recurs.recurs_url_fitxer" download>{{recurs.recurs_nom}}</a>
                    </div>
                </div>

                <!-- <div class="videos">   DESACTIVEM VIDEOS PER DEMOSTRACIO GRAV.
                    <div class="row">
                        <img src="https://dummyimage.com/1100x634/f3f3f3/000000">
                    </div>
                    <div class="row">
                        <img src="https://dummyimage.com/1100x634/f3f3f3/000000">
                    </div>
                </div> -->




            </div>


            <div id="baseslegals" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Bases legals</h1>

                <div class="container">
                    <div class="legaltext">{{repte.bases_legals_personals}}</div>
                </div>

            </div>


            <div id="forum" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Fòrum</h1>

                <div class="row d-flex justify-content-center postForum" *ngIf="repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final) && userLogged">
                    <div class="row d-flex justify-content-center postForumDiv">
                        <textarea [(ngModel)]="topicPost" (input)="onSearchChange($event.target.value)" class="form-control inputForum fadeIn" [hidden]="!textAreaOn" id="textareaForum"></textarea>
                        <div class="inputForum" *ngIf="!textAreaOn">
                            As a participant in the Leading Digital Transformation program, you may use this platform to communicate with your colleagues, share ideas, information, documents and any other materials related to the program that might be useful and of interest both
                            to you and other participants. Remember to be respectful when sharing ideas through this platform. Please keep in mind that this forum is for academic purposes only. Any technical questions or issues must be reported through
                            the corresponding means.
                        </div>

                        <button [disabled]="buttonDisabled" type="button" class="forumbutton text-left" (click)="switchTextArea()">{{ forumButtonText }}</button>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">

                    <p *ngIf="!hasForum">Aquest repte no té missatges.</p>

                    <div class="forumBody" *ngFor="let forumPost of forum; let i = index">

                        <div class="forumContent firstTopic" [ngClass]="{'cpointer': forumPost.comments > 0}" (click)="carregarRespostes(forumPost.id, forumPost.comments);">
                            <div class="row d-flex align-items-center mb-4">
                                <img [src]="fileStorageUrl + forumPost.url_photo_profile" class="rounded-circle align-self-center mr-3 forumprofilepic">
                                <div class="col">
                                    <div class="row d-flex align-items-center">
                                        <p class="m-0 mr-3 mb-1 forumPostName" routerLink="/perfil/{{forumPost.user_iduser}}">{{forumPost.empresa_rockstar == 0 ? forumPost.nom_empresa : forumPost.nom_responsable}}</p>
                                        <button *ngIf="repte.user_iduser == forumPost.user_iduser" type="button" class="commentRank">Creador del repte</button>
                                    </div>
                                    <div class="row">
                                        <p class="m-0 forumPostDate">{{forumDateToText(forumPost.creation_date | date: 'dd/MM/yyyy')}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row comentariText mb-3">
                                <p>{{forumPost.text}}</p>
                            </div>
                            <div class="row d-flex comentariButtons justify-content-between">
                                <div>
                                    <button click-stop-propagation *ngIf="repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final)
                                    && userLogged" type="button" class="btn forumButton" (click)="contestar(forumPost.id)">
                                    <img src="../../assets/simpleicons/Comment_B.png" height="25px" class="mr-2 ml-0 align-self-center">Contestar
                                </button>
                                    <button click-stop-propagation type="button" class="btn forumButton" (click)="likePost(forumPost.like_user_count, forumPost.id);">
                                    <img [src]="forumPost.like_user_count == 0 ? '../../assets/simpleicons/Likes_B.png' : '../../assets/simpleicons/Likes.png'" height="25px" class="mr-2 ml-0 align-self-center">
                                    {{forumPost.like_count}} M'agrada
                                </button>

                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="commentsLength mb-0">{{forumPost.comments}} RESPOSTES</p>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-end" *ngIf="returnTrue(forumPost.id) && repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final)">
                                <textarea #respostaForum click-stop-propagation placeholder="Resposta..." class="form-control mt-4" [id]="'resposta'+forumPost.id" style="height: 70px;"></textarea>
                                <button click-stop-propagation type="button" class="btn enviaButton" (click)="sendMessage(respostaForum.value, forumPost.id, 0); respostaForum.value = ''">Envia</button>
                            </div>
                        </div>


                        <div *ngIf="objectRespostes['forumParent'+forumPost.id]">
                            <hr class="mb-5">

                            <div class="forumContent answer" *ngFor="let resposta of objectRespostes['forumParent'+forumPost.id]; let i = index">
                                <div class="row d-flex align-items-center mb-4">
                                    <img [src]="fileStorageUrl + resposta.url_photo_profile" class="rounded-circle align-self-center mr-3 forumprofilepic">
                                    <div class="col">
                                        <div class="row d-flex align-items-center">
                                            <p class="m-0 mr-3 mb-1 forumPostName" routerLink="/perfil/{{resposta.user_iduser}}">{{resposta.empresa_rockstar == 0 ? resposta.nom_empresa : resposta.nom_responsable}}</p>
                                            <button *ngIf="repte.user_iduser == resposta.user_iduser" type="button" class="commentRank">Creador del repte</button>
                                        </div>
                                        <div class="row">
                                            <p class="m-0 forumPostDate">{{forumDateToText(resposta.creation_date | date: 'dd/MM/yyyy')}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row comentariText mb-0">
                                    <p>{{resposta.content}}</p>
                                </div>
                                <div class="row d-flex comentariButtons">
                                    <button *ngIf="repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final) && userLogged" type="button" class="btn forumButton" (click)="contestar(resposta.id)">
                                        <img src="../../assets/simpleicons/Comment_B.png" height="25px" class="mr-2 ml-0 align-self-center">Contestar</button>
                                    <button type="button" class="btn forumButton" (click)="likeMessage(resposta.like_user_count, resposta.id); likeMessageChange(forumPost.id, i, resposta.like_user_count)">
                                        <img [src]="resposta.like_user_count == 0 ? '../../assets/simpleicons/Likes_B.png' : '../../assets/simpleicons/Likes.png'" height="25px" class="mr-2 ml-0 align-self-center">
                                        {{resposta.like_count}} M'agrada
                                    </button>
                                </div>

                                <div class="row d-flex justify-content-end" *ngIf="returnTrue(resposta.id) && repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final)">
                                    <textarea #respostaForum placeholder="Resposta..." class="form-control mt-4" id="exampleFormControlTextarea1" style="height: 70px;"></textarea>
                                    <button type="button" class="btn enviaButton" (click)="sendMessage(respostaForum.value, forumPost.id, resposta.id); respostaForum.value = ''">Envia</button>
                                </div>


                                <!-- IF TE RESPOSTES, ENSENYELES AQUI, ABANS DE SEGUIR AMB EL LOOP DE LES ALTRES RESPOSTES. EL CONTESTAR EL QUE FARÀ ÉS CONTESTAR AL PARENT, NO CADA UN DELS FILLS! -->

                                <div class="margintop30" *ngFor="let answer of resposta.childs; let j = index">
                                    <div class="row d-flex align-items-center mb-4">
                                        <img [src]="fileStorageUrl + answer.url_photo_profile" class="rounded-circle align-self-center mr-3 forumprofilepic">
                                        <div class="col">
                                            <div class="row d-flex align-items-center">
                                                <p class="m-0 mr-3 mb-1 forumPostName" routerLink="/perfil/{{answer.user_iduser}}">{{answer.empresa_rockstar == 0 ? answer.nom_empresa : answer.nom_responsable}}</p>
                                                <button *ngIf="repte.user_iduser == answer.user_iduser" type="button" class="commentRank">Creador del repte</button>
                                            </div>
                                            <div class="row">
                                                <p class="m-0 forumPostDate">{{forumDateToText(answer.creation_date | date: 'dd/MM/yyyy')}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row comentariText mb-0">
                                        <p>{{answer.content}}</p>
                                    </div>
                                    <div class="row d-flex comentariButtons">
                                        <button *ngIf="repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final) && userLogged" type="button" class="btn forumButton" (click)="contestar(answer.id)">
                                            <img src="../../assets/simpleicons/Comment_B.png" height="25px" class="mr-2 ml-0 align-self-center">Contestar</button>
                                        <button type="button" class="btn forumButton" (click)="likeMessage(answer.like_user_count, answer.id); likeAnswerChange(forumPost.id, i, j, answer.like_user_count)">
                                            <img [src]="answer.like_user_count == 0 ? '../../assets/simpleicons/Likes_B.png' : '../../assets/simpleicons/Likes.png'" height="25px" class="mr-2 ml-0 align-self-center">
                                            {{answer.like_count}} M'agrada
                                        </button>
                                    </div>

                                    <div class="row d-flex justify-content-end" *ngIf="returnTrue(answer.id) && repte.estat_idestat == 3 && repteCanHaveForum(repte.data_inici, repte.data_final)">
                                        <textarea #respostaForum placeholder="Resposta..." class="form-control mt-4" id="exampleFormControlTextarea1" style="height: 70px;"></textarea>
                                        <button type="button" class="btn enviaButton" (click)="sendMessage(respostaForum.value, forumPost.id, resposta.id); respostaForum.value = ''">Envia</button>
                                    </div>
                                </div>

                                <!-- /Repostes -->

                            </div>


                        </div>

                    </div>
                </div>

            </div>


            <div id="propostes" class="tab-pane fade"><br>
                <h1 class="tabtitle text-center">Solucions proposades</h1>

                <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb" *ngIf="repte.solucions">
                    <div class="row w-100">
                        <div *ngFor="let solucio of solucionsProposades" class="col-md-4 col-sm-6">
                            <div click-stop-propagation class="card solucio-enviat p-2" [routerLink]="['/solucio/', solucio.idsolucio_proposada]">
                                <div class="card-body">
                                    <h5 class="card-title text-overflow">{{solucio.solucio_proposada_nom}}</h5>
                                    <h6 class="card-subtitle mb-5 text-overflow">Repte <a click-stop-propagation [routerLink]="['/repte/', solucio.idrepte]" target="_blank">{{solucio.nom}}</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" target="_blank"><img class="rounded-circle" height="50px" width="50px" [src]="fileStorageUrl + solucio.user.url_photo_profile" alt=""></a>
                                        </div>
                                        <div class="col m-auto text-overflow-1">
                                            <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" *ngIf="!solucio.user.empresa_rockstar" target="_blank" class="solucio-footer username">{{solucio.user.nom_empresa}}</a>
                                            <a click-stop-propagation [routerLink]="['/perfil/', solucio.solucio_user_iduser]" *ngIf="solucio.user.empresa_rockstar" target="_blank" class="solucio-footer username">{{solucio.user.nom_rockstar}} {{solucio.user.cognom_rockstar}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!solucionsProposadesNoMore" class="text-center">
                        <button type="button" class="btn btn-primary btn-veure-mes btn-style" (click)="seeMoreSolucionsProposades()">VEURE MÉS</button>
                    </div>
                </div>

                <div class="d-flex justify-content-center" *ngIf="solucionsProposades && solucionsProposades.length < 1">
                    <p class="maxwidth-540 text-center">Aquest repte encara no té solucions proposades.</p>
                </div>

                <!-- <div id="solucions">
                    <div class="row d-flex flex-column align-items-center mt-3 esborranys-mb">
                        <div class="row w-100">
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle" src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle"  src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle"  src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <div id="faq" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Preguntes freqüents</h1>

                <div class="d-flex justify-content-center">
                    <p class="maxwidth-540 text-center">En aquest apartat es resoldran els dubtes freqüents sobre el repte.</p>
                </div>


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" *ngFor="let pregunta of repte.faqs; let i = index">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button class="btn btn-link accordionbutton" data-toggle="collapse" [attr.href]="'#resposta' + i">{{pregunta.faq_pregunta}}</button>
                            </h4>
                        </div>
                        <div [id]="'resposta' + i" class="accordionbody panel-collapse collapse in">
                            <div class="panel-body">{{pregunta.faq_resposta}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="jurat" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Jurat</h1>

                <div class="d-flex justify-content-center juratinfo">
                    <p class="maxwidth-540 text-center">En aquest apartat descobriràs els responsables a valorar les solucions proposades per aquest repte.</p>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-3 col-sm-6 col-xs-12 d-flex flex-column align-items-center jurat-container" *ngFor="let jurat of repte.jurats; let i = index">
                        <img [src]="fileStorageUrl + jurat.jurat_url_photo" class="rounded-circle align-self-center jurat-img">
                        <h1>{{jurat.jurat_nom}}</h1>
                        <p class="text-center">{{jurat.jurat_bio}}</p>
                    </div>
                </div>

            </div>

            <div id="partners" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Partners</h1>

                <div class="d-flex justify-content-center partnersinfo">
                    <p class="maxwidth-540 text-center">Col·laboradors del repte.</p>
                </div>

                <div class="row d-flex justify-content-start align-items-center partner-container" *ngFor="let partner of repte.partners; let i = index">
                    <img [src]="fileStorageUrl + partner.partner_url_logo" width="250px" alt="Partner image" class="rounded-circle partnerimg">
                    <div class="partner-info">
                        <h3 class="partner-name">{{partner.partner_nom}}</h3>
                        <p>{{partner.partner_descripcio}}</p>
                        <!-- <button type="button" class="btn btn-primary">VEURE PERFIL</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer *ngIf="repte"></app-footer>