* {
    font-family: 'WorkSans-Regular';
    font-size: 16px;
}

img {
    max-width: 100%;
}

#hubrock-repte-banner {
    height: 542px;
    background-color: burlywood;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hubrock-repte-info {
    padding-top: 34px;
    padding-bottom: 55px;
    background-color: #f7faff;
}

#hubrock-repte-info .repteowner {
    font-size: 24px;
    letter-spacing: -0.33px;
    color: #020e7d;
    margin-left: 10px;
}

#repte-infobox .reptetitle {
    font-family: 'WorkSans-Bold';
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.47px;
}

#repte-infobox .reptedesc {
    max-width: 531px;
    line-height: 20px;
    letter-spacing: -0.22px;
    margin-top: 17px;
}

#repte-infobox .whocanparticipate {
    font-family: 'WorkSans-Bold';
    font-size: 18px;
    letter-spacing: -0.25px;
    margin-top: 40px;
    margin-bottom: 16px;
}

#repte-infobox .participateimg {
    width: 40px;
    height: 40px;
}

#repte-infobox .participateimgCat {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.typetext {
    font-size: 14px;
}

.category-div {
    max-width: 315px;
}

.info-div {
    max-width: 574px;
}

@media (min-width: 1199.98px) {
    .flex-end-desktop {
        display: flex;
        justify-content: flex-end;
    }
    .flex-items-end {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .tablet-left {
        justify-content: flex-end;
    }
}

#category .category-item {
    flex-basis: 77px;
    flex-grow: 1;
    margin: 0px 10px;
}

#infobox .infobox-container {
    margin-top: 50px;
}

#infobox #tabs {
    border: 3px solid #f3f3f3;
    border-radius: 5px;
    background-color: #f3f3f3;
}

#infobox .nav-link {
    background-color: #f3f3f3;
    color: black;
    height: 100%;
}

#tabs .nav-link {
    cursor: pointer;
}

#infobox .nav-link.active {
    background-color: #00e292;
    color: black;
    font-family: 'WorkSans-Bold';
}

#infobox .nav-link.active p {
    color: black;
    font-family: 'WorkSans-Bold';
}

.tab-content p {
    letter-spacing: -0.22px;
}

.tab-content .tabtitle {
    font-family: 'WorkSans-Bold';
    font-size: 36px;
    letter-spacing: -0.5px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tab-content .maxwidth-540 {
    margin-bottom: 40px;
    max-width: 540px;
}

.margin-top {
    margin-top: 40px;
}

.tab-content #videorepte {
    margin-bottom: 87px;
}

.solucio-info h5 {
    font-family: 'WorkSans-Bold';
    font-size: 18px;
    letter-spacing: -0.25px;
}

.solucio-info p {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.2px;
}

#sabermes {
    margin-bottom: 70px;
}

#sabermes a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

#sabermes a:hover {
    text-decoration: underline;
}

#solucionsbuscades {
    background-color: #f7faff;
    margin-bottom: 30px;
}

#solucionsbuscades .card {
    margin-bottom: 20px;
}

.howtoparticipateimg {
    width: 40px;
    height: 40px;
}

#comparticiparwho>div {
    margin: 0px 15px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.text-readmore {
    margin-bottom: 100px;
}

.text-readmore div p {
    max-width: 506px;
    margin-bottom: 60px;
    font-size: 16px;
    letter-spacing: -0.22px;
}

.text-premis div p {
    max-width: 506px;
    font-size: 16px;
    letter-spacing: -0.22px;
    margin-bottom: 0;
}

#fotosSobreElRepte {
    margin-bottom: 70px;
}

#premis-tab .nav-link {
    border-radius: 50%;
    height: 94px;
    width: 94px;
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#premis-tab {
    margin-bottom: 64px;
}

@media (min-width: 992px) {
    #premis-tab {
        max-width: 574px;
        margin-right: auto;
        margin-left: auto;
    }
}

.pricetitle {
    font-family: 'WorkSans-Bold';
    font-size: 30px;
    letter-spacing: -0.42px;
    margin-bottom: 36px;
    max-width: 513px;
}

#premis-tabContent {
    margin-bottom: 102px;
}

#quebusquem .tabtitle {
    margin-bottom: 70px;
}

#quebusquem .text-premis {
    margin-bottom: 100px;
}

#quebusquem .text-premis div p {
    margin-bottom: 35px;
    word-wrap: break-word;
}

#quebusquem .tematicatitle {
    margin-bottom: 20px;
    font-family: 'WorkSans-Bold';
    font-size: 30px;
    letter-spacing: -0.42px;
}

#quebusquem .separator {
    width: 100%;
    height: 1px;
    border: solid 1px #979797;
    margin-bottom: 52px;
}

#quebusquem #altresrecursos h1 {
    margin-bottom: 41px;
}

#altresrecursosfiles div img {
    margin-right: 30px;
}

#altresrecursosfiles {
    margin-bottom: 41px;
}

#altresrecursosfiles div {
    margin-bottom: 20px;
}

.btn-quebusquem {
    width: 346px;
    height: 61px;
    border-radius: 12px;
    border: solid 2px #020e7d;
    color: #020e7d;
    background-color: white;
}

.btn-veure-mes {
    margin-top: 60px;
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
}

.card {
    margin-bottom: 20px;
}

.videos,
#baseslegals {
    margin-bottom: 110px;
}

.videos div:first-child {
    margin-bottom: 40px;
}

#baseslegals .legaltext {
    font-size: 15px;
    letter-spacing: -0.21px;
}


/* Solucions */

#solucions .card {
    border-radius: 14px;
    height: 250px;
    border: none;
}

#solucions .card-footer {
    border: none;
}

#solucions .solucio-esborrany {
    background-color: #f7f7f7;
}

#solucions .solucio-enviat {
    background-color: #d2f5e8;
}

#solucions .card-title {
    font-size: 24px;
    letter-spacing: -0.4px;
    font-family: 'WorkSans-Bold';
}

#solucions .card-subtitle {
    font-size: 18px;
    letter-spacing: -0.8px;
    font-family: 'WorkSans-Regular';
    color: #000000;
}

#solucions .card-subtitle a {
    color: #020e7d;
}

#solucions .solucio-enviat .solucio-footer {
    font-size: 18px;
    letter-spacing: -0.45px;
    font-family: 'WorkSans-Bold';
    color: #000000;
}

#solucions .solucio-esborrany .solucio-footer {
    font-size: 16px;
    letter-spacing: -0.22;
    font-family: 'WorkSans-Regular';
}

#solucions .esborrany-inici {
    color: #000000;
}

#solucions .esborrany-final {
    color: #9e0193;
}

#solucions .card {
    margin-bottom: 20px;
}

.jurat-container {
    margin-bottom: 50px;
}

.jurat-container h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.31px;
    color: #020e7d;
}

.jurat-container p {
    font-size: 18px;
    letter-spacing: -0.25px;
}

.jurat-img {
    margin-bottom: 24px;
}

.partner-container {
    margin-bottom: 85px;
}

.partner-container .partner-info {
    max-width: 740px;
}

.partner-container .partner-info .partner-name {
    font-size: 30px;
    font-family: 'WorkSans-Bold';
    letter-spacing: -0.42px;
    margin-bottom: 10px;
}

.partner-container .partner-info p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.22px;
    margin-bottom: 40px;
}

.partner-container .partner-info button {
    width: 222px;
    height: 40px;
    color: #020e7d;
    border: solid 2px #020e7d;
    border-radius: 8px;
    background-color: white;
}

.partnersinfo {
    margin-bottom: 40px;
}

.juratinfo {
    margin-bottom: 40px;
}

.accordionbutton {
    background-color: #d2f5e8;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'WorkSans-Bold';
    text-decoration: none;
}

.accordionbody .panel-body {
    padding-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 45px;
    font-size: 14px;
    letter-spacing: -0.23px;
}

#faq,
#propostes,
#forum,
#jurat {
    margin-bottom: 100px;
}

.partnerimg {
    margin-right: 69px;
}

#propostes .card {
    border-radius: 14px;
    height: 250px;
    border: none;
}

#propostes .card-footer {
    border: none;
}

#propostes .solucio-esborrany {
    background-color: #f7f7f7;
}

#propostes .solucio-enviat {
    background-color: #d2f5e8;
}

#propostes .card-title {
    font-size: 24px;
    letter-spacing: -0.4px;
    font-family: 'WorkSans-Bold';
}

#propostes .card-subtitle {
    font-size: 18px;
    letter-spacing: -0.8px;
    font-family: 'WorkSans-Regular';
    color: #000000;
}

#propostes .card-subtitle a {
    color: #020e7d;
}

#propostes .solucio-enviat .solucio-footer {
    font-size: 18px;
    letter-spacing: -0.45px;
    font-family: 'WorkSans-Bold';
    color: #000000;
}

#propostes .solucio-esborrany .solucio-footer {
    font-size: 16px;
    letter-spacing: -0.22;
    font-family: 'WorkSans-Regular';
}

#propostes .esborrany-inici {
    color: #000000;
}

#propostes .esborrany-final {
    color: #9e0193;
}

@media (max-width: 766px) {
    .col-mt {
        margin-top: 1%;
    }
}

@media (min-width: 990px) {
    .col-mr {
        margin-right: 4%;
    }
}

@media (max-width: 450px) {
    #btn-editar {
        margin-bottom: 10px;
    }
}

.no-existeix {
    height: 80vh;
}

.no-existeix h1 {
    font-size: 48px;
    letter-spacing: -1.2px;
    font-family: 'WorkSans-Bold';
}

.no-existeix .btn-manage {
    width: 255px;
}

.btn-manage {
    width: 100%;
    border-radius: 8px;
    border: solid 1px #020e7d;
    color: #020e7d;
    letter-spacing: -0.9px;
    font-size: 17px;
    font-weight: 600;
    background-color: white;
    height: 55px;
    margin: 2px;
}

.inputForum {
    max-width: 793px;
    margin-bottom: 35px;
}

.postForum {
    margin-bottom: 96px;
}

.forumbutton {
    letter-spacing: -0.25px;
    color: #020e7d;
    background-color:#f7f7f7;
    padding-left: 30px;
    max-width: 793px;
    font-weight: bold;
    width: 100%;
    height: 58px;
    border-radius: 5px;
    border: solid 2px #020e7d;
    transition: 0.3s;
}

.forumPostName {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.22px;
    color: #020e7d;
}
.forumPostName:hover{
    color: #00e292;
    cursor: pointer;
}

.forumPostDate {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #7b7b7b;
}

.forumbutton:hover {
    background-color: #020e7d;
    color: white;
}

#textareaForum {
    min-height: 137px;
    border-radius: 5px;
}

.forumprofilepic {
    width: 58px;
    height: 58px;
}

.forumBody {
    width: 920px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 3px rgba(222, 222, 222, 0.48);
    border: solid 1px #d3d3d3;
    margin-bottom: 51px;
}

.postForumDiv {
    width: 920px;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding-top: 28px;
    padding-bottom: 28px;
}

.forumContent {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 60px;
    word-wrap: break-word;
}

.firstTopic {
    margin-bottom: 30px;
}

.answer:last-child {
    margin-bottom: 30px;
}

.cpointer {
    cursor: pointer;
}

.comentariText {
    line-height: 1.25;
    letter-spacing: -0.22px;
    color: #000000;
}

.forumButton {
    border: 0;
    margin-right: 40px;
    padding-left: 0px;
    font-size: 14px;
}

.forumButton:hover, .enviaButton:hover {
    color: #00e292;
}

.commentsLength{
    font-size: 14px;
}

.commentRank {
    border-radius: 4px;
    background-color: #bfecdc;
    color: #020e7d;
    font-size: 14px;
    border: 0;
    pointer-events: none;
}

.answer {
    margin-left: 40px;
    padding-top: 1px;
}

.text-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-overflow-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.margintop30 {
    padding-top: 30px;
    margin-left: 40px;
}

.categoriaRepte {
    margin-right: 10px;
}

.minwidth-190 {
    min-width: 150px;
}

.premiImg {
    margin-right: 50px;
    min-width: 500px;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.owner img, .owner .repteowner{
    cursor: pointer;
}

#fotosSobreElRepte .fotosRepte {
    min-width: 537px;
    min-height: 287px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#quebusquem .tematicaImg {
    min-width: 470px;
    min-height: 265px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.solucionsbuscadesImg {
    margin-top: 26px; 
    margin-bottom: 16px;
    min-width: 89px;
    min-height: 89px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}