<app-header></app-header>
<section id="hubrock-repte-banner">
</section>

<section id="hubrock-repte-info">
    <div class="container">
        <div class="d-flex align-items-center owner mb-3">
            <img class="rounded-circle" width="34px" src="../../assets/logos/AIFactoryLogo.png" alt="25x25">
            <h3 class="repteowner mb-0">AI Factory</h3>
        </div>

        <div id="repte-infobox" class="row d-flex justify-content-between">
            <div class="col-md-8">
                <h1 class="reptetitle">{{repte.nom}}</h1>
                <p class="reptedesc">{{repte.descripcio_short}}</p>
            </div>
            <div class="col-md-4 d-flex justify-content-start tablet-left">
                <!--EN MOVIL NO HA DESTAR AL FINAL-->
                <button class="btn hubrock-btn">PARTICIPA AL REPTE</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h3 class="whocanparticipate">Qui pot participar?</h3>
                <div class="d-flex w-100 justify-content-between category-div">

                    <div class="d-flex flex-column align-items-center"> <!-- *ngIf="repte.participants['empresa'] -->
                        <img class="participateimg" src="../../assets/illustrations/Company.png" alt="">
                        <p class="typetext">Empreses</p>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <img class="participateimg" src="../../assets/illustrations/Startup.png" alt="">
                        <p class="typetext">Startup</p>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <img class="participateimg" src="../../assets/illustrations/Student.png" alt="">
                        <p class="typetext">Estudiants</p>
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <img class="participateimg" src="../../assets/illustrations/Experts.png" alt="">
                        <p class="typetext">Experts</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end align-items-end">
                <!--EN MOVIL NO HA DESTAR AL FINAL-->
                <div class="d-flex w-100 justify-content-between align-items-start info-div">

                    <div class="d-flex">
                        <img class="participateimg" src="../../assets/illustrations/Company.png" alt="">
                        <h1>2 - {{repte.limit_participants}}<br> persones
                        </h1>
                    </div>

                    <div class="d-flex">
                        <img class="participateimg" src="../../assets/illustrations/Company.png" alt="">
                        <h1>{{repte.data_inici | date:'shortDate'}}<br>{{diesRestants(repte.data_inici, repte.data_final)}}</h1>
                    </div>

                    <div class="d-flex align-items-center">
                        <img class="participateimg" src="../../assets/illustrations/Company.png" alt="">
                        <h1>{{repte.premis[repte.premis.length - 1].premi_dotacio}}€</h1>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<section id="infobox">
    <div class="container infobox-container">

        <!-- Nav pills -->
        <ul id="tabs" class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <div class="nav-link active d-flex align-items-center justify-content-center" data-toggle="pill" href="#resum"><p class="mb-0">Resum del repte</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#quebusquem"><p class="mb-0">Què busquem?</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#baseslegals"><p class="mb-0">Bases legals</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#forum"><p class="mb-0">Fòrum</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#propostes"><p class="mb-0">Propostes</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#faq"><p class="mb-0">FAQ</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#jurat"><p class="mb-0">Jurat</p></div>
            </li>
            <li class="nav-item">
                <div class="nav-link d-flex align-items-center justify-content-center" data-toggle="pill" href="#partners"><p class="mb-0">Partners</p></div>
            </li>
        </ul>

        <!-- BACKUP -->

        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#propostes">Propostes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#jurat">Jurat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#partners">Partners</a>
        </li> -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="resum" class="container tab-pane active">

                <br>

                <h1 class="tabtitle text-center">Sobre el repte</h1>
                <div class="row d-flex justify-content-center">
                    <p class="maxwidth-540 text-center">{{repte.descripcio_long}}
                    </p>
                </div>

                <div id="fotosSobreElRepte" class="row d-flex justify-content-between">
                    <img width="537px" height="287px" src="../../assets/testpics/Imatge1.png">
                    <img width="537px" height="287px" src="../../assets/testpics/Imatge2.png">
                </div>

                <div id="videorepte" class="row d-flex justify-content-center" *ngIf="repte.url_video">
                    <iframe width="660" height="370" src="https://www.youtube.com/watch?v=ytFzsNGCdes&list=RDytFzsNGCdes&start_radio=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                

                <h1 class="tabtitle text-center">Solucions buscades</h1>

                <div id="solucionsbuscades" class="row d-flex justify-content-center">

                    <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let soluciobuscada of repte.solucions; let i = index">
                        <div class="card">
                            <div class="card-img-top d-flex justify-content-center align-items-center">
                                <img class="rounded-circle" src="https://3.bp.blogspot.com/-LMc-xKy_DEs/T3AjG4trr_I/AAAAAAAAAFc/Z45mKeRS1cw/s400/zebra-pattern-avatar.jpg" width="89px" height="89px" style="margin-top: 26px; margin-bottom: 16px;">
                            </div>
                            <div class="card-body solucio-info text-center">
                                <h5 class="card-title">{{soluciobuscada.solucio_nom}}</h5>
                                <p class="card-text">{{soluciobuscada.solucio_descripcio}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-img-top d-flex justify-content-center align-items-center">
                                <img class="rounded-circle" src="https://3.bp.blogspot.com/-LMc-xKy_DEs/T3AjG4trr_I/AAAAAAAAAFc/Z45mKeRS1cw/s400/zebra-pattern-avatar.jpg" width="89px" height="89px" style="margin-top: 26px; margin-bottom: 16px;">
                            </div>
                            <div class="card-body solucio-info text-center">
                                <h5 class="card-title">Temàtica 2</h5>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar</p>
                            </div>
                        </div>
                    </div> -->

                </div>

                <div id="sabermes" class="row d-flex justify-content-center">
                    <a data-toggle="pill" href="#quebusquem">SABER MÉS</a>
                </div>

                <div class="row d-flex justify-content-center">
                    <h1 class="tabtitle">Com participar?</h1>
                </div>

                <div class="row d-flex justify-content-center">
                    <div id="comparticiparwho" class="d-flex justify-content-between">

                        <div class="d-flex flex-column align-items-center" *ngFor="let quiparticipa of repte.participants; let i = index">
                            <img class="howtoparticipateimg" [src]="getImage(quiparticipa.idparticipants)" alt="">       <!--ALT DINÀMIC PER SEO-->
                            <p class="typetext">{{quiparticipa.participants_name}}</p>
                        </div>

                    </div>
                </div>

                <div class="row d-flex justify-content-center margin-bottom-40">
                    <p *ngIf="repte.individual_equip == 0">Individual</p>
                    <p *ngIf="repte.individual_equip == 1 && repte.limit_participants == '2'">Equips de 2 persones</p>
                    <p *ngIf="repte.individual_equip == 1 && repte.limit_participants != '2'">Equips de 2 - {{repte.limit_participants}} persones</p>
                </div>

                <div class="text-readmore row d-flex justify-content-between">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <p>
                            Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó
                            una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años.
                        </p>
                        <a href="#">SABER MÉS</a>
                    </div>


                    <img src="../../assets/testpics/Illustració2.png">
                </div>

                <h1 class="tabtitle text-center">Premis</h1>

                <ul class="nav nav-pills d-flex justify-content-center" id="premis-tab" role="tablist">
                    <li class="nav-item" *ngFor="let premi of repte.premis; let i = index">
                        <a class="nav-link text-center" [class]="{'active': i == 0}" [id]="'pills-premi-'+ i + '-tab'" data-toggle="pill" [attr.href]="'#pills-premi'+i" 
                            role="tab" aria-controls="pills-home" aria-selected="true">{{i+1}}<br>Premi</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-center" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">2n<br>Premi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">3r<br>Premi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" id="pills-conty-tab" data-toggle="pill" href="#pills-conty" role="tab" aria-controls="pills-contact" aria-selected="false" style="padding-top: 33px;">Menció</a>
                    </li> -->
                </ul>


                <div class="tab-content" id="premis-tabContent">
                    <div *ngFor="let premi of repte.premis; let i = index" class="tab-pane fade show" [class]="{'active': i == 0}" [id]="'pills-premi'+ i" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="text-premis row d-flex justify-content-between">
                            <img src="../../assets/testpics/Premi_Mac.png">

                            <div class="d-flex flex-column align-items-start justify-content-center">
                                <p>{{i + 1}} premi</p>
                                <h1 class="pricetitle">{{premi.premi_dotacio}}</h1>
                                <p>{{premi.premi_descripcio}}</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>


            <div id="quebusquem" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Què busquem?</h1>

                <div class="text-premis row d-flex justify-content-start" *ngFor="let soluciobuscada of repte.solucions; let i = index">
                    <div class="col">
                        <img src="../../assets/testpics/Temàtica1.png" class="align-self-start" *ngIf="i % 2 == 0"> <!--Si el numero es parell -> text esquerre-->

                        <div class="d-flex flex-column align-items-start justify-content-center" *ngIf="i % 2 != 0"> <!--Si el numero es senar <- text dreta-->
                            <h1 class="tematicatitle">{{soluciobuscada.solucio_nom}}</h1>
                            <p>{{soluciobuscada.solucio_descripcio}}</p>
                            <button type="button" class="btn btn-primary btn-quebusquem"><img width="30"
                                src="../../assets/simpleicons/fileicon.png" alt=""> Especificacions tècniques</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column align-items-start justify-content-center" *ngIf="i % 2 == 0">
                            <h1 class="tematicatitle">{{soluciobuscada.solucio_nom}}</h1>
                            <p>{{soluciobuscada.solucio_descripcio}}</p>
                            <button type="button" class="btn btn-primary btn-quebusquem"><img width="30"
                                    src="../../assets/simpleicons/fileicon.png" alt=""> Especificacions tècniques</button>
                        </div>

                        <img src="../../assets/testpics/Temàtica1.png" class="align-self-start" *ngIf="i % 2 != 0">
                    </div>

                </div>

                <div class="row">
                    <div class="separator"></div>
                </div>

                <div id="altresrecursos" class="row">
                    <h1 class="tematicatitle">Altres recursos</h1>
                </div>

                <div id="altresrecursosfiles" class="row d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img width="30"
                                src="../../assets/simpleicons/fileicon.png" alt="">
                        <a href="#">Llei de protecció de dades</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <img width="30"
                                src="../../assets/simpleicons/fileicon.png" alt="">
                        <a href="#">Manual màquina 1</a>
                    </div>
                </div>

                <!-- <div class="videos">   DESACTIVEM VIDEOS PER DEMOSTRACIO GRAV.
                    <div class="row">
                        <img src="https://dummyimage.com/1100x634/f3f3f3/000000">
                    </div>
                    <div class="row">
                        <img src="https://dummyimage.com/1100x634/f3f3f3/000000">
                    </div>
                </div> -->




            </div>


            <div id="baseslegals" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Bases legals</h1>

                <div class="container">
                    <div class="legaltext" *ngIf="repte.bases_legals == 0">
                        Participation in the Challenge implies acknowledgement and acceptance of the characteristics, limits and risks of the internet and related technologies, particularly with regards to performance, response time, security of software and computer equipment
                        against various potential attacks, such as viruses, logic bombs or Trojans, and loss or misuse of data. As a result, the Sponsor will not be held liable in any way for any damage incurred by Participants arising from these characteristics,
                        limits and risks, which Participants accept by registering and taking part in the Challenge. The Sponsor will not in any case be held liable for damages resulting from faults with or delays in the submission of deliverables by
                        Participants, including refusal to accept these deliverables as a consequence of their submission outside the deadlines set out in the Rules, from faults with or delays to the sending of any emails by the Participant sent as part
                        of the Challenge, or from any alterations made to the deliverables independently of the Sponsor. The Sponsor will not in any case be held liable for damages resulting from services provide by a third-party relating to the prizes.
                        The Sponsor will not be held liable for the consequences of a Participant’s disqualification from the Challenge as a result of their violation of these Rules. PERSONAL DATA PROTECTION Participation in the Challenge requires the
                        communication of the Participant's personal data ("Personal Data"). Participant’s personal data is subject to processing within the meaning of the regulations on the protection of personal data (The EU 2016/679 General Data Protection
                        Regulation and the Council of 27 April 2016, known as GDPR) for which the Sponsor defines the purposes and means and is, as such, “Data controller” within the meaning of the GDPR. The purposes of the processing are: To meet the
                        organization of the challenge needs To organize the intermediation between the Participant and the Sponsor, to ensure identification, communication and preservation of the exchanges with the Participant In accordance with the provisions
                        of the GDPR, the Sponsor undertakes to implement organizational and technical security measures in order to protect all Participant’s Personal Data. The Sponsor undertakes these measures to allow the exercise of Participants’ rights
                        from GDPR. CLAIMS Any Participant’s claims arising from the Challenge, should be addressed no later than thirty (30) days following the Challenge end date to fsgsecretariat@adb.org. All claims must include: (i) the Participant’s
                        complete contact details (name, address, email address and phone); (ii) the name of the Challenge; and (iii) a clear and detailed explanation for the claim. SETTLEMENT OF DISPUTES The Challenge and any action related thereto shall
                        be governed by this section of the Rules. The parties will attempt in good faith to resolve any dispute or claim arising out of or in relation to the Challenge. If the dispute cannot be settled amicably within the agreed date from
                        the date on which either Party has served written notice on the other of the dispute, the dispute will be referred to arbitration. The arbitration shall take place in Singapore and shall be settled under the Rules of Arbitration
                        of the International Chamber of Commerce by one arbitrator selected in accordance with the said Rules. The award of arbitration shall be final and binding on both parties and shall be in lieu of any other remedy. Each party shall
                        bear its own costs.

                        <br>
                    </div>
                    <div class="legaltext" *ngIf="repte.bases_legals == 1">{{repte.bases_legals_personals}}</div>
                </div>

            </div>


            <div id="forum" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Fòrum coming soon</h1>
            </div>


            <div id="propostes" class="tab-pane fade"><br>
                <h1 class="tabtitle text-center">Solucions proposades</h1>


                <div class="row d-flex flex-column align-items-center mt-5 esborranys-mb" *ngIf="repte.solucions">
                    <div class="row w-100">
                        <div *ngFor="let solucio of repte.solucions" class="col-md-4 col-sm-6">
                            <div class="card solucio-enviat p-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{solucio.solucio_proposada_nom}}</h5>
                                    <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Demanar ferran que get solucio retorni nom de repte</a></h6>

                                </div>
                                <div class="card-footer bg-transparent">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <img class="rounded-circle" height="50px" width="50px" src="../../assets/logos/AIFactoryLogo.png" alt="">
                                        </div>
                                        <div class="col m-auto solucio-footer">
                                            {{repte.user.nom_empresa || repte.user.nom_rockstar}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center" *ngIf="!repte.solucions">
                    <p class="maxwidth-540 text-center">Aquest repte encara no té solucions proposades.</p>
                </div>

                <!-- <div id="solucions">
                    <div class="row d-flex flex-column align-items-center mt-3 esborranys-mb">
                        <div class="row w-100">
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle" src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle"  src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="card solucio-enviat p-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Nou packaging ecològic</h5>
                                        <h6 class="card-subtitle mb-5">Repte <a href="#" target="_blank">Creació nou
                                                packaging</a></h6>

                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <img class="rounded-circle"  src="https://dummyimage.com/45x45/00e292/fff" alt="">
                                            </div>
                                            <div class="col m-auto solucio-footer">
                                                Pol Roig
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

            <div id="faq" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Preguntes freqüents</h1>

                <div class="d-flex justify-content-center">
                    <p class="maxwidth-540 text-center">En aquest apartat es resoldran els dubtes freqüents sobre el repte.</p>
                </div>


                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" *ngFor="let pregunta of repte.faqs; let i = index">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <button class="btn btn-link accordionbutton" data-toggle="collapse" [attr.href]="'#resposta' + i">{{pregunta.faq_pregunta}}</button>
                            </h4>
                        </div>
                        <div [id]="'resposta' + i" class="accordionbody panel-collapse collapse in">
                            <div class="panel-body">{{pregunta.faq_resposta}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="jurat" class="container tab-pane fade"><br>

                <h1 class="tabtitle text-center">Jurat</h1>

                <div class="d-flex justify-content-center juratinfo">
                    <p class="maxwidth-540 text-center">En aquest apartat descobriràs els responsables a valorar les solucions proposades per aquest repte.</p>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-md-3 col-sm-6 col-xs-12 d-flex flex-column align-items-center jurat-container" *ngFor="let jurat of repte.jurats; let i = index">
                        <img src="../../assets/testpics/MariaGuardiola.jpg" class="rounded-circle align-self-center jurat-img">
                        <h1>{{jurat.jurat_nom}}</h1>
                        <p class="text-center">{{jurat.jurat_bio}}</p>
                    </div>
                </div>

            </div>

            <div id="partners" class="container tab-pane fade"><br>
                <h1 class="tabtitle text-center">Partners</h1>

                <div class="d-flex justify-content-center partnersinfo">
                    <p class="maxwidth-540 text-center">Col·laboradors del repte.</p>
                </div>

                <div class="row d-flex justify-content-start align-items-center partner-container" *ngFor="let partner of repte.partners; let i = index">
                    <img src="../../assets/testpics/NeonPic.jpg" alt="" class="rounded-circle partnerimg">
                    <div class="partner-info">
                        <h3 class="partner-name">{{partner.partner_nom}}</h3>
                        <p>{{partner.partner_descripcio}}</p>
                        <button type="button" class="btn btn-primary">VEURE PERFIL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>