<app-header></app-header>
<div class="container" style="margin-top: 40px;">

<h1 class="title-h" style="margin-bottom: 20px; margin-top: 20px;">Política de privacitat</h1>

<div style="margin-bottom: 50px;">
    Hub & Rock és propietat i està operat per la Cambra Oficial de Comerç, Indústria i Navegació de Girona, una
    corporació de dret públic que es regeix per la Llei 3/1993, amb CIF Q1773001A i domicili social a Av. Jaume I, 46,
    17001, Girona (d’ara endavant “Hub & Rock”, “nosaltres”, “plataforma”).
    <br>
    <br>
    La referència a “dades personals” significa qualsevol informació que identifiqui o es pugui fer servir per
    identificar a una persona, ja sigui sola o juntament amb més dades. Apart de la nostra política de privacitat,
    consulteu també els nostres Termes i Condicions, així com també la nostra política de cookies que explica l’ús de
    cookies i altres dispositius de seguiment web que s’utilitzen al nostre lloc web. Junts, aquests documents
    estableixen la base sobre la qual tractarem les dades personals dels nostres membres.
    <br>
    <br>

    <h3 class="title-s">Com recollim les vostres dades personals</h3>

    Com a plataforma d’innovació oberta rebem regularment dades personals com a part dels nostres serveis. Les dades
    personals que recopilem i processem poden incloure:
    <br>
    <br>
    <b>- Inscripció.</b> Recopilem la informació obligatòria necessària per crear el vostre compte d’usuari i registrar-vos als
    serveis que oferim a la nostra plataforma: el vostre nom, correu electrònic i contrasenya, tipus de perfil
    (estudiant, expert, empresa o startup), ciutat de residència, indústria/es.
    <br>
    <br>
    <b>- Perfil.</b> Teniu la opció d’ampliar la informació del vostre perfil, com ara fotografia de perfil, educació,
    habilitats professionals i experiència i preferències laborals. La informació del perfil us ajuda a treure més
    profit dels nostres serveis.
    <br>
    <br>
    <b>- Missatges, publicacions i documents publicats.</b> Recopilem dades personals de vosaltres quan les proporcioneu,
    publiqueu o pengeu a la nostra plataforma, com ara quan us registreu per a un repte, quan pengeu els entregables
    d’un repte (per exemple, documents, presentacions, fitxers d’àudio / vídeo) enviats com a part de la vostra
    participació a un repte, quan xategeu o envieu missatges amb altres membres de la comunitat, publiqueu anuncis o feu
    servir taulers de missatges públics (fòrums).
    <br>
    <br>
    <b>- Informació tècnica.</b> Mantenim un registre de qualsevol correspondència entre vosaltres i Hub & Rock, com ara la
    informació que envieu quan informeu d’un problema amb la nostra plataforma o servei.
    <br>
    <br>
    <b>- Qualsevol altra informació relacionada amb vosaltres que ens pugueu proporcionar.</b>
    <br>
    <br>
    Informació que recopilem automàticament d'una font de tercers, inclosa:
    <br>
    <br>
    <b>- Informació tècnica.</b> Quan visiteu la nostra plataforma, recopilem informació relativa als dispositius que utilitzeu
    i a les xarxes a les quals esteu connectat. Aquesta informació tècnica inclou la vostra adreça IP, informació
    d’inici de sessió, amplada de banda utilitzada, hora de visita, tipus i versió del navegador, tipus i versions de
    connectors del navegador, sistema operatiu, informació sobre la vostra visita, inclosos els fluxos de clics d’URL,
    errors de descàrrega / càrrega , pàgines visitades, interaccions de pàgines i altres dades de connexió conservades
    als nostres registres. Recopilem aquesta informació mitjançant diferents tecnologies, com ara les cookies (vegeu la
    nostra política de cookies).
    <br>
    <br>

    <h3 class="title-s">Quant de temps les vostres dades personals</h3>

    Conservem les vostres dades personals sempre que tingueu un compte amb nosaltres. Si tanqueu el compte, les vostres
    dades personals se suprimiran immediatament.

    La informació que hàgiu compartit amb altres persones (per exemple, mitjançant missatges, xats o en taulers de
    missatges) continuarà visible després de tancar el vostre compte, però quedarà anonimitzada. És possible que el
    vostre perfil es continuï mostrant als serveis d'altres persones (per exemple, resultats del motor de cerca) fins
    que l'usuari actualitzi la memòria cache del seu navegador.

    Si el vostre compte està suspès o bloquejat, conservarem les vostres dades durant un període d'entre 2 i 5 anys per
    evitar que eludiu els termes i condicions de la nostra plataforma.

    També podem conservar les seves dades personals durant un període addicional , durant el temps necessàri, per
    defensar la plataforma de possibles reclamacions legals.

    <br>
    <br>
    <h3 class="title-s">Com utilitzem les dades personals</h3>
    
    Les vostres dades personals us permetrà:
    <br>
    <br>
    - participar en els reptes d’innovació de la nostra plataforma<br>
    - us permetrà personalitzar el vostre compte / perfil d'usuari;<br>
    - enviar-vos informació relacionada amb el servei (per exemple, confirmació del vostre registre en un repte) per
    correu electrònic i / o qualsevol altre mitjà de comunicació;<br>
    - us permetrà comunicar-vos i interactuar amb altres membres de la comunitat, com ara membres de l’equip, mentors,
    membres del jurat i / o organitzadors d’un repte (per exemple, missatges dels membres de l’equip o invitacions per
    unir-vos a un equip);<br>
    - donar accés als nostres serveis d’atenció a l’usuari;<br>
    - mantenir la nostra plataforma segura;<br>
    - mesurar i comprendre l'eficàcia de la publicitat i oferir-li publicitat rellevant;<br>
    - enviar-vos, d’acord amb les lleis aplicables i, si s’escau, amb el vostre consentiment, materials de màrqueting i
    suggeriments dels nostres serveis (per exemple, reptes futurs) que us puguin interessar;<br>
    - us notificarem sobre canvis als nostres serveis;<br>
    - millorar el nostre lloc web per garantir que el contingut es presenti de la manera més eficaç;<br>
    - complir les nostres obligacions legals, incloses les ordres judicials i altres requisits legals o reglamentaris.<br>
    <br>
    <br>

    <h3 class="title-s">Com compartim les vostres dades personals</h3>

    Podem compartir les vostres dades personals amb filials de Hub & Rock, per a les finalitats descrites en aquesta
    Política de Privacitat.
    <br>
    <br>
    <b>Perfil.</b> Quan utilitzeu els nostres serveis, el vostre perfil és totalment visible per a tots els membres de la
    nostra comunitat, com ara participants del repte, mentors, membres del jurat i l’empresa o organització que crea un
    repte. Determinada informació del perfil (per exemple, nom, foto, ciutat de residència, etc.) també pot ser visible
    per a altres persones a la plataforma (per exemple, visitants de la nostra plataforma o usuaris de motors de cerca
    de tercers).
    <br>
    <br>
    <b>Publicacions als fòrums, missatges i lliuraments.</b> Quan publiqueu al fòrum d’un repte tots els membres de la
    comunitat poden veure-ho. Podeu enviar missatges a membres de l’equip, participants individuals, administradors de
    reptes o mentors. Els lliuraments relacionats amb el repte els poden veure altres membres del vostre equip (si
    s’escau), administradors del repte, membres del jurat i mentors de l’equip.
    <br>
    <br>
    <b>Reptes públics.</b> Alguns dels nostres reptes són públics, cosa que permet al públic veure les solucions guanyadors,
    juntament amb el perfil dels seus creadors. En aquests casos, el públic pot veure publicacions relacionades amb el
    repte, perfils individuals i d'equips i lliuraments relacionats amb el repte (presentacions, fitxers d'àudio /
    vídeo, etc.). Abans de participar en un repte públic, se us demanarà el consentiment perquè aquesta informació es
    faci pública. Si no voleu fer pública aquesta informació, no participeu en cap repte públic.
    <br>
    <br>

    També compartirem, segons el cas, amb tercers les vostres dades personals, com ara:
    <br>
    <br>
    - l’empresa o organització que ha creat un repte, els seus administradors, mentors i membres del jurat o altres
    persones a qui hagin donat accés a les vostres dades personals amb l'únic propòsit d'administrar el repte. Hem
    establert acords per compartir dades amb les empreses amb qui coorganitzem un repte per garantir el compliment de
    les lleis de protecció de dades;
    <br>
    
    - els nostres partners tècnics subcontractats (per exemple, plataformes de computació en núvol, sistemes de
    transmissió i gestió de dades i continguts, proveïdors de motors de cerca, etc.)
    <br>
    - plataformes de xarxes socials que poden anunciar els nostres serveis als seus llocs web.
    <br>
    Només compartim les vostres dades personals amb tercers en els casos següents:
    <br>
    - quan sigui necessari realitzar els nostres serveis (per exemple, proporcionar les seves dades personals a una
    empresa col·laboradora amb qui coorganitzem un repte);
    <br>
    - per ajudar-nos a millorar i optimitzar el nostre lloc web mitjançant l’ús d’anàlisis i motors de cerca;
    <br>
    - es basa en el vostre consentiment i / o el nostre interès (és a dir, proporcionar-vos publicitat d’interés);
    <br>
    - si ens ho exigeix per llei, sempre i quan la divulgació de les dades sigui necessària per respondre a
    reclamacions, per complir els procediments legals en el marc d'una investigació o per protegir els drets, la
    propietat o la seguretat personal de Hub & Rock o dels seus membres;
    <br>
    - si venem o comprem alguna empresa o actiu, podem divulgar les seves dades personals al possible venedor o
    comprador; i
    <br>
    - si la totalitat o una part dels nostres actius són adquirits per un tercer, les vostres dades personals poden
    incloure's com a actius transferits.
    <br>
    Si decidiu compartir les vostres dades personals amb nosaltres mitjançant l’autenticació de xarxes socials, se us
    aplicaran les polítiques de privadesa d’aquestes. No controlem la recopilació ni el processament de la vostra
    informació per part d’aquestes plataformes.
    <br>
    <br>

    <h3 class="title-s">Base legal del tractament de dades</h3>

    Recopilem, fem servir i compartim les dades que tenim de les maneres descrites anteriorment:
    <br>
    <br>
    - quan sigui necessari per proporcionar els serveis a la nostra plataforma i complir els Termes i Condicions;
    <br>
    - d’acord amb el vostre consentiment, que podeu revocar en qualsevol moment a través del nostre correu d’atenció a
    l’usuari: <a href="mailto:contact@hubandrock.com">contact@hubandrock.com</a>.
    <br>
    - segons sigui necessari per complir les nostres obligacions legals;
    <br>
    - segons sigui necessari per als nostres interessos legítims, inclosos els nostres interessos en proporcionar un
    servei innovador, personalitzat i eficaç als nostres usuaris i socis, tret que els vostres interessos o drets i
    llibertats fonamentals requereixin protecció de dades personals.
    <br>
    <br>

    <h3 class="title-s">Correus electrònics de màrqueting directe i anuncis a les plataformes de xarxes socials</h3>

    D’acord amb les lleis aplicables i, si es requereix, amb el vostre consentiment, podem utilitzar la informació que
    ens proporcioneu al nostre lloc web per a màrqueting electrònic directe (per exemple, rebre els nostres butlletins,
    invitacions a propers reptes o esdeveniments i altres comunicacions que creiem que us poden interessar). Podeu
    retirar el vostre consentiment en qualsevol moment escrivint-nos a hola@hubandrock.com.
    <br>
    <br>
    Respecte als anuncis a les xarxes socials, podeu oposar-vos en qualsevol moment a través de la pantalla de
    configuració de publicitat al vostre compte de xarxes socials (per exemple, Facebook).
    <br>
    <br>

    <h3 class="title-s">Transferència de les seves dades personals</h3>

    Emmagatzemem les vostres dades personals a l’Espai Econòmic Europeu. Si utilitzeu la nostra plataforma, les vostres
    dades personals es podran compartir entre les empreses afiliades a Hub & Rock (tant dins com fora de l’Espai
    Econòmic Europeu). La nostra política global exigeix que totes les entitats afiliades garanteixin un nivell de
    protecció de dades almenys tan protector com els que exigeix l’Espai Econòmic Europeu.
    <br>
    <br>
    També podem transferir dades personals a tercers, incloses aquelles ubicades fora de l’Espai Econòmic Europeu, com
    per exemple subcontractistes i tercers implicats en la prestació de serveis. Quan transferim les vostres dades
    personals, ho farem d’acord amb les lleis aplicables sobre protecció de dades i adoptarem les mesures adequades per
    garantir la seva integritat i protecció.
    <br>
    <br>

    <h3 class="title-s">Com mantenim les seves dades personals segures</h3>

    Prendrem les mesures tècniques i organitzatives adequades contra el tractament no autoritzat o il·legal de les
    vostres dades personals i contra la pèrdua o destrucció accidental o el dany de les vostres dades personals d’acord
    amb els nostres procediments de seguretat interns que cobreixen el seu emmagatzematge, accés i destrucció.
    <br>
    <br>

    <h3 class="title-s">Drets sobre les dades personals</h3>

    Apart dels vostres drets segons la legislació aplicable sobre protecció de dades, us proporcionarem, a petició, una
    còpia de les vostres dades personals i corregirem els errors identificats per vosaltres. També teniu dret a rebre i
    / o fer-nos transferir a un altre responsable del tractament un subconjunt de les vostres dades personals. Teniu
    dret a oposar-vos i restringir el processament de les vostres dades personals, així com el dret a presentar una
    reclamació davant les autoritats de control sobre el tractament de les vostres dades personals. Totes aquestes
    sol·licituds o qualsevol pregunta o comentari sobre aquesta política o sobre el nostre tractament de les vostres
    dades personals s’han d’adreçar a hola@hubandrock.com.
    <br>
    <br>

    <h3 class="title-s">Enllaços</h3>

    El nostre lloc web conté enllaços a altres llocs web, incloses empreses associades. Aquests llocs web tenen les
    seves pròpies pràctiques de privacitat, per les quals no tenim cap responsabilitat. Reviseu aquestes polítiques
    abans d’enviar dades personals.
    <br>
    <br>

    <h3 class="title-s">Actualitzacions</h3>

    Aquest avís de privacitat es va actualitzar a l’abril del 2021. Ens reservem el dret de modificar aquest avís de
    privacitat de tant en tant per reflectir els requisits legals canviants o les nostres pràctiques de processament.
    Aquests canvis es publicaran en aquest lloc web i seran efectius en el mateix moment de la publicació.
    <br>
    <br>
</div>
</div>
<app-footer></app-footer>