<app-header></app-header>

<div class="container-jumbo d-flex align-items-center justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4">Pàgina no trobada</h1>
        <p class="lead">Aquesta pàgina no existeix, has introduït la ruta correctament?</p>
        <hr class="my-4">
        <p>Participa en un repte de la plataforma Hub&Rock accedint als reptes oberts!</p>
        <p class="lead">
            <button id="btn-veure-tots-reptes" class="btn btn-primary btn-style" routerLink='/reptes'>VEURE TOTS ELS REPTES</button>
        </p>
    </div>
</div>


<app-footer></app-footer>