* {
    font-family: 'WorkSans-Regular';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1.06px;
}

agm-map{
    height: 600px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #020e7d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #020e7d; 
}
.map {
    width: 100%;
    height: 80vh;
    position: relative;
}
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: lightblue;
}
.overlay {
    width: 420px;
    z-index: 9;
    background: white;
    overflow-y: scroll;
    padding: 32px;
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;
}

.secondoverlay {
    border-radius: 13px;
    height: 487px;
    width: 307px;
    top: 22px;
    right: 26px;
    background: white;
    z-index: 9;
    padding: 22px;
}
@media (max-width: 767.98px) {
    .onMobileRelative {
        position: relative;
    }
}
@media (min-width: 768px) {
    .onMobileRelative {
        position: absolute;
    }
}

.input-group-text {
    background-color: white;
    border-right: 0px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-left: solid 1px #000000;
}
#cercarEmpreses{
    border-left: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 43px;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000;
}


.empresaInfo h3{
    font-size: 20px;
    font-family: 'WorkSans-Bold';
    margin-bottom: 1.2rem;
}
.secondoverlay h3{
    font-size: 16px;
    margin-top: 20px;
}

.servei {
    border-radius: 10px;
    padding: 12px 16px;
    letter-spacing: -0.66px;
    border: 1px solid grey;
}

.link-perfil-usuari {
    color: #020e7d;
    font-family: 'WorkSans-Regular';
    letter-spacing: -0.25px;
    size: 18px;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.maininfo {
    margin-bottom: 60px;
}

/** Filtres checkboxes */
.checkboxes label p{
    font-size: 14px;
}
.checkboxes input[type="checkbox"] {
    appearance: none;
}
input[type="checkbox"]:checked+label {
    color: #00e292;
    font-family: 'WorkSans-Bold';
    font-weight: bold;
}

#industriesDiv {
    height: 137px;
    border-radius: 6px;
    border: solid 1px #dfdfdf;
    overflow-y: scroll;
}
#industriesDiv label{
    font-size: 14px;
}