<app-header></app-header>
<!-- <agm-map [latitude]="lat" [longitude]="lng">

</agm-map> -->
<div class="container-fluid map">
    <agm-map (mapClick)="close_window()" class="box" [latitude]="lat" [longitude]="lng" [fitBounds]="fitBoundsVar">
        <div *ngIf="empreses.length>0">
            <agm-marker *ngFor="let empresa of empreses" [latitude]="getJSONlatlng(empresa.ciutat_residencia).lat" 
                [longitude]="getJSONlatlng(empresa.ciutat_residencia).lng"
                (markerClick)="setEmpresa(empresa); displayChange(empresa.nom_empresa); clickedMarker(infoWindow)" [agmFitBounds]="true"> 
                <agm-info-window #infoWindow>
                    <div class="d-flex align-items-center">
                        <div class="perfilfoto2"
                        [ngStyle]="{'background-image': 'url(' + fileStorageUrl + empresa.url_photo_profile + ')'}"
                        alt="Card image cap"></div>
                        <h3 class="miniTitle mb-0" routerLink="/perfil/{{empresa.user_iduser}}">{{empresa.nom_empresa}}</h3>
                    </div>
                    <div class="max3L" style="max-width: 230px; padding: 5px">
                        {{empresa.bio}}
                    </div>
                </agm-info-window>
            </agm-marker>
        </div>
    </agm-map>
    <!-- <div class="box"></div> -->
    <div *ngIf="currentEmpresa" class="box overlay empresaInfo" [style]="'display:'+display+';'">
        <div class="d-flex justify-content-between">
            <div></div>
            <div class="rounded-circle perfilfoto"
                [ngStyle]="{'background-image': 'url(' + fileStorageUrl + currentEmpresa.url_photo_profile + ')'}"
                alt="Card image cap"></div>
            <div style="cursor: pointer;" (click)="displayChange()">X</div>
        </div>
        <div class="text-center maininfo">
            <h3 style="cursor:pointer" routerLink="/perfil/{{currentEmpresa.user_iduser}}">{{currentEmpresa.nom_empresa}}</h3>
            <a [href]="'/perfil/'+currentEmpresa.user_iduser">
                <button style="margin-bottom: 0px" class="btn btn-primary what-btn">Veure perfil</button>
            </a>
            <!-- <p>{{currentEmpresa.bio}}</p> -->
        </div>
        <div>
            <h3>Sobre nosaltres</h3>
            <p *ngIf="currentEmpresa.bio" style="overflow-x: hidden; font-size: 14px;">{{currentEmpresa.bio}}</p>
            <p *ngIf="!currentEmpresa.bio" style="overflow-x: hidden; font-size: 14px;">-</p>
        </div>
        <hr />
        <div *ngIf="currentEmpresa.serveis.length">
            <h3>Els nostres serveis</h3>
            <div *ngIf="currentEmpresa.serveis.length">
                <div *ngFor="let servei of currentEmpresa.serveis" class="servei" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                {{servei.servei_nom}}</div>
            </div>
            <div *ngIf="!currentEmpresa.serveis.length">-</div>
        </div>
        <hr *ngIf="currentEmpresa.serveis.length" />
        <div>
            <h3>Els nostres sectors</h3>
            <div *ngFor="let industria of currentEmpresa.industries" class="servei" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                {{industria.nom}}</div>
        </div>
        <hr />
        <div *ngIf="currentEmpresa.cv_path">
            <h3>Documents</h3>
            <img *ngIf="currentEmpresa.cv_path" class="mr-4" width="30" src="../../assets/simpleicons/fileicon.png" alt="">
            <a *ngIf="currentEmpresa.cv_path" target="_blank" [href]="fileStorageUrl + currentEmpresa.cv_path" download class="link-perfil-usuari">Presentació {{currentEmpresa.nom_empresa}}</a>
            <p *ngIf="!currentEmpresa.cv_path">-</p>
        </div>
        <hr *ngIf="currentEmpresa.cv_path" />
        <div>
            <h3>On trobar-nos?</h3>
            <div class="d-flex">
                <img class="mr-1 align-self-start" src="../../assets/testicons/place-localizer.png" alt="">
                <p>{{getJSONlatlng(currentEmpresa.ciutat_residencia).addr}}</p>
            </div>
            <div class="d-flex mt-3">
                <a [href]="currentEmpresa.xarxes_linkedin" *ngIf="currentEmpresa.xarxes_linkedin" target="_blank"><img class="mr-2" src="../../assets/testicons/LinkedIn.png" alt="LinkedIn"></a>
                <a [href]="currentEmpresa.xarxes_twitter" *ngIf="currentEmpresa.xarxes_twitter" target="_blank"><img class="mr-2" src="../../assets/testicons/Twitter.png" alt="Instagram"></a>
                <a [href]="currentEmpresa.xarxes_instagram" *ngIf="currentEmpresa.xarxes_instagram" target="_blank"><img class="mr-2" src="../../assets/testicons/Instagram.png" alt="Facebook"></a>
                <a [href]="currentEmpresa.xarxes_facebook" *ngIf="currentEmpresa.xarxes_facebook" target="_blank"><img class="mr-2" src="../../assets/testicons/Facebook.png" alt="Facebook"></a>
                <!-- <a *ngIf="usuariObject.xarxes_twitter" [attr.href]="usuariObject.xarxes_twitter" target="_blank"><img class="mr-2" src="../../assets/testicons/Twitter.png" alt="Twitter"></a> -->
            </div>
        </div>
        <hr />
        <!-- <div>
            <h3>Últim repte creat</h3>
            <p>-</p>
        </div> -->
        <!-- <hr /> -->
    </div>

    <div class="d-flex justify-content-end">
        <div class="secondoverlay empresaInfo onMobileRelative">
            <form (ngSubmit)="onSearchSubmit()">
                <div class="input-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><img src="../../assets/simpleicons/Search_N.png" width="20px"
                                    height="20px" alt="Cerca"></div>
                        </div>
                        <input type="text" class="form-control" id="cercarEmpreses" [(ngModel)]="text"
                            [ngModelOptions]="{standalone: true}" placeholder="Busca empreses al mapa"
                            (input)="onSearchChange($event.target.value)">
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-end">
                <p style="font-size: 13px; color:#b6b6b6; cursor: pointer;" (click)="clearSearch()">Eliminar cerca</p>
            </div>

            <hr class="mt-0 mb-0">

            <h3>Clica sobre el tipus de perfil buscat</h3>
            <div class="form-check form-check-inline checkboxes mr-4">
                <input type="checkbox" id="InputEmpreses" value="empreses" [checked]="empresaChecked"
                    (change)="changeTipusEmpresa('empresa')">
                <label class="form-check-label" for="InputEmpreses">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ilustration" width="40px" height="40px"
                            src="../../assets/illustrations/Empreses.png">
                        <p class="checkboxtitle">Empreses</p>
                    </div>
                </label>
            </div>
            <div class="form-check form-check-inline checkboxes">
                <input type="checkbox" id="InputStartups" value="startups" [checked]="startupsChecked"
                    (change)="changeTipusEmpresa('startup')">
                <label class="form-check-label" for="InputStartups">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img class="ilustration" width="40px" height="40px"
                            src="../../../assets/illustrations/Startups.png">
                        <p class="checkboxtitle">Startups</p>
                    </div>
                </label>
            </div>

            <hr class="mt-0 mb-0">

            <div class="d-flex justify-content-between">
                <h3 class="mb-1">De quin sector?</h3>
                <p class="mb-0" style="font-size: 13px; color:#b6b6b6; margin-top: 20px; cursor: pointer;"
                    (click)="clearFilters()">Eliminar cerca</p>
            </div>
            <p style="font-size: 13px">Pots seleccionar més d’una</p>

            <div id="accordion">
                <div class="card" style=" margin-bottom: 5px">
                  <div style="background-color: white;" class="card-header" id="headingOne">
                      <button style="background-color: white; width: 100%; height: 100%; text-align: left; color: black;" class="btn collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Sector TIC
                      </button>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div id="industriesDiv">
                            <div style="margin-top: 18px; margin-left: 18px">
                                <div class="custom-control custom-checkbox mb-2" *ngFor="let item of checkboxesIndustriaList.slice(1, 13);">
                                    <input [id]="item.id" type="checkbox" [(ngModel)]="item.isChecked" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" (change)="changeSelection()">
                                    <label [attr.for]="item.id" class="custom-control-label" for="ind_totes">{{item.label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div style="background-color: white;" class="card-header" id="headingTwo">
                        <button style="background-color: white; width: 100%; height: 100%; text-align: left; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Altres Sectors
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <div id="industriesDiv">
                            <div style="margin-top: 18px; margin-left: 18px">
                                <div class="custom-control custom-checkbox mb-2" *ngFor="let item of checkboxesIndustriaList.slice(13, checkboxesIndustriaList.length);">
                                    <input [id]="item.id" type="checkbox" [(ngModel)]="item.isChecked" class="custom-control-input"
                                        [ngModelOptions]="{standalone: true}" (change)="changeSelection()">
                                    <label [attr.for]="item.id" class="custom-control-label" for="ind_totes">{{item.label}}</label>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>
    </div>

</div>

<app-footer></app-footer>