#register-container {
    margin-top: 70px;
    margin-bottom: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SPACE */

#register-container .container {
    max-width: 729px;
}

form input {
    height: 55px;
}

.tags {
    margin-top: 30px;
}

.tags .tag {
    margin: 2px;
}

.elimina-link a {
    color: #e74c3c;
    letter-spacing: -0.45px;
    font-size: 18px;
    cursor: pointer;
}

.afegeix-link a {
    font-family: 'WorkSans-Regular';
    color: #020e7d;
    letter-spacing: -0.45px;
    font-size: 18px;
    cursor: pointer;
}

#repteSuccess .btn-manage {
    width: 255px;
}

#repteSuccess h1 {
    font-size: 48px;
    letter-spacing: -1.2px;
    font-family: 'WorkSans-Bold';
}

#repteSuccess p {
    font-size: 22px;
    letter-spacing: -0.55px;
}

#repteSuccess .paragraph-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.afegeix-link a:hover {
    font-family: 'WorkSans-Regular';
    font-weight: normal;
    color: #00e292;
    text-decoration-line: none;
}

textarea {
    height: 230px;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    padding: 12px 20px;
}

.btn-manage {
    width: 100%;
    border-radius: 8px;
    border: solid 1px #020e7d;
    color: #020e7d;
    letter-spacing: -0.9px;
    font-size: 17px;
    font-family: 'WorkSans-Regular';
    font-weight: 600;
    background-color: white;
    height: 55px;
    margin: 2px;
}

.userTag {
    border: 1px solid grey;
    border-radius: 9px;
}

#register-container .container form label {
    font-size: 18px;
    letter-spacing: -0, 45px;
    font-family: 'WorkSans-Bold';
}

#register-container .container #register-title {
    font-family: 'WorkSans-Bold';
    font-size: 34px;
    letter-spacing: -0.85px;
    margin-bottom: 60px;
}

#register-container #btn-login {
    margin-top: 60px;
    width: 350px;
    height: 55px;
    font-size: 17px;
    letter-spacing: -0.9px;
    background-color: #00e292;
    color: black;
    border: 0;
    font-family: 'WorkSans-Regular';
    font-weight: 800;
}

.is-invalid input {
    border: 1px solid red;
}

.is-invalid label {
    color: red;
}

.is-invalid span {
    color: red;
}

.elimina-link {
    color: #020e7d;
    letter-spacing: -0.45px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
}

.inputFotoPerfil {
    max-width: 250px;
}

#industriesbox .btnradius {
    border-radius: 10px;
}
#industriesbox .mr25 {
    margin-right: 20px;
    margin-bottom:5px;
}
#industriesbox .btn-group-toggle .industria{
    background-color: white;
    color: black;
}
#industriesbox .btn-group-toggle .industria:hover{
    background-color: #F7FAFF;
}
#industriesbox .btn-group-toggle .industria.active{
    background-color: #020e7d;
    color: white;
}

#industriesbox .btn-group-toggle .industria {
    padding: 12px 16px;
    font-size: 14px!important;
    font-family: 'WorkSans-Regular'!important;
    letter-spacing: -0.66px;
    font-weight: normal;
    width: 30%;
}
.buttonsidentifica .btn {
    width: 49%;
    height: 111px;
    font-size: 20px!important;
    font-family: 'WorkSans-Regular'!important;
    background-color: white;
    color: black;
}
.buttonsidentifica .btn.active {
    background-color: #020e7d;
    color: white;
}
.buttonsidentifica .btn:hover:not(.active) {
    background-color: #F7FAFF;
}