<app-header></app-header>


<!-- EDIT USER FORM -->

<section id="register-empresa-section">

    <div id="register-container">

        <div class="container">

            <h1 id="register-title" class="text-center">Edita el teu perfil</h1>

            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <div class="row mb-2">
                    <div class="col-md-auto">
                        <img height="300px" width="300px" class="rounded-circle" src="../../assets/logos/AIFactoryLogo.png" alt="">
                    </div>
                    <div class="col-md-auto">
                        <div class="row"><label for="profilePicture">Foto de perfil</label></div>
                        <hr>
                        <div class="row"><input type="file" id="profilePicture"></div>
                    </div>

                </div>
                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomEmpresa}">
                    <label for="InputNom">Nom empresa</label>
                    <input formControlName="nomEmpresa" type="text" class="form-control" id="InputNom" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomEmpresa">
                        {{formErrors.nomEmpresa}}
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomResponsable}">
                    <label for="InputRealName">Nom responsable</label>
                    <input formControlName="nomResponsable" type="text" class="form-control" id="InputRealName" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomResponsable">
                        {{formErrors.nomResponsable}}
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomCorreu}">
                    <label for="InputMail">Correu electrònic</label>
                    <input formControlName="nomCorreu" type="email" class="form-control" id="InputMail" aria-describedby="emailHelp" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomCorreu">
                        {{formErrors.nomCorreu}}
                    </span>
                </div>

                <div formGroupName="contrasenyaGroup" [ngClass]="{'is-invalid' : formErrors.nomContrasenya}">
                    <div class="form-group">
                        <label for="InputPassword">Contrasenya</label>
                        <input formControlName="nomContrasenya" type="password" class="form-control" id="InputPassword" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.nomContrasenya">
                            {{formErrors.nomContrasenya}}
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomRepeteixContrasenya || formErrors.contrasenyaGroup}">
                        <label for="InputPasswordRepeat">Repeteix contrasenya</label>
                        <input formControlName="nomRepeteixContrasenya" type="password" class="form-control" id="InputPasswordRepeat" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.nomRepeteixContrasenya || formErrors.contrasenyaGroup">
                            {{formErrors.nomRepeteixContrasenya ? formErrors.nomRepeteixContrasenya : formErrors.contrasenyaGroup}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomNifEmpresa}">
                    <label for="InputNIF">NIF empresa</label>
                    <input formControlName="nomNifEmpresa" type="text" class="form-control" id="InputNIF" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomNifEmpresa">
                        {{formErrors.nomNifEmpresa}}
                    </span>
                </div>
                <div class="text-center">
                    <button type="submit" id="btn-login" [disabled]="editUserForm.invalid" class="btn btn-primary">CREAR L'USUARI</button>
                </div>
            </form>


        </div>
    </div>

</section>

<app-footer></app-footer>