<app-header></app-header>


<!-- EDIT USER FORM -->

<section id="register-empresa-section">

    <div id="register-container">

        <div class="container">

            <h1 id="register-title" class="text-center">Edita el teu perfil</h1>

            <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
                <div class="row mb-2">
                    <div class="col-md-auto">
                        <img height="300px" width="300px" class="rounded-circle" src="../../assets/logos/AIFactoryLogo.png" alt="">
                    </div>
                    <div class="col-md-auto">
                        <div class="row"><label for="profilePicture">Foto de perfil</label></div>
                        <hr>
                        <div class="row"><input type="file" id="profilePicture"></div>
                    </div>

                </div>
                <div *ngIf="!userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.nomEmpresa}">
                    <label for="InputNom">Nom empresa</label>
                    <input formControlName="nomEmpresa" type="text" class="form-control" id="InputNom" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomEmpresa">
                        {{formErrors.nomEmpresa}}
                    </span>
                </div>
                <div *ngIf="userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.nomRockstar}">
                    <label for="InputNomRockstar">Nom</label>
                    <input formControlName="nomRockstar" type="text" class="form-control" id="InputNomRockstar" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomRockstar">
                        {{formErrors.nomRockstar}}
                    </span>
                </div>
                <div *ngIf="!userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.nomResponsable}">
                    <label for="InputRealName">Nom responsable</label>
                    <input formControlName="nomResponsable" type="text" class="form-control" id="InputRealName" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomResponsable">
                        {{formErrors.nomResponsable}}
                    </span>
                </div>

                <!-- <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomCorreu}">
                    <label for="InputMail">Correu electrònic</label>
                    <input formControlName="nomCorreu" type="email" class="form-control" id="InputMail" aria-describedby="emailHelp" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nomCorreu">
                        {{formErrors.nomCorreu}}
                    </span>
                </div>

                <div formGroupName="contrasenyaGroup" [ngClass]="{'is-invalid' : formErrors.nomContrasenya}">
                    <div class="form-group">
                        <label for="InputPassword">Contrasenya</label>
                        <input formControlName="nomContrasenya" type="password" class="form-control" id="InputPassword" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.nomContrasenya">
                            {{formErrors.nomContrasenya}}
                        </span>
                    </div>
                    <div class="form-group" [ngClass]="{'is-invalid' : formErrors.nomRepeteixContrasenya || formErrors.contrasenyaGroup}">
                        <label for="InputPasswordRepeat">Repeteix contrasenya</label>
                        <input formControlName="nomRepeteixContrasenya" type="password" class="form-control" id="InputPasswordRepeat" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.nomRepeteixContrasenya || formErrors.contrasenyaGroup">
                            {{formErrors.nomRepeteixContrasenya ? formErrors.nomRepeteixContrasenya : formErrors.contrasenyaGroup}}
                        </span>
                    </div>
                </div> -->

                <div *ngIf="!userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.nifEmpresa}">
                    <label for="InputNIF">NIF empresa</label>
                    <input formControlName="nifEmpresa" type="text" class="form-control" id="InputNIF" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.nifEmpresa">
                        {{formErrors.nifEmpresa}}
                    </span>
                </div>

                <div *ngIf="userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.ocupacio}">
                    <label for="InputOcupacio">Ocupació</label>
                    <input formControlName="ocupacio" type="text" class="form-control" id="InputOcupacio" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.ocupacio">
                        {{formErrors.ocupacio}}
                    </span>
                </div>

                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.ubicacio}">
                    <label for="InputUbicacio">Ubicació</label>
                    <input formControlName="ubicacio" type="text" class="form-control" id="InputUbicacio" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.ubicacio">
                        {{formErrors.ubicacio}}
                    </span>
                </div>

                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.bio}">
                    <label for="InputBio">Sobre tu:</label>
                    <input formControlName="bio" type="text" class="form-control" id="InputBio" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.bio">
                        {{formErrors.bio}}
                    </span>
                </div>

                <label for="inputTags" class="col-form-label" *ngIf="userIsRockstar">Habilitats:</label>
                <label for="inputTags" class="col-form-label" *ngIf="!userIsRockstar">Serveis:</label>

                <input (keydown.enter)="addTagSubmit(inputValue)" formControlName="inputTags" class="form-control" id="inputTags" type="text" placeholder="Disseny, tecnologia..." (input)="onSearchChange($event.target.value)" [(ngModel)]="inputValue">

                <div class="form-group d-flex mt-2">
                    <div class="d-flex align-items-center userTag mr-2" *ngFor="let tag of tags; let i = index">
                        <p class="m-0 pl-2">{{tag}}</p>
                        <div class="input-group-append">
                            <button (click)="deleteTag(tag)" class="btn" type="button">X</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.experiencia}">
                    <label for="InputExperiencia">Experiència</label>
                    <input formControlName="experiencia" type="text" class="form-control" id="INuptExperiencia" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.experiencia">
                        {{formErrors.experiencia}}
                    </span>
                </div>

                <div *ngIf="userIsRockstar" class="form-group" [ngClass]="{'is-invalid' : formErrors.educacio}">
                    <label for="InputEducacio">Educació</label>
                    <input formControlName="educacio" type="text" class="form-control" id="InputEducacio" (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.educacio">
                        {{formErrors.educacio}}
                    </span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputLinkedin">LinkedIn</label>
                        <input formControlName="inputLinkedIn" type="text" class="form-control" id="inputLinkedin" placeholder="https://www.linkedin.com/in/">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputTwitter">Twitter</label>
                        <input formControlName="inputTwitter" type="text" class="form-control" id="inputTwitter" placeholder="https://twitter.com/">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputInstagram">Instagram</label>
                        <input formControlName="inputInstagram" type="text" class="form-control" id="inputInstagram" placeholder="https://www.instagram.com/">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputFacebook">Facebook</label>
                        <input formControlName="inputFacebook" type="text" class="form-control" id="inputFacebook" placeholder="https://www.facebook.com/">
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'is-invalid' : formErrors.pdfFile}">
                    <label for="InputPdfFile">Afegir CV o presentació de l'empresa</label><br>
                    <span class="help-block" *ngIf="formErrors.pdfFile">
                        {{formErrors.pdfFile}}
                    </span>
                </div>

                <div class="text-center">
                    <label class="afegeix-link">
                    <input accept=".pdf" (change)="onPdfSelected($event)" type="file" style="display: none;">
                    <a>+ Afegeix PDF</a>
                  </label>
                </div>

                <div *ngIf="pdfArray" class="mb-3">
                    <img width="30" src="../../assets/simpleicons/fileicon.png" alt="">
                    <span class="ml-3" *ngIf="currentUser && currentUser.userType == 1">Currículum {{usuariObject.nom_rockstar}}</span>
                    <span class="ml-3" *ngIf="currentUser && currentUser.userType == 0">Presentació {{usuariObject.nom_empresa}}</span>

                </div>

                <div *ngIf="pdfArray" class="text-center elimina-link mt-3">
                    <a (click)="resetPdfArray()">Esborra els arxius seleccionats</a>
                </div>

                <div class="text-center">
                    <button type="submit" id="btn-login" class="btn btn-primary">ACTUALITZA EL PERFIL</button>
                </div>
            </form>


        </div>
    </div>

</section>

<app-footer></app-footer>