<section id="hub-rock-choose">

    <div class="container">

        <h1 id="title" class="text-center">Dona't d'alta</h1>

        <h2 id="subtitle">Sóc</h2>

        <hr id="hr">

        <div class="row d-flex justify-content-between">

            <div class="col">
                <div id="img"></div>
            </div>

            <div class="col">
                <div id="img"></div>
            </div>

        </div>

        <p id="text" class="text-center">
            Rockstar: qualsevol persona amb un desig incontrolable de millorar la societat
               i de participar en els reptes de Hub & Rock.
        </p>

        <div class="text-center">
            <button id="btn-next" type="button" class="btn btn-primary">SEGÜENT PAS</button>
        </div>
        
    </div>
    
</section>